node-red/flows.json
[
  {
    "id": "33af9e8a.0fb3f2",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "38e56a9f.2ca156",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata cadastro de agendamento",
    "func": "const { time, times, duration_minutes, section, weekdays } = msg.payload || {};\n\nmsg.payload = {\n    command: \"schedule\",\n    action: \"create\",\n    times: Array.isArray(times) && times.length ? times : [time],\n    duration_minutes,\n    valve_pin: section,\n    weekdays\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1520,
    "y": 200,
    "wires": [
      [
        "1a73e6be.d28d09"
      ]
    ]
  },
  {
    "id": "7c602e02.7e8c7",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Horários do sistema",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, { command: \"schedule\", action: \"list\" });\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 1260,
    "y": 380,
    "wires": [
      [
        "afe05d94.376be"
      ],
      [],
      []
    ]
  },
  {
    "id": "1a73e6be.d28d09",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Cadastrar agendamento",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 1730,
    "y": 200,
    "wires": [
      [
        "a9c1b3d4.e5f607"
      ],
      [
        "a74e60b8.3d5b4"
      ],
      []
    ]
  },
  {
    "id": "a9c1b3d4.e5f607",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma cadastro realizado",
    "func": "const output = String(msg.payload || \"\").trim();\n\nif (!output) {\n    return null;\n}\n\nmsg.payload = output;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1990,
    "y": 200,
    "wires": [
      [
        "7c602e02.7e8c7",
        "d98e5f28.7a7c9"
      ]
    ]
  },
  {
    "id": "a74e60b8.3d5b4",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de cadastro",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_create_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1990,
    "y": 260,
    "wires": [
      [
        "681694c2.ce0b1c"
      ]
    ]
  },
  {
    "id": "d98e5f28.7a7c9",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Vai para Agendamentos",
    "func": "msg.payload = { tab: \"Agendamentos\" };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1990,
    "y": 200,
    "wires": [
      [
        "f4f7f5e3.5d6d1"
      ]
    ]
  },
  {
    "id": "f4f7f5e3.5d6d1",
    "type": "ui_ui_control",
    "z": "33af9e8a.0fb3f2",
    "name": "Abrir Agendamentos",
    "events": "all",
    "x": 2210,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "afe05d94.376be",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata horários cadastrados",
    "func": "const text = String(msg.payload || \"\").trim();\nlet records = [];\n\nif (text) {\n    const parsed = JSON.parse(text);\n    records = Array.isArray(parsed) ? parsed : [parsed];\n}\n\nfunction firstTime(record) {\n    if (Array.isArray(record.times) && record.times.length) return String(record.times[0]);\n    return String(record.time || \"\");\n}\n\nrecords.sort((a, b) => firstTime(a).localeCompare(firstTime(b)));\n\nmsg.topic = \"schedules\";\nmsg.payload = records;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1530,
    "y": 380,
    "wires": [
      [
        "25072c26.808454",
        "d6f0b5a1.42c8e3"
      ]
    ]
  },
  {
    "id": "7b2701e3.b525",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Deletar agendamento",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, { command: \"schedule\", action: \"delete\", id: msg.payload });\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 1120,
    "y": 640,
    "wires": [
      [
        "7c602e02.7e8c7"
      ],
      [
        "b1e4a92c.d5f6a8"
      ],
      []
    ]
  },
  {
    "id": "b1e4a92c.d5f6a8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de exclusão",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn [msg, msg];",
    "outputs": 2,
    "noerr": 0,
    "x": 1330,
    "y": 700,
    "wires": [
      [
        "25072c26.808454"
      ],
      [
        "c2f5b93d.e6a7b9"
      ]
    ]
  },
  {
    "id": "c2f5b93d.e6a7b9",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1560,
    "y": 700,
    "wires": []
  },
  {
    "id": "c86fb12c.66d1e",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata edição de agendamento",
    "func": "const { id, time, times, duration_minutes, valve_pin, weekdays } = msg.payload || {};\n\nmsg.payload = {\n    command: \"schedule\",\n    action: \"update\",\n    id,\n    times: Array.isArray(times) && times.length ? times : [time],\n    duration_minutes,\n    valve_pin,\n    weekdays\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 520,
    "wires": [
      [
        "46dd0feb.e4f05"
      ]
    ]
  },
  {
    "id": "46dd0feb.e4f05",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Atualizar agendamento",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 970,
    "y": 520,
    "wires": [
      [
        "b8d2c4e6.f70123"
      ],
      [
        "e95d01ea.97e4c"
      ],
      []
    ]
  },
  {
    "id": "b8d2c4e6.f70123",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma edição realizada",
    "func": "const output = String(msg.payload || \"\").trim();\n\nif (!output) {\n    return null;\n}\n\nmsg.payload = output;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1210,
    "y": 520,
    "wires": [
      [
        "7c602e02.7e8c7",
        "d98e5f28.7a7c9"
      ]
    ]
  },
  {
    "id": "e95d01ea.97e4c",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de edição",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_update_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1210,
    "y": 560,
    "wires": [
      [
        "25072c26.808454"
      ]
    ]
  },
  {
    "id": "7108fe00.02ffe4",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "Injetor",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "x": 900,
    "y": 380,
    "wires": [
      [
        "7c602e02.7e8c7"
      ]
    ]
  },
  {
    "id": "2a2ceafd.1bf566",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Irrigar manualmente",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 880,
    "y": 940,
    "wires": [
      [
        "8d0b3804.e60cf8",
        "e1d8e3e3.a8b4e"
      ],
      [
        "be8f6931.c70278"
      ],
      []
    ]
  },
  {
    "id": "a51e1954.c69208",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata records cadastrados",
    "func": "const text = String(msg.payload || \"\").trim();\nmsg.topic = \"valves\";\nmsg.payload = text ? JSON.parse(text) : [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 880,
    "y": 780,
    "wires": [
      [
        "681694c2.ce0b1c",
        "25072c26.808454",
        "d6f0b5a1.42c8e3"
      ]
    ]
  },
  {
    "id": "8d0b3804.e60cf8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Válvulas do sistema",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, { command: \"valve\", action: \"list\" });\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 570,
    "y": 780,
    "wires": [
      [
        "a51e1954.c69208"
      ],
      [],
      []
    ]
  },
  {
    "id": "2bf95808.ace198",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 350,
    "y": 780,
    "wires": [
      [
        "8d0b3804.e60cf8"
      ]
    ]
  },
  {
    "id": "5b92c8ad.78d3e8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata acionamento manual",
    "func": "const { action, valve_pin, duration_minutes, id } = msg.payload || {};\n\nmsg.payload = {\n    command: \"valve\",\n    action: \"manual\",\n    pin: valve_pin,\n    valve_action: action,\n    schedule_id: id\n};\nif (action === \"on\") {\n    msg.payload.duration_minutes = duration_minutes;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 860,
    "y": 840,
    "wires": [
      [
        "2a2ceafd.1bf566"
      ]
    ]
  },
  {
    "id": "1c4a5ea3.39acf1",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Atualizar tempo de desligamento padrão",
    "info": "",
    "x": 520,
    "y": 1100,
    "wires": []
  },
  {
    "id": "79dae2fe.460f9c",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Ligar e desligar válvulas manualmente",
    "info": "",
    "x": 410,
    "y": 740,
    "wires": []
  },
  {
    "id": "43d9fe4d.4f078",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Exibe o tempo padrão de desligamento",
    "info": "",
    "x": 430,
    "y": 1220,
    "wires": []
  },
  {
    "id": "dbd8eebe.dbaa",
    "type": "file in",
    "z": "33af9e8a.0fb3f2",
    "name": "historico pesquisado",
    "filename": "data/history_search_results.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 520,
    "y": 1500,
    "wires": [
      [
        "86f3f135.5c101"
      ]
    ]
  },
  {
    "id": "86f3f135.5c101",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata records cadastrados",
    "func": "records = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\nrecords = msg.payload.split(',,')\n\nrecords.pop();\n\nfor (let i = 0; i < records.length; i++) {\n    records[i] = JSON.parse(records[i])\n}\n\n\nrecords.sort((a,b) => {\n    return a.time > b.time;\n})\n\n//if (records.length > 0) {\n    msg.payload = records.reverse();\n    return msg;\n//}\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 1500,
    "wires": [
      [
        "dad8cd89.f8f81"
      ]
    ]
  },
  {
    "id": "a0be43fb.8a274",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 270,
    "y": 1500,
    "wires": [
      [
        "dbd8eebe.dbaa"
      ]
    ]
  },
  {
    "id": "be8f6931.c70278",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1110,
    "y": 980,
    "wires": []
  },
  {
    "id": "94446db.1e5ca9",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1650,
    "y": 1660,
    "wires": []
  },
  {
    "id": "ef1f5bb.cb3c4a8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata pesquisa histórico",
    "func": "const { action, start_date = \"\", end_date = \"\" } = msg.payload || {};\n\nmsg.payload = { command: \"history\", action, start_date, end_date };\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1270,
    "y": 1600,
    "wires": [
      [
        "9ee06733.0ccea8"
      ]
    ]
  },
  {
    "id": "9ee06733.0ccea8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Pesquisar histórico",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 1420,
    "y": 1700,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "32e7f27.7c1c80e",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1670,
    "y": 1880,
    "wires": []
  },
  {
    "id": "8c3e14f2.a7b901",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "",
    "name": "Título do sistema",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<script>\ndocument.title = \"Sistema de Irrigação\";\n</script>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "global",
    "x": 190,
    "y": 80,
    "wires": []
  },
  {
    "id": "25072c26.808454",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "50133a39.273354",
    "name": "Agendamentos",
    "order": 1,
    "width": "24",
    "height": "18",
    "format": "<style>\n:root {\n  --ir-green: #11877d;\n  --ir-green-dark: #0d756c;\n  --ir-green-soft: #e8f7f2;\n  --ir-ink: #071a18;\n  --ir-muted: #6c7476;\n  --ir-line: #e1e5e5;\n  --ir-canvas: #edf1f3;\n  --ir-panel: #f8fafb;\n  --ir-white: #fff;\n  --ir-danger: #ef4545;\n}\n\nbody.nr-dashboard-theme {\n  background: var(--ir-canvas) !important;\n  color: var(--ir-ink);\n  font-family: Inter, Roboto, Arial, sans-serif;\n}\n\n#nr-dashboard md-toolbar,\n#nr-dashboard md-sidenav { display: none !important; }\n#nr-dashboard md-content { overflow-x: hidden !important; }\n.nr-dashboard-theme .masonry-container {\n  width: 100% !important;\n  max-width: none !important;\n  margin: 0 !important;\n}\n.nr-dashboard-theme ui-card-panel {\n  position: relative !important;\n  inset: auto !important;\n  display: block !important;\n  width: 100% !important;\n  margin: 0 !important;\n}\n.nr-dashboard-theme .nr-dashboard-cardpanel,\n.nr-dashboard-theme .nr-dashboard-cardcontainer {\n  width: 100% !important;\n  height: auto !important;\n  min-height: 0 !important;\n  background: transparent !important;\n}\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  position: relative !important;\n  inset: auto !important;\n  width: 100% !important;\n  height: auto !important;\n  min-height: 0 !important;\n  margin: 0 !important;\n  overflow: visible !important;\n  border: 0 !important;\n  border-radius: 0 !important;\n  background: transparent !important;\n  box-shadow: none !important;\n}\n.nr-dashboard-theme .nr-dashboard-template .ir-shell p,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h1,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h2,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h3,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h4,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal p,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal h2 {\n  background-color: transparent !important;\n}\n.nr-dashboard-theme .nr-dashboard-template .ir-shell svg path,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal svg path { fill: none !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-eyebrow,\n.nr-dashboard-theme .nr-dashboard-template .ir-next-card-label { color: var(--ir-green) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-subtitle,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal-text { color: var(--ir-muted) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-title,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal-title { color: var(--ir-ink) !important; }\n\n.ir-shell, .ir-shell * { box-sizing: border-box !important; }\n.ir-shell {\n  width: 100%;\n  min-height: 100vh;\n  margin: 0;\n  overflow: hidden;\n  border-radius: 0;\n  background: var(--ir-panel);\n  box-shadow: none;\n}\n.ir-topbar {\n  display: flex;\n  height: 60px;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0 22px;\n  background: var(--ir-green);\n  color: #fff;\n}\n.ir-brand, .ir-system, .ir-brand-mark, .ir-online {\n  display: flex;\n  align-items: center;\n}\n.ir-brand { gap: 12px; font-size: 16px; font-weight: 800; }\n.ir-brand-mark { gap: 10px; }\n.ir-brand svg { width: 21px; height: 21px; }\n.ir-menu-button {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  place-items: center;\n  border: 0;\n  border-radius: 9px;\n  padding: 0;\n  background: transparent;\n  color: inherit;\n  cursor: pointer;\n}\n.ir-menu-button:hover { background: rgba(255, 255, 255, .12); }\n.ir-menu-icon { width: 21px; height: 21px; opacity: .95; }\n.ir-system { gap: 14px; }\n.ir-online {\n  gap: 7px;\n  padding: 7px 11px;\n  border-radius: 999px;\n  background: rgba(255, 255, 255, .12);\n  font-size: 12px;\n  font-weight: 700;\n}\n.ir-online-dot {\n  width: 8px;\n  height: 8px;\n  border-radius: 50%;\n  background: #6df0a9;\n  box-shadow: 0 0 0 4px rgba(109, 240, 169, .13);\n}\n.ir-online.is-offline .ir-online-dot {\n  background: #ff7a7a;\n  box-shadow: 0 0 0 4px rgba(255, 122, 122, .16);\n}\n.ir-online.is-reconnecting .ir-online-dot {\n  background: #ffd166;\n  box-shadow: 0 0 0 4px rgba(255, 209, 102, .18);\n}\n.ir-avatar {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  place-items: center;\n  border-radius: 50%;\n  background: rgba(255, 255, 255, .16);\n  font-size: 11px;\n  font-weight: 800;\n}\n.ir-layout { display: flex; min-height: calc(100vh - 60px); }\n.ir-mobile-backdrop { display: none; }\n.ir-sidebar {\n  display: flex;\n  width: 240px;\n  flex: 0 0 240px;\n  flex-direction: column;\n  padding: 22px 14px;\n  border-right: 1px solid var(--ir-line);\n  background: #f6f8f9;\n}\n.ir-nav-label {\n  margin: 0 10px 10px;\n  color: #9aa2a4;\n  font-size: 10px;\n  font-weight: 800;\n  letter-spacing: .09em;\n  text-transform: uppercase;\n}\n.ir-nav { display: grid; gap: 3px; }\n.ir-nav-button {\n  display: flex;\n  width: 100%;\n  height: 41px;\n  align-items: center;\n  gap: 12px;\n  border: 0;\n  border-radius: 10px;\n  padding: 0 12px;\n  background: transparent;\n  color: #13211f;\n  cursor: pointer;\n  font-size: 14px;\n  font-weight: 700;\n  text-align: left;\n  text-decoration: none;\n}\n.ir-nav-button:hover { background: #edf2f1; }\n.ir-nav-button.is-active { background: var(--ir-green); color: #fff; }\n.ir-nav-button svg { width: 18px; height: 18px; flex: 0 0 auto; }\n.ir-next-card {\n  margin-top: auto;\n  padding: 16px 14px;\n  border: 1px solid var(--ir-line);\n  border-radius: 11px;\n  background: #fff;\n}\n.ir-next-card-label {\n  margin: 0 0 8px;\n  color: var(--ir-green);\n  font-size: 10px;\n  font-weight: 900;\n  letter-spacing: .08em;\n  text-transform: uppercase;\n  color: var(--ir-green) !important;\n}\n.ir-next-card strong { display: block; font-size: 20px; line-height: 1.1; }\n.ir-next-card span { display: block; margin-top: 6px; color: var(--ir-muted); font-size: 12px; }\n.ir-content { min-width: 0; flex: 1; padding: clamp(28px, 3vw, 52px) clamp(24px, 4vw, 64px) 52px; }\n.ir-heading {\n  display: flex;\n  align-items: flex-end;\n  justify-content: space-between;\n  gap: 22px;\n}\n.ir-eyebrow {\n  margin: 0 0 5px;\n  color: var(--ir-green);\n  font-size: 11px;\n  font-weight: 900;\n  letter-spacing: .09em;\n  text-transform: uppercase;\n  color: var(--ir-green) !important;\n}\n.ir-title { margin: 0; color: #071614 !important; font-size: 31px; font-weight: 850; line-height: 1.05; }\n.ir-subtitle { margin: 8px 0 0; color: var(--ir-muted) !important; font-size: 14px; }\n.ir-primary-button, .ir-secondary-button, .ir-icon-button, .ir-danger-button {\n  border: 0;\n  cursor: pointer;\n  font: inherit;\n  font-weight: 800;\n}\n.ir-primary-button {\n  display: inline-flex;\n  min-height: 42px;\n  align-items: center;\n  justify-content: center;\n  gap: 9px;\n  border-radius: 10px;\n  padding: 0 18px;\n  background: var(--ir-green);\n  color: #fff;\n  box-shadow: 0 5px 12px rgba(17, 135, 125, .22);\n}\n.ir-primary-button:hover { background: var(--ir-green-dark); }\n.ir-primary-button:disabled, .ir-secondary-button:disabled, .ir-icon-button:disabled {\n  cursor: not-allowed;\n  opacity: .48;\n}\n.ir-primary-button svg { width: 16px; height: 16px; }\n.ir-stats {\n  display: grid;\n  grid-template-columns: repeat(4, minmax(0, 1fr));\n  gap: 14px;\n  margin-top: 28px;\n}\n.ir-stat {\n  min-height: 82px;\n  padding: 17px 18px;\n  border: 1px solid var(--ir-line);\n  border-radius: 12px;\n  background: #fff;\n}\n.ir-stat-label { display: block; margin-bottom: 7px; color: var(--ir-muted); font-size: 12px; }\n.ir-stat-value { color: #071614; font-size: 23px; font-weight: 850; line-height: 1; }\n.ir-stat-value small { margin-left: 5px; color: #858d8f; font-size: 11px; font-weight: 500; }\n.ir-stat-value .ir-live-dot { display: inline-block; width: 9px; height: 9px; margin-right: 5px; border-radius: 50%; background: #24b985; box-shadow: 0 0 0 4px #e2f7ef; vertical-align: 3px; }\n.ir-toolbar {\n  display: flex;\n  align-items: center;\n  gap: 10px;\n  margin-top: 24px;\n}\n.ir-search {\n  position: relative;\n  width: 340px;\n  flex: 0 1 340px;\n  width: 340px !important;\n}\n.ir-search svg {\n  position: absolute;\n  top: 50%;\n  left: 14px;\n  width: 17px;\n  height: 17px;\n  color: #8a9293;\n  transform: translateY(-50%);\n}\n.ir-search input {\n  width: 100%;\n  height: 38px;\n  border: 1px solid #d9dede;\n  border-radius: 9px;\n  padding: 0 13px 0 38px;\n  outline: 0;\n  background: #fff;\n  color: var(--ir-ink);\n  font-size: 14px;\n}\n.ir-search input:focus { border-color: var(--ir-green); box-shadow: 0 0 0 3px rgba(17, 135, 125, .1); }\n.ir-segmented {\n  display: flex;\n  height: 38px;\n  align-items: center;\n  gap: 2px;\n  padding: 3px;\n  border: 1px solid #d9dede;\n  border-radius: 9px;\n  background: #fff;\n}\n.ir-segmented button {\n  height: 30px;\n  border: 0;\n  border-radius: 7px;\n  padding: 0 14px;\n  background: transparent;\n  color: #0d1b19;\n  cursor: pointer;\n  font-size: 12px;\n  font-weight: 800;\n}\n.ir-segmented button.is-active { background: #071a18; color: #fff; }\n.ir-secondary-button {\n  display: inline-flex;\n  height: 38px;\n  align-items: center;\n  justify-content: center;\n  gap: 8px;\n  margin-left: auto;\n  border: 1px solid #d9dede;\n  border-radius: 9px;\n  padding: 0 14px;\n  background: #fff;\n  color: #182321;\n  font-size: 12px;\n}\n.ir-secondary-button svg { width: 15px; height: 15px; }\n.ir-feedback {\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  gap: 14px;\n  margin-top: 18px;\n  padding: 12px 15px;\n  border-radius: 10px;\n  font-size: 13px;\n  font-weight: 700;\n}\n.ir-feedback.is-error { border: 1px solid #ffd1d1; background: #fff0f0; color: #c92f2f; }\n.ir-feedback.is-loading { border: 1px solid #ccece2; background: #edf9f5; color: var(--ir-green-dark); }\n.ir-feedback button { border: 0; background: transparent; color: inherit; cursor: pointer; font-weight: 800; }\n.ir-table-wrap {\n  margin-top: 14px;\n  overflow: visible;\n  border: 1px solid var(--ir-line);\n  border-radius: 13px;\n  background: #fff;\n}\n.ir-table { width: 100%; border-collapse: separate; border-spacing: 0; table-layout: fixed; }\n.ir-table th {\n  height: 42px;\n  padding: 0 13px;\n  border-bottom: 1px solid var(--ir-line);\n  background: #f5f7f8;\n  color: #697173;\n  font-size: 10px;\n  font-weight: 900;\n  letter-spacing: .06em;\n  text-align: left;\n  text-transform: uppercase;\n}\n.ir-table th:first-child { border-radius: 12px 0 0; }\n.ir-table th:last-child { border-radius: 0 12px 0 0; }\n.ir-table td {\n  height: 84px;\n  padding: 12px 13px;\n  border-bottom: 1px solid #edf0f0;\n  color: #101b19;\n  font-size: 13px;\n  vertical-align: middle;\n}\n.ir-table tr:last-child td { border-bottom: 0; }\n.ir-table tr.is-watering td { background: linear-gradient(90deg, #f1fbf7, #fff); }\n.ir-time { display: block; color: #071614; font-size: 17px; font-weight: 850; }\n.ir-time-note { display: block; margin-top: 3px; color: #8a9293; font-size: 10px; }\n.ir-time-note.is-live { color: #16a472; font-weight: 800; }\n.ir-section { display: flex; min-width: 0; align-items: center; gap: 10px; }\n.ir-section-icon {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  flex: 0 0 auto;\n  place-items: center;\n  border-radius: 10px;\n  background: #e7f4f1;\n  color: var(--ir-green);\n}\n.ir-section-icon svg { width: 17px; height: 17px; }\n.ir-section-copy { min-width: 0; }\n.ir-section-copy strong { display: block; overflow: hidden; color: #101b19; font-size: 13px; line-height: 1.15; text-overflow: ellipsis; }\n.ir-section-copy span { display: block; margin-top: 3px; color: #92999b; font-size: 10px; }\n.ir-days { display: flex; flex-wrap: wrap; gap: 4px; }\n.ir-day {\n  display: grid;\n  width: 20px;\n  height: 20px;\n  place-items: center;\n  border-radius: 5px;\n  background: #eef1f1;\n  color: #a1a7a8;\n  font-size: 8px;\n  font-weight: 900;\n  text-transform: uppercase;\n}\n.ir-day.is-active { background: var(--ir-green); color: #fff; }\n.ir-every-day { color: #687173; font-size: 12px; }\n.ir-status {\n  display: inline-flex;\n  align-items: center;\n  gap: 6px;\n  border-radius: 999px;\n  padding: 6px 10px;\n  font-size: 10px;\n  font-weight: 850;\n  white-space: nowrap;\n}\n.ir-status::before { content: \"\"; width: 7px; height: 7px; border-radius: 50%; background: currentColor; opacity: .85; }\n.ir-status-on { background: #e2f7ef; color: #0a9569; }\n.ir-status-off { background: #f0f2f2; color: #858d8f; }\n.ir-status-watering { background: #e2f7ef; color: #099b6c; }\n.ir-sr-only {\n  position: absolute !important;\n  width: 1px !important;\n  height: 1px !important;\n  overflow: hidden !important;\n  clip: rect(0, 0, 0, 0) !important;\n  white-space: nowrap !important;\n}\n.ir-row-actions { position: relative; display: flex; align-items: center; gap: 7px; }\n.ir-danger-button {\n  display: inline-flex;\n  height: 34px;\n  align-items: center;\n  gap: 7px;\n  border-radius: 8px;\n  padding: 0 11px;\n  background: #ffe9e9;\n  color: #e33a3a;\n  font-size: 11px;\n}\n.ir-icon-button {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  place-items: center;\n  border-radius: 8px;\n  background: #f1f4f4;\n  color: #14211f;\n}\n.ir-icon-button svg { width: 16px; height: 16px; }\n.ir-switch { position: relative; display: inline-flex; width: 37px; height: 22px; flex: 0 0 auto; }\n.ir-switch input { position: absolute; opacity: 0; pointer-events: none; }\n.ir-switch-slider { position: absolute; inset: 0; border-radius: 999px; background: #dce1e1; cursor: pointer; transition: .15s ease; }\n.ir-switch-slider::before {\n  content: \"\";\n  position: absolute;\n  top: 3px;\n  left: 3px;\n  width: 16px;\n  height: 16px;\n  border-radius: 50%;\n  background: #fff;\n  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);\n  transition: .15s ease;\n}\n.ir-switch input:checked + .ir-switch-slider { background: var(--ir-green); }\n.ir-switch input:checked + .ir-switch-slider::before { transform: translateX(15px); }\n.ir-action-menu {\n  position: absolute;\n  top: 39px;\n  right: 0;\n  z-index: 20;\n  display: grid;\n  width: 155px;\n  padding: 5px;\n  border: 1px solid var(--ir-line);\n  border-radius: 9px;\n  background: #fff;\n  box-shadow: 0 12px 28px rgba(12, 31, 28, .16);\n}\n.ir-action-menu button {\n  display: flex;\n  height: 34px;\n  align-items: center;\n  gap: 8px;\n  border: 0;\n  border-radius: 6px;\n  padding: 0 9px;\n  background: transparent;\n  color: #172320;\n  cursor: pointer;\n  font-size: 11px;\n  font-weight: 750;\n  text-align: left;\n}\n.ir-action-menu button:hover { background: #f1f5f4; }\n.ir-action-menu button.is-danger { color: #dc3636; }\n.ir-empty {\n  display: grid;\n  min-height: 280px;\n  margin-top: 14px;\n  place-items: center;\n  border: 1px dashed #cfd6d5;\n  border-radius: 13px;\n  background: #fff;\n  text-align: center;\n}\n.ir-empty-icon { color: var(--ir-green); }\n.ir-empty-icon svg { width: 38px; height: 38px; }\n.ir-loading-spinner {\n  width: 38px;\n  height: 38px;\n  color: var(--ir-green);\n  animation: ir-spin .8s linear infinite;\n}\n.ir-loading-spinner circle {\n  opacity: .25;\n}\n.ir-loading-spinner path {\n  opacity: .9;\n}\n@keyframes ir-spin {\n  to { transform: rotate(360deg); }\n}\n.ir-empty h2 { margin: 12px 0 0; font-size: 18px; }\n.ir-empty p { margin: 7px 0 0; color: var(--ir-muted); font-size: 13px; }\n.ir-modal-backdrop {\n  position: fixed;\n  inset: 0;\n  z-index: 1000;\n  display: grid;\n  place-items: center;\n  padding: 20px;\n  background: rgba(4, 20, 18, .48);\n  backdrop-filter: blur(3px);\n}\n.ir-modal {\n  width: min(560px, 100%);\n  max-height: calc(100vh - 40px);\n  overflow-y: auto;\n  border: 1px solid var(--ir-line);\n  border-radius: 15px;\n  padding: 24px;\n  background: #fff;\n  box-shadow: 0 24px 70px rgba(5, 25, 22, .22);\n}\n.ir-modal.is-small { width: min(430px, 100%); }\n.ir-modal-title { margin: 0; color: var(--ir-ink) !important; font-size: 23px; line-height: 1.15; }\n.ir-modal-text { margin: 8px 0 20px; color: var(--ir-muted) !important; font-size: 13px; line-height: 1.5; }\n.ir-modal-warning {\n  margin: 12px 0 18px;\n  padding: 12px 14px;\n  border: 1px solid #ffc9a8;\n  border-radius: 10px;\n  background: #fff4ec;\n  color: #b45309;\n  font-size: 13px;\n  font-weight: 800;\n  line-height: 1.4;\n}\n.ir-edit-grid { display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 15px; }\n.ir-field label { display: block; margin-bottom: 7px; color: #26312f; font-size: 12px; font-weight: 800; }\n.ir-field input, .ir-field select {\n  width: 100%;\n  height: 44px;\n  border: 1px solid #d4dada;\n  border-radius: 9px;\n  padding: 0 12px;\n  outline: 0;\n  background: #fff;\n  color: var(--ir-ink);\n  font-size: 14px;\n}\n.ir-field input:focus, .ir-field select:focus { border-color: var(--ir-green); box-shadow: 0 0 0 3px rgba(17, 135, 125, .1); }\n.ir-field-wide { grid-column: 1 / -1; }\n.ir-time-field-head {\n  display: flex;\n  align-items: baseline;\n  justify-content: space-between;\n  gap: 12px;\n  margin-bottom: 9px;\n}\n.ir-time-field-head label { margin-bottom: 0; }\n.ir-time-limit { color: var(--ir-muted); font-size: 11px; font-weight: 700; }\n.ir-edit-times {\n  display: grid;\n  grid-template-columns: repeat(3, minmax(0, 1fr));\n  gap: 10px;\n}\n.ir-edit-time-card {\n  display: flex;\n  min-width: 0;\n  align-items: center;\n  gap: 8px;\n  border: 1px solid #d4dada;\n  border-radius: 10px;\n  padding: 7px 7px 7px 11px;\n  background: #fff;\n}\n.ir-edit-time-card:focus-within {\n  border-color: var(--ir-green);\n  box-shadow: 0 0 0 3px rgba(17, 135, 125, .1);\n}\n.ir-field .ir-edit-time-card input {\n  height: 32px;\n  border: 0;\n  border-radius: 0;\n  padding: 0;\n  box-shadow: none;\n  font-size: 16px;\n  font-weight: 800;\n}\n.ir-field .ir-edit-time-card input:focus { border: 0; box-shadow: none; }\n.ir-time-remove-button {\n  display: grid;\n  width: 30px;\n  height: 30px;\n  flex: 0 0 30px;\n  place-items: center;\n  border: 0;\n  border-radius: 8px;\n  background: #f4f7f7;\n  color: #60706d;\n  cursor: pointer;\n  font-size: 17px;\n  font-weight: 850;\n}\n.ir-time-remove-button:hover { background: #ffecec; color: #d43f3f; }\n.ir-add-time-row { display: flex; justify-content: flex-start; margin-top: 10px; }\n.ir-add-time-button {\n  display: inline-flex;\n  min-height: 34px;\n  align-items: center;\n  justify-content: center;\n  gap: 7px;\n  border: 1px solid rgba(17, 135, 125, .28);\n  border-radius: 999px;\n  padding: 0 14px;\n  background: var(--ir-green-soft);\n  color: var(--ir-green);\n  cursor: pointer;\n  font: inherit;\n  font-size: 12px;\n  font-weight: 900;\n}\n.ir-add-time-button:hover { border-color: var(--ir-green); background: var(--ir-green); color: #fff; }\n.ir-add-time-button:disabled { cursor: not-allowed; opacity: .45; }\n.ir-weekdays { display: flex; flex-wrap: wrap; gap: 7px; }\n.ir-weekday {\n  display: inline-flex;\n  align-items: center;\n  gap: 6px;\n  border: 1px solid var(--ir-line);\n  border-radius: 8px;\n  padding: 8px 10px;\n  background: #f8faf9;\n  cursor: pointer;\n  font-size: 11px;\n  font-weight: 750;\n}\n.ir-weekday input { width: auto; height: auto; margin: 0; accent-color: var(--ir-green); }\n.ir-edit-switch {\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  gap: 20px;\n  border: 1px solid var(--ir-line);\n  border-radius: 10px;\n  padding: 12px 14px;\n  background: #f7faf9;\n}\n.ir-edit-switch strong { display: block; font-size: 13px; }\n.ir-edit-switch span { display: block; margin-top: 3px; color: var(--ir-muted); font-size: 11px; }\n.ir-modal-actions { display: flex; justify-content: flex-end; gap: 9px; margin-top: 22px; }\n.ir-modal-actions .ir-secondary-button { margin-left: 0; }\n.ir-modal-actions .ir-danger-button { height: 38px; }\n\n@media (max-width: 1050px) {\n  .ir-content { padding-right: 24px; padding-left: 24px; }\n  .ir-stats { grid-template-columns: repeat(2, minmax(0, 1fr)); }\n  .ir-table th, .ir-table td { padding-right: 9px; padding-left: 9px; }\n}\n@media (max-width: 820px) {\n  .ir-layout { min-height: calc(100vh - 60px); }\n  .ir-mobile-backdrop {\n    position: fixed;\n    inset: 60px 0 0;\n    z-index: 900;\n    display: block;\n    background: rgba(5, 24, 22, .42);\n  }\n  .ir-sidebar {\n    position: fixed;\n    top: 60px;\n    bottom: 0;\n    left: 0;\n    z-index: 901;\n    display: flex;\n    max-width: min(82vw, 280px);\n    transform: translateX(-105%);\n    transition: transform .2s ease;\n    box-shadow: 18px 0 36px rgba(7, 26, 24, .22);\n  }\n  .ir-sidebar.is-mobile-open { transform: translateX(0); }\n  .ir-content { padding: 24px 18px 38px; }\n  .ir-heading { align-items: flex-start; }\n  .ir-toolbar { flex-wrap: wrap; }\n  .ir-search { width: 100%; flex-basis: 100%; }\n  .ir-search { width: 100% !important; }\n  .ir-secondary-button { margin-left: 0; }\n  .ir-table-wrap { overflow-x: auto; }\n  .ir-table { min-width: 850px; }\n}\n@media (max-width: 560px) {\n  .ir-topbar { height: 56px; padding: 0 14px; }\n  .ir-mobile-backdrop { inset: 56px 0 0; }\n  .ir-sidebar { top: 56px; }\n  .ir-brand { gap: 9px; }\n  .ir-system { gap: 8px; }\n  .ir-online { padding: 6px 8px; }\n  .ir-avatar { display: none; }\n  .ir-content { padding: 22px 14px 34px; }\n  .ir-heading { display: block; }\n  .ir-title { font-size: 27px; }\n  .ir-heading .ir-primary-button { width: 100%; margin-top: 18px; }\n  .ir-stats { grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 9px; margin-top: 20px; }\n  .ir-stat { min-height: 76px; padding: 14px; }\n  .ir-stat-value { font-size: 20px; }\n  .ir-segmented { width: 100%; }\n  .ir-segmented button { flex: 1; padding: 0 7px; }\n  .ir-secondary-button { width: 100%; }\n  .ir-table-wrap { overflow: visible; border: 0; background: transparent; }\n  .ir-table { min-width: 0; }\n  .ir-table thead { display: none; }\n  .ir-table, .ir-table tbody, .ir-table tr, .ir-table td { display: block; width: 100%; }\n  .ir-table tr { margin-bottom: 10px; overflow: visible; border: 1px solid var(--ir-line); border-radius: 12px; background: #fff; }\n  .ir-table td { display: flex; height: auto; min-height: 50px; align-items: center; justify-content: space-between; gap: 15px; padding: 10px 13px; border-bottom: 1px solid #edf0f0; text-align: right; }\n  .ir-table tr.is-watering td { background: #f5fcf9; }\n  .ir-table td::before { content: attr(data-label); color: #8a9293; font-size: 9px; font-weight: 900; letter-spacing: .06em; text-transform: uppercase; }\n  .ir-table td:nth-child(3) { align-items: flex-start; }\n  .ir-table td:last-child { border-bottom: 0; }\n  .ir-row-actions { justify-content: flex-end; }\n  .ir-action-menu { right: 0; }\n  .ir-edit-grid { grid-template-columns: 1fr; }\n  .ir-field-wide { grid-column: auto; }\n  .ir-edit-times { grid-template-columns: 1fr; }\n  .ir-modal { padding: 20px 16px; }\n  .ir-modal-actions { display: grid; grid-template-columns: 1fr; }\n  .ir-modal-actions button { width: 100%; }\n}\n</style>\n\n<section class=\"ir-shell\">\n  <header class=\"ir-topbar\">\n    <div class=\"ir-brand\">\n      <button type=\"button\" class=\"ir-menu-button\" aria-label=\"Abrir menu\" ng-click=\"toggleMobileMenu($event)\">\n        <svg class=\"ir-menu-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" aria-hidden=\"true\"><path d=\"M4 6h16M4 12h16M4 18h16\"/></svg>\n      </button>\n      <span class=\"ir-brand-mark\">\n        <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg>\n        <span>Irriga</span>\n      </span>\n    </div>\n    <div class=\"ir-system\">\n      <div class=\"ir-online\" ng-class=\"systemStatusClass()\" title=\"{{ systemStatusTitle() }}\"><span class=\"ir-online-dot\"></span>{{ systemStatusLabel() }}</div>\n      <span class=\"ir-avatar\">IR</span>\n    </div>\n  </header>\n\n  <div class=\"ir-layout\">\n    <div class=\"ir-mobile-backdrop\" ng-if=\"mobile_menu_open\" ng-click=\"closeMobileMenu()\"></div>\n    <aside class=\"ir-sidebar\" ng-class=\"{'is-mobile-open': mobile_menu_open}\">\n      <p class=\"ir-nav-label\">Irrigação</p>\n      <nav class=\"ir-nav\" aria-label=\"Navegação principal\">\n        <button type=\"button\" class=\"ir-nav-button is-active\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\"/><path d=\"M16 3v4M8 3v4M3 10h18\"/></svg>\n          Agendamentos\n        </button>\n        <a class=\"ir-nav-button\" href=\"#!/1\" ng-click=\"navigateToTab(1, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 5v14M5 12h14\"/></svg>\n          Novo agendamento\n        </a>\n        <a class=\"ir-nav-button\" href=\"#!/2\" ng-click=\"navigateToTab(2, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg>\n          Histórico\n        </a>\n        <a class=\"ir-nav-button\" href=\"#!/3\" ng-click=\"navigateToTab(3, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 15.5A3.5 3.5 0 1 0 12 8a3.5 3.5 0 0 0 0 7.5Z\"/><path d=\"M19.4 15a1.8 1.8 0 0 0 .36 1.98l.04.04a2 2 0 0 1-2.83 2.83l-.04-.04A1.8 1.8 0 0 0 15 19.4a1.8 1.8 0 0 0-1 .6l-.03.04a2 2 0 0 1-3.42-1.42v-.05A1.8 1.8 0 0 0 9 17.6a1.8 1.8 0 0 0-1.98.36l-.04.04a2 2 0 0 1-2.83-2.83l.04-.04A1.8 1.8 0 0 0 4.6 13a1.8 1.8 0 0 0-.6-1l-.04-.03a2 2 0 0 1 1.42-3.42h.05A1.8 1.8 0 0 0 6.4 7a1.8 1.8 0 0 0-.36-1.98L6 4.98a2 2 0 0 1 2.83-2.83l.04.04A1.8 1.8 0 0 0 11 2.6a1.8 1.8 0 0 0 1-.6l.03-.04a2 2 0 0 1 3.42 1.42v.05A1.8 1.8 0 0 0 17 4.4a1.8 1.8 0 0 0 1.98-.36l.04-.04a2 2 0 0 1 2.83 2.83l-.04.04A1.8 1.8 0 0 0 19.4 9c.2.33.4.65.6 1l.04.03a2 2 0 0 1-1.42 3.42h-.05A1.8 1.8 0 0 0 19.4 15Z\"/></svg>\n          Configurações\n        </a>\n      </nav>\n\n      <div class=\"ir-next-card\">\n        <p class=\"ir-next-card-label\">Próxima rega</p>\n        <strong>{{ nextWateringCountdown() }}</strong>\n        <span>{{ nextWateringSection() }}</span>\n      </div>\n    </aside>\n\n    <main class=\"ir-content\">\n      <div class=\"ir-heading\">\n        <div>\n          <p class=\"ir-eyebrow\">Irrigação</p>\n          <h1 class=\"ir-title\">Agendamentos</h1>\n          <p class=\"ir-subtitle\">Horários configurados para ligar as seções automaticamente.</p>\n        </div>\n        <a class=\"ir-primary-button\" href=\"#!/1\" ng-click=\"navigateToTab(1, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" aria-hidden=\"true\"><path d=\"M12 5v14M5 12h14\"/></svg>\n          Novo agendamento\n        </a>\n      </div>\n\n      <div class=\"ir-stats\">\n        <article class=\"ir-stat\">\n          <span class=\"ir-stat-label\">Ativos</span>\n          <div class=\"ir-stat-value\">{{ activeScheduleCount() }}<small>agendamentos</small></div>\n        </article>\n        <article class=\"ir-stat\">\n          <span class=\"ir-stat-label\">Regando agora</span>\n          <div class=\"ir-stat-value\"><span class=\"ir-live-dot\" ng-if=\"wateringNowCount() > 0\"></span>{{ wateringNowCount() }}<small>{{ wateringNowCount() === 1 ? \"válvula\" : \"válvulas\" }}</small></div>\n        </article>\n        <article class=\"ir-stat\">\n          <span class=\"ir-stat-label\">Água hoje</span>\n          <div class=\"ir-stat-value\">{{ scheduledMinutesToday() }}<small>min programados</small></div>\n        </article>\n        <article class=\"ir-stat\">\n          <span class=\"ir-stat-label\">Próxima rega</span>\n          <div class=\"ir-stat-value\">{{ nextWateringTime() }}<small>{{ nextWateringShortSection() }}</small></div>\n        </article>\n      </div>\n\n      <div class=\"ir-feedback is-error\" ng-if=\"schedule_error\">\n        <span>{{ schedule_error }}</span>\n        <button type=\"button\" ng-click=\"dismissScheduleError()\">Fechar</button>\n      </div>\n      <div class=\"ir-feedback is-loading\" ng-if=\"editing_state.submitting\">Salvando alterações...</div>\n      <div class=\"ir-feedback is-loading\" ng-if=\"editing_state.enabled_submitting\">Atualizando liga/desliga...</div>\n\n      <div class=\"ir-toolbar\">\n        <label class=\"ir-search\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"11\" cy=\"11\" r=\"7\"/><path d=\"m20 20-4-4\"/></svg>\n          <input type=\"search\" ng-model=\"search_query\" placeholder=\"Buscar seção ou horário...\" aria-label=\"Buscar seção ou horário\">\n        </label>\n        <div class=\"ir-segmented\" aria-label=\"Filtrar agendamentos\">\n          <button type=\"button\" ng-class=\"{'is-active': schedule_filter === 'all'}\" ng-click=\"schedule_filter = 'all'\">Todos</button>\n          <button type=\"button\" ng-class=\"{'is-active': schedule_filter === 'active'}\" ng-click=\"schedule_filter = 'active'\">Ativos</button>\n          <button type=\"button\" ng-class=\"{'is-active': schedule_filter === 'paused'}\" ng-click=\"schedule_filter = 'paused'\">Pausados</button>\n        </div>\n        <button type=\"button\" class=\"ir-secondary-button\" ng-click=\"toggleSort()\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M4 7h16M7 12h10M10 17h4\"/></svg>\n          Ordenar\n        </button>\n      </div>\n\n      <div class=\"ir-empty\" ng-if=\"!schedules_loaded\">\n        <div>\n          <svg class=\"ir-loading-spinner\" viewBox=\"0 0 24 24\" fill=\"none\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"8\" stroke=\"currentColor\" stroke-width=\"2\"/><path d=\"M20 12a8 8 0 0 0-8-8\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\"/></svg>\n          <h2>Carregando agendamentos...</h2>\n        </div>\n      </div>\n\n      <div class=\"ir-table-wrap\" ng-if=\"!editing_state.editing && schedules_loaded && schedules.length > 0\">\n        <table class=\"ir-table\" id=\"table\" border=\"0\">\n          <colgroup><col style=\"width:14%\"><col style=\"width:11%\"><col style=\"width:24%\"><col style=\"width:18%\"><col style=\"width:18%\"><col style=\"width:15%\"></colgroup>\n          <thead>\n            <tr>\n              <th>Horário</th>\n              <th>Duração</th>\n              <th>Seção / válvula</th>\n              <th>Dias</th>\n              <th>Agendamento</th>\n              <th>Ações</th>\n            </tr>\n          </thead>\n          <tbody>\n            <tr ng-repeat=\"schedule in visibleSchedules() track by schedule.id\" ng-class=\"{'is-watering': sectionStatus(schedule) === 1}\">\n              <td data-label=\"Horário\">\n                <span class=\"ir-time\">{{ formatScheduleTimes(schedule) }}</span>\n                <span class=\"ir-time-note is-live\" ng-if=\"sectionStatus(schedule) === 1\">regando agora<span ng-if=\"scheduleCountdown(schedule) !== '--'\"> · faltam {{ scheduleCountdown(schedule) }}</span></span>\n                <span class=\"ir-time-note\" ng-if=\"sectionStatus(schedule) !== 1\">{{ scheduleDayNote(schedule) }}</span>\n              </td>\n              <td data-label=\"Duração\">{{ schedule.duration_minutes }} min</td>\n              <td data-label=\"Seção\">\n                <div class=\"ir-section\">\n                  <span class=\"ir-section-icon\">\n                    <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.7\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg>\n                  </span>\n                  <span class=\"ir-section-copy\"><strong>{{ sectionName(schedule) }}</strong><span>Válvula {{ schedule.valve_pin }}</span></span>\n                </div>\n              </td>\n              <td data-label=\"Dias\">\n                <span class=\"ir-sr-only\" data-label=\"Dias\">{{ formatWeekdays(schedule.weekdays) }}</span>\n                <span class=\"ir-every-day\" ng-if=\"isEveryday(schedule.weekdays)\">Todos os dias</span>\n                <div class=\"ir-days\" ng-if=\"!isEveryday(schedule.weekdays)\">\n                  <span class=\"ir-day\" ng-repeat=\"weekday in weekday_options track by weekday.id\" ng-class=\"{'is-active': isWeekdaySelected(schedule.weekdays, weekday.id)}\">{{ weekday.label.charAt(0) }}</span>\n                </div>\n                <span class=\"ir-sr-only\">{{ formatWeekdays(schedule.weekdays) }}</span>\n              </td>\n              <td data-label=\"Agendamento\">\n                <span class=\"ir-sr-only\" ng-if=\"isScheduleEnabled(schedule)\">Ativo</span>\n                <span class=\"ir-sr-only\" ng-if=\"!isScheduleEnabled(schedule)\">Inativo</span>\n                <span class=\"ir-sr-only\" ng-if=\"sectionStatus(schedule) === 0\">Desligada</span>\n                <span class=\"ir-sr-only\" ng-if=\"sectionStatus(schedule) === 1\">Ligada</span>\n                <span class=\"ir-status ir-status-watering\" ng-if=\"sectionStatus(schedule) === 1\">Regando agora<span ng-if=\"scheduleCountdown(schedule) !== '--'\"> · {{ scheduleCountdown(schedule) }}</span></span>\n                <span class=\"ir-status ir-status-on\" ng-if=\"sectionStatus(schedule) !== 1 && isScheduleEnabled(schedule)\">Ativo</span>\n                <span class=\"ir-status ir-status-off\" ng-if=\"sectionStatus(schedule) !== 1 && !isScheduleEnabled(schedule)\">Inativo</span>\n              </td>\n              <td data-label=\"Ações\">\n                <div class=\"ir-row-actions\">\n                  <button type=\"button\" class=\"ir-danger-button\" ng-if=\"sectionStatus(schedule) === 1\" ng-disabled=\"manual_pending[schedule.id]\" ng-click=\"send({payload:turnScheduleOff(schedule)})\">\n                    <span>□</span>{{ manual_pending[schedule.id] === \"off\" ? \"Desligando...\" : \"Desligar\" }}\n                  </button>\n                  <label class=\"ir-switch\" ng-if=\"sectionStatus(schedule) !== 1\" title=\"Ativar ou pausar agendamento\">\n                    <input type=\"checkbox\" ng-checked=\"isScheduleEnabled(schedule)\" ng-disabled=\"editing_state.enabled_submitting\" ng-click=\"send({payload:toggleScheduleEnabled(schedule)})\">\n                    <span class=\"ir-switch-slider\"></span>\n                  </label>\n                  <button type=\"button\" class=\"ir-icon-button\" aria-label=\"Editar agendamento\" ng-click=\"send({payload:sendData(schedule)})\">\n                    <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"m4 20 4.2-1 10.6-10.6a2 2 0 0 0-2.8-2.8L5.4 16.2 4 20Z\"/><path d=\"m14.8 6.8 2.8 2.8\"/></svg>\n                  </button>\n                  <button type=\"button\" class=\"ir-icon-button\" aria-label=\"Mais ações\" ng-click=\"toggleActionMenu(schedule, $event)\">\n                    <svg viewBox=\"0 0 24 24\" fill=\"currentColor\" aria-hidden=\"true\"><circle cx=\"5\" cy=\"12\" r=\"1.7\"/><circle cx=\"12\" cy=\"12\" r=\"1.7\"/><circle cx=\"19\" cy=\"12\" r=\"1.7\"/></svg>\n                  </button>\n                  <div class=\"ir-action-menu\" ng-if=\"action_menu_id === schedule.id\">\n                    <button type=\"button\" ng-if=\"sectionStatus(schedule) !== 1\" ng-disabled=\"manual_pending[schedule.id]\" ng-click=\"openManualDuration(schedule)\">{{ manual_pending[schedule.id] === \"on\" ? \"Ligando...\" : \"Ligar\" }}</button>\n                    <button type=\"button\" class=\"is-danger\" ng-click=\"openDeleteConfirmation(schedule)\">Excluir agendamento</button>\n                  </div>\n                </div>\n              </td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n\n      <div class=\"ir-empty\" ng-if=\"!editing_state.editing && schedules_loaded && schedules.length === 0\">\n        <div>\n          <div class=\"ir-empty-icon\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg></div>\n          <h2>Nenhum agendamento cadastrado</h2>\n          <p>Crie um novo horário para automatizar a irrigação de uma seção.</p>\n        </div>\n      </div>\n\n      <div class=\"ir-empty\" ng-if=\"!editing_state.editing && schedules_loaded && schedules.length > 0 && visibleSchedules().length === 0\">\n        <div><h2>Nenhum resultado encontrado</h2><p>Tente alterar a busca ou o filtro selecionado.</p></div>\n      </div>\n    </main>\n  </div>\n</section>\n\n<div class=\"ir-modal-backdrop\" ng-if=\"manual_state.open\" ng-click=\"closeManualDuration()\">\n  <div class=\"ir-modal is-small\" ng-click=\"$event.stopPropagation()\">\n    <p class=\"ir-eyebrow\">Acionamento manual</p>\n    <h2 class=\"ir-modal-title\">Ligar {{ manual_state.section }}</h2>\n    <p class=\"ir-modal-text\">Confirme ou altere por quantos minutos a irrigação deve ficar ligada agora.</p>\n    <div class=\"ir-field\"><label>Tempo ligado agora (min)</label><input type=\"number\" min=\"1\" step=\"1\" ng-model=\"manual_state.duration_minutes\"></div>\n    <div class=\"ir-modal-actions\">\n      <button type=\"button\" class=\"ir-secondary-button\" ng-click=\"closeManualDuration()\">Cancelar</button>\n      <button type=\"button\" class=\"ir-primary-button\" ng-disabled=\"!manual_state.duration_minutes || manual_state.duration_minutes < 1\" ng-click=\"send({payload:confirmManualDuration()})\">Ligar agora</button>\n    </div>\n  </div>\n</div>\n\n<div class=\"ir-modal-backdrop\" ng-if=\"delete_state.open\" ng-click=\"closeDeleteConfirmation()\">\n  <div class=\"ir-modal is-small\" ng-click=\"$event.stopPropagation()\">\n    <p class=\"ir-eyebrow\">Excluir agendamento</p>\n    <h2 class=\"ir-modal-title\">Confirmar exclusão?</h2>\n    <p class=\"ir-modal-text\">O agendamento das {{ delete_state.time }} para {{ delete_state.section }} será removido. Esta ação não pode ser desfeita.</p>\n    <div class=\"ir-modal-warning\" ng-if=\"delete_state.running\">Atenção: este agendamento está em execução agora (regando neste momento).</div>\n    <div class=\"ir-modal-actions\">\n      <button type=\"button\" class=\"ir-secondary-button\" ng-click=\"closeDeleteConfirmation()\">Cancelar</button>\n      <button type=\"button\" class=\"ir-danger-button\" ng-click=\"send({payload:confirmDeleteSchedule()})\">Excluir agendamento</button>\n    </div>\n  </div>\n</div>\n\n<form ng-show=\"editing_state.editing\" class=\"ir-modal-backdrop\" id=\"form-editSchedule\" ng-click=\"cancelEdit()\">\n  <div class=\"ir-modal\" ng-click=\"$event.stopPropagation()\">\n    <p class=\"ir-eyebrow\">Edição</p>\n    <h2 class=\"ir-modal-title\">Editar agendamento</h2>\n    <p class=\"ir-modal-text\">Atualize o horário, a duração, a seção e os dias da semana.</p>\n    <div class=\"ir-edit-grid\">\n      <div class=\"ir-field ir-field-wide\">\n        <div class=\"ir-time-field-head\">\n          <label>Horários</label>\n          <span class=\"ir-time-limit\">{{ schedule_form.times.length }}/3 horários</span>\n        </div>\n        <div class=\"ir-edit-times\">\n          <div class=\"ir-edit-time-card\" ng-repeat=\"time in schedule_form.times track by $index\">\n            <input type=\"time\" name=\"time{{$index}}\" ng-model=\"schedule_form.times[$index]\">\n            <button type=\"button\" class=\"ir-time-remove-button\" ng-if=\"schedule_form.times.length > 1\" ng-click=\"removeTime(schedule_form, $index)\" aria-label=\"Remover horário\">×</button>\n          </div>\n        </div>\n        <div class=\"ir-add-time-row\">\n          <button type=\"button\" class=\"ir-add-time-button\" ng-disabled=\"schedule_form.times.length >= 3\" ng-click=\"addTime(schedule_form)\">+ Adicionar horário</button>\n        </div>\n      </div>\n      <div class=\"ir-field\"><label>Tempo ligado (min)</label><input type=\"number\" min=\"1\" name=\"duration_minutes\" ng-model=\"schedule_form.duration_minutes\"></div>\n      <div class=\"ir-field ir-field-wide\">\n        <label>Seção / válvula</label>\n        <select name=\"valve_pin\" ng-model=\"schedule_form.valve_pin\"><option ng-repeat=\"valve in valves track by valve.pin\" ng-value=\"+valve.pin\">{{ valve.section }} · Válvula {{ valve.pin }}</option></select>\n      </div>\n      <div class=\"ir-field ir-field-wide\">\n        <div class=\"ir-edit-switch\">\n          <div><strong>Agendamento automático</strong><span>{{ schedule_form.enabled ? \"Ligado\" : \"Desligado\" }} — controla a execução automática.</span></div>\n          <label class=\"ir-switch\"><input type=\"checkbox\" name=\"enabled\" ng-model=\"schedule_form.enabled\" ng-disabled=\"editing_state.enabled_submitting\" ng-change=\"send({payload:toggleEnabled(schedule_form)})\"><span class=\"ir-switch-slider\"></span></label>\n        </div>\n      </div>\n      <div class=\"ir-field ir-field-wide\">\n        <label>Dias da semana</label>\n        <div class=\"ir-weekdays\">\n          <label class=\"ir-weekday\"><input type=\"checkbox\" ng-checked=\"isEveryday(schedule_form.weekdays)\" ng-click=\"selectEveryday(schedule_form)\"> Todos os dias</label>\n          <label class=\"ir-weekday\" ng-repeat=\"weekday in weekday_options track by weekday.id\"><input type=\"checkbox\" ng-checked=\"isWeekdaySelected(schedule_form.weekdays, weekday.id)\" ng-click=\"toggleWeekday(schedule_form, weekday.id)\"> {{ weekday.label }}</label>\n        </div>\n      </div>\n    </div>\n    <div class=\"ir-modal-actions\">\n      <button type=\"button\" class=\"ir-secondary-button\" ng-disabled=\"editing_state.submitting\" ng-click=\"cancelEdit()\">Cancelar</button>\n      <button type=\"button\" class=\"ir-primary-button\" ng-disabled=\"editing_state.submitting || !hasScheduleTimes(schedule_form.times) || !schedule_form.duration_minutes || !schedule_form.valve_pin || !hasSelectedWeekday(schedule_form.weekdays)\" ng-click=\"send({payload:editSchedule(schedule_form)})\">{{ editing_state.submitting ? \"Salvando...\" : \"Salvar alterações\" }}</button>\n    </div>\n  </div>\n</form>\n\n<script>\n(function(scope) {\n  scope.schedules = scope.schedules || [];\n  scope.schedules_loaded = scope.schedules_loaded || false;\n  scope.valves = scope.valves || [];\n  scope.weekday_options = [\n    { id: \"mon\", label: \"Seg\" },\n    { id: \"tue\", label: \"Ter\" },\n    { id: \"wed\", label: \"Qua\" },\n    { id: \"thu\", label: \"Qui\" },\n    { id: \"fri\", label: \"Sex\" },\n    { id: \"sat\", label: \"Sáb\" },\n    { id: \"sun\", label: \"Dom\" }\n  ];\n  scope.schedule_form = scope.schedule_form || { id: \"\", times: [\"\"], duration_minutes: \"\", valve_pin: \"\", status: \"\", enabled: true, weekdays: scope.weekday_options.map(function(weekday) { return weekday.id; }) };\n  scope.editing_state = scope.editing_state || { editing: false, submitting: false, enabled_submitting: false };\n  scope.manual_state = scope.manual_state || { open: false, schedule: null, section: \"\", duration_minutes: 10 };\n  scope.manual_pending = scope.manual_pending || {};\n  scope.manual_pending_timers = scope.manual_pending_timers || {};\n  scope.manual_pending_timeout_ms = 15000;\n  scope.delete_state = scope.delete_state || { open: false, schedule: null, time: \"\", section: \"\", running: false };\n  scope.schedule_error = scope.schedule_error || null;\n  scope.schedule_filter = scope.schedule_filter || \"all\";\n  scope.search_query = scope.search_query || \"\";\n  scope.sort_ascending = scope.sort_ascending !== false;\n  scope.action_menu_id = scope.action_menu_id || null;\n  scope.mobile_menu_open = scope.mobile_menu_open || false;\n  scope.schedule_countdown_ends = scope.schedule_countdown_ends || {};\n  scope.system_status = scope.system_status || { status: \"reconnecting\", label: \"Verificando sistema\" };\n  scope.system_status_timeout_ms = 25000;\n  scope.system_status_timer = scope.system_status_timer || null;\n\n  scope.$watch(\"msg\", function(msg) {\n    if (!msg) return;\n    if (msg.topic === \"system_health\") {\n      scope.applySystemHealth(msg.payload);\n      return;\n    }\n    if (msg.topic === \"schedule_error\" || msg.topic === \"schedule_update_error\" || msg.topic === \"schedule_enabled_error\") {\n      scope.editing_state.submitting = false;\n      scope.editing_state.enabled_submitting = false;\n      scope.schedule_error = msg.payload || null;\n      return;\n    }\n    if (msg.topic === \"schedule_enabled\") {\n      scope.applyEnabledFeedback(msg.payload);\n      return;\n    }\n    if (msg.topic === \"manual_feedback\") {\n      scope.applyManualFeedback(msg.payload);\n      return;\n    }\n    if (!Array.isArray(msg.payload)) return;\n    if (msg.topic === \"valves\") {\n      scope.valves = msg.payload;\n      return;\n    }\n    scope.schedule_error = null;\n    scope.schedules = msg.payload;\n    scope.syncScheduleCountdowns(scope.schedules);\n    scope.schedules_loaded = true;\n    if (scope.editing_state.submitting) {\n      scope.editing_state.submitting = false;\n      scope.editing_state.editing = false;\n    }\n    scope.editing_state.enabled_submitting = false;\n  });\n\n  scope.navigateToTab = function(index, event) {\n    if (event) event.preventDefault();\n    scope.closeMobileMenu();\n    window.location.hash = \"#!/\" + index;\n  };\n  scope.toggleMobileMenu = function(event) {\n    if (event) event.preventDefault();\n    scope.mobile_menu_open = !scope.mobile_menu_open;\n  };\n  scope.closeMobileMenu = function() {\n    scope.mobile_menu_open = false;\n  };\n  scope.applySystemHealth = function(payload) {\n    var status = payload && payload.status === \"online\" ? \"online\" : \"offline\";\n    scope.system_status = {\n      status: status,\n      label: payload && payload.label ? payload.label : (status === \"online\" ? \"Sistema online\" : \"Sistema offline\"),\n      last_seen_at: payload && payload.last_seen_at ? payload.last_seen_at : null,\n      checked_at: payload && payload.checked_at ? payload.checked_at : null\n    };\n    scope.armSystemStatusTimeout();\n  };\n  scope.armSystemStatusTimeout = function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n    scope.system_status_timer = setTimeout(function() {\n      scope.$applyAsync(function() {\n        scope.system_status = { status: \"offline\", label: \"Sistema offline\", last_seen_at: scope.system_status.last_seen_at || null };\n      });\n    }, scope.system_status_timeout_ms);\n  };\n  scope.systemStatusClass = function() {\n    return \"is-\" + ((scope.system_status && scope.system_status.status) || \"reconnecting\");\n  };\n  scope.systemStatusLabel = function() {\n    return (scope.system_status && scope.system_status.label) || \"Verificando sistema\";\n  };\n  scope.systemStatusTitle = function() {\n    if (!scope.system_status || !scope.system_status.last_seen_at) return \"Aguardando verificação do sistema\";\n    return \"Último heartbeat do controlador: \" + scope.system_status.last_seen_at;\n  };\n  scope.$on(\"$destroy\", function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n  });\n  scope.findValve = function(schedule) {\n    var pin = String(schedule.valve_pin || \"\");\n    for (var i = 0; i < scope.valves.length; i += 1) {\n      if (String(scope.valves[i].pin) === pin) return scope.valves[i];\n    }\n    return null;\n  };\n  scope.sectionName = function(schedule) {\n    var valve = scope.findValve(schedule);\n    return valve && valve.section ? valve.section : \"Válvula \" + schedule.valve_pin;\n  };\n  scope.sectionLabel = function(schedule) {\n    var valve = scope.findValve(schedule);\n    if (valve && valve.section) return valve.section + \" (Válvula \" + valve.pin + \")\";\n    return \"Válvula \" + schedule.valve_pin;\n  };\n  scope.normalizeWeekdays = function(values) {\n    if (!Array.isArray(values)) return scope.weekday_options.map(function(weekday) { return weekday.id; });\n    return scope.weekday_options.map(function(weekday) { return weekday.id; }).filter(function(id) { return values.indexOf(id) !== -1; });\n  };\n  scope.hasSelectedWeekday = function(values) { return scope.normalizeWeekdays(values).length > 0; };\n  scope.isEveryday = function(values) { return scope.normalizeWeekdays(values).length === scope.weekday_options.length; };\n  scope.isWeekdaySelected = function(values, id) { return scope.normalizeWeekdays(values).indexOf(id) !== -1; };\n  scope.selectEveryday = function(form) { form.weekdays = scope.weekday_options.map(function(weekday) { return weekday.id; }); };\n  scope.toggleWeekday = function(form, id) {\n    var values = scope.normalizeWeekdays(form.weekdays);\n    var index = values.indexOf(id);\n    if (index === -1) values.push(id); else values.splice(index, 1);\n    form.weekdays = scope.normalizeWeekdays(values);\n  };\n  scope.formatWeekdays = function(values) {\n    var selected = scope.normalizeWeekdays(values);\n    if (selected.length === scope.weekday_options.length) return \"Todos os dias\";\n    if (!selected.length) return \"Nenhum dia\";\n    return scope.weekday_options.filter(function(weekday) { return selected.indexOf(weekday.id) !== -1; }).map(function(weekday) { return weekday.label; }).join(\", \");\n  };\n  scope.scheduleTimes = function(schedule) {\n    if (schedule && Array.isArray(schedule.times) && schedule.times.length) return schedule.times;\n    if (schedule && schedule.time) return String(schedule.time).split(/[|;+]/);\n    return [];\n  };\n  scope.formatScheduleTimes = function(schedule) {\n    var times = scope.scheduleTimes(schedule).filter(function(value) { return String(value || \"\").trim(); });\n    return times.length ? times.join(\", \") : \"--:--\";\n  };\n  scope.isScheduleEnabled = function(schedule) {\n    if (!schedule || !Object.prototype.hasOwnProperty.call(schedule, \"enabled\")) return true;\n    return schedule.enabled === true || Number(schedule.enabled) === 1;\n  };\n  scope.sectionStatus = function(schedule) {\n    if (!Object.prototype.hasOwnProperty.call(schedule, \"status\")) return null;\n    return schedule.status === true || Number(schedule.status) === 1 ? 1 : 0;\n  };\n  scope.activeScheduleCount = function() { return scope.schedules.filter(scope.isScheduleEnabled).length; };\n  scope.wateringNowCount = function() { return scope.schedules.filter(function(schedule) { return scope.sectionStatus(schedule) === 1; }).length; };\n  scope.currentWeekdayId = function(date) { return [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"][date.getDay()]; };\n  scope.scheduledMinutesToday = function() {\n    var today = scope.currentWeekdayId(new Date());\n    return scope.schedules.reduce(function(total, schedule) {\n      return total + (scope.isScheduleEnabled(schedule) && scope.isWeekdaySelected(schedule.weekdays, today) ? (parseInt(schedule.duration_minutes, 10) || 0) : 0);\n    }, 0);\n  };\n  scope.nextWatering = function() {\n    var now = new Date();\n    var candidate = null;\n    scope.schedules.forEach(function(schedule) {\n      if (!scope.isScheduleEnabled(schedule)) return;\n      scope.scheduleTimes(schedule).forEach(function(time) {\n        var parts = String(time).split(\":\");\n        for (var offset = 0; offset <= 7; offset += 1) {\n          var date = new Date(now);\n          date.setDate(now.getDate() + offset);\n          date.setHours(parseInt(parts[0], 10) || 0, parseInt(parts[1], 10) || 0, 0, 0);\n          if (date <= now || !scope.isWeekdaySelected(schedule.weekdays, scope.currentWeekdayId(date))) continue;\n          if (!candidate || date < candidate.date) candidate = { schedule: schedule, date: date, time: String(time).slice(0, 5) };\n          break;\n        }\n      });\n    });\n    return candidate;\n  };\n  scope.nextWateringTime = function() { var next = scope.nextWatering(); return next ? next.time : \"--:--\"; };\n  scope.nextWateringShortSection = function() { var next = scope.nextWatering(); return next ? scope.sectionName(next.schedule) : \"sem previsão\"; };\n  scope.nextWateringSection = function() { var next = scope.nextWatering(); return next ? scope.sectionName(next.schedule) + \" · \" + next.time : \"Nenhuma rega programada\"; };\n  scope.nextWateringCountdown = function() {\n    var next = scope.nextWatering();\n    if (!next) return \"--\";\n    var minutes = Math.max(1, Math.round((next.date.getTime() - Date.now()) / 60000));\n    var days = Math.floor(minutes / 1440);\n    var hours = Math.floor((minutes % 1440) / 60);\n    var mins = minutes % 60;\n    if (days) return \"em \" + days + \"d \" + hours + \"h\";\n    if (hours) return \"em \" + hours + \"h \" + mins + \"min\";\n    return \"em \" + mins + \"min\";\n  };\n  scope.syncScheduleCountdowns = function(schedules) {\n    var activeIds = {};\n    (schedules || []).forEach(function(schedule) {\n      if (!schedule || schedule.id === null || schedule.id === undefined) return;\n      var key = String(schedule.id);\n      activeIds[key] = true;\n      if (scope.sectionStatus(schedule) !== 1) {\n        delete scope.schedule_countdown_ends[key];\n        return;\n      }\n      var remaining = Number(schedule.remaining_seconds);\n      if (isFinite(remaining) && remaining >= 0) {\n        scope.schedule_countdown_ends[key] = Date.now() + remaining * 1000;\n      }\n    });\n    Object.keys(scope.schedule_countdown_ends).forEach(function(key) {\n      if (!activeIds[key]) delete scope.schedule_countdown_ends[key];\n    });\n  };\n  scope.scheduleCountdown = function(schedule) {\n    if (!schedule || schedule.id === null || schedule.id === undefined) return \"--\";\n    var endAt = scope.schedule_countdown_ends[String(schedule.id)];\n    if (!endAt) return \"--\";\n    var seconds = Math.max(0, Math.ceil((endAt - Date.now()) / 1000));\n    var minutes = Math.floor(seconds / 60);\n    var remainder = seconds % 60;\n    return minutes + \":\" + String(remainder).padStart(2, \"0\");\n  };\n  scope.scheduleDayNote = function(schedule) {\n    if (!scope.isScheduleEnabled(schedule)) return \"pausado\";\n    var today = scope.currentWeekdayId(new Date());\n    return scope.isWeekdaySelected(schedule.weekdays, today) ? \"hoje\" : \"próxima execução\";\n  };\n  scope.visibleSchedules = function() {\n    var query = String(scope.search_query || \"\").toLowerCase().trim();\n    var filtered = scope.schedules.filter(function(schedule) {\n      var enabled = scope.isScheduleEnabled(schedule);\n      if (scope.schedule_filter === \"active\" && !enabled) return false;\n      if (scope.schedule_filter === \"paused\" && enabled) return false;\n      if (!query) return true;\n      return (scope.formatScheduleTimes(schedule) + \" \" + scope.sectionLabel(schedule)).toLowerCase().indexOf(query) !== -1;\n    });\n    return filtered.slice().sort(function(a, b) {\n      var result = scope.formatScheduleTimes(a).localeCompare(scope.formatScheduleTimes(b));\n      return scope.sort_ascending ? result : -result;\n    });\n  };\n  scope.toggleSort = function() { scope.sort_ascending = !scope.sort_ascending; };\n  scope.toggleActionMenu = function(schedule, event) {\n    if (event) event.stopPropagation();\n    scope.action_menu_id = scope.action_menu_id === schedule.id ? null : schedule.id;\n  };\n\n  scope.clearManualPending = function(id) {\n    if (id === null || id === undefined) return;\n    var key = String(id);\n    if (scope.manual_pending_timers[key]) { clearTimeout(scope.manual_pending_timers[key]); delete scope.manual_pending_timers[key]; }\n    delete scope.manual_pending[key];\n  };\n  scope.startManualPending = function(schedule, action) {\n    if (!schedule || schedule.id === null || schedule.id === undefined) return;\n    var key = String(schedule.id);\n    scope.clearManualPending(key);\n    scope.manual_pending[key] = action;\n    scope.manual_pending_timers[key] = setTimeout(function() {\n      if (typeof scope.$applyAsync === \"function\") scope.$applyAsync(function() { scope.clearManualPending(key); }); else scope.clearManualPending(key);\n    }, scope.manual_pending_timeout_ms);\n  };\n  scope.applyManualFeedback = function(payload) {\n    if (!payload || !payload.id) return;\n    for (var i = 0; i < scope.schedules.length; i += 1) {\n      if (String(scope.schedules[i].id) === String(payload.id)) scope.schedules[i].status = payload.action === \"on\" ? 1 : 0;\n    }\n    if (payload.action === \"on\") {\n      var duration = Number(payload.duration_minutes);\n      if (isFinite(duration) && duration > 0) scope.schedule_countdown_ends[String(payload.id)] = Date.now() + duration * 60000;\n    } else {\n      delete scope.schedule_countdown_ends[String(payload.id)];\n    }\n    scope.clearManualPending(payload.id);\n  };\n  scope.applyEnabledFeedback = function(payload) {\n    if (!payload || !payload.id) return;\n    var enabled = payload.enabled === true || Number(payload.enabled) === 1;\n    for (var i = 0; i < scope.schedules.length; i += 1) {\n      if (String(scope.schedules[i].id) === String(payload.id)) scope.schedules[i].enabled = enabled ? 1 : 0;\n    }\n    if (String(scope.schedule_form.id) === String(payload.id)) scope.schedule_form.enabled = enabled;\n    scope.editing_state.enabled_submitting = false;\n  };\n  scope.sendId = function(id) { return { ui_action: \"delete\", id: id }; };\n  scope.openDeleteConfirmation = function(schedule) {\n    scope.action_menu_id = null;\n    scope.delete_state.open = true;\n    scope.delete_state.schedule = schedule;\n    scope.delete_state.time = scope.formatScheduleTimes(schedule);\n    scope.delete_state.section = scope.sectionLabel(schedule);\n    scope.delete_state.running = scope.sectionStatus(schedule) === 1;\n  };\n  scope.closeDeleteConfirmation = function() {\n    scope.delete_state.open = false;\n    scope.delete_state.schedule = null;\n    scope.delete_state.running = false;\n  };\n  scope.dismissScheduleError = function() { scope.schedule_error = null; };\n  scope.confirmDeleteSchedule = function() {\n    var schedule = scope.delete_state.schedule;\n    if (!schedule) return null;\n    scope.closeDeleteConfirmation();\n    return scope.sendId(schedule.id);\n  };\n  scope.cancelEdit = function() {\n    if (scope.editing_state.submitting) return;\n    scope.editing_state.editing = false;\n    scope.editing_state.submitting = false;\n    scope.editing_state.enabled_submitting = false;\n  };\n  scope.toEditTimeValue = function(value) {\n    if (!value) return null;\n    if (value instanceof Date) return value;\n    var match = String(value).match(/^(\\d{2}):(\\d{2})/);\n    if (!match) return null;\n    var date = new Date();\n    date.setHours(parseInt(match[1], 10), parseInt(match[2], 10), 0, 0);\n    return date;\n  };\n  scope.formatEditTime = function(value) {\n    if (!value) return \"\";\n    if (typeof value === \"string\" && /^\\d{2}:\\d{2}/.test(value)) return value.slice(0, 5);\n    var date = value instanceof Date ? value : new Date(value);\n    if (isNaN(date.getTime())) return \"\";\n    return String(date.getHours()).padStart(2, \"0\") + \":\" + String(date.getMinutes()).padStart(2, \"0\");\n  };\n  scope.toEditTimes = function(schedule) {\n    var values = scope.scheduleTimes(schedule);\n    return values.length ? values.map(scope.toEditTimeValue) : [null];\n  };\n  scope.normalizeTimes = function(values) {\n    if (!Array.isArray(values)) values = [values];\n    return values.map(scope.formatEditTime).filter(function(value) { return value; });\n  };\n  scope.hasScheduleTimes = function(values) {\n    var times = scope.normalizeTimes(values);\n    return times.length >= 1 && times.length <= 3;\n  };\n  scope.addTime = function(form) {\n    if (!Array.isArray(form.times)) form.times = [null];\n    if (form.times.length < 3) form.times.push(null);\n  };\n  scope.removeTime = function(form, index) {\n    if (!Array.isArray(form.times)) form.times = [null];\n    if (form.times.length > 1) form.times.splice(index, 1);\n  };\n  scope.sendData = function(schedule) {\n    scope.schedule_error = null;\n    scope.editing_state.submitting = false;\n    scope.schedule_form.id = schedule.id;\n    scope.schedule_form.times = scope.toEditTimes(schedule);\n    scope.schedule_form.duration_minutes = parseInt(schedule.duration_minutes, 10) || null;\n    scope.schedule_form.valve_pin = parseInt(schedule.valve_pin, 10) || null;\n    scope.schedule_form.weekdays = scope.normalizeWeekdays(schedule.weekdays);\n    scope.schedule_form.status = schedule.status;\n    scope.schedule_form.enabled = scope.isScheduleEnabled(schedule);\n    scope.editing_state.editing = true;\n    return null;\n  };\n  scope.toggleEnabled = function(schedule) {\n    scope.schedule_error = null;\n    scope.editing_state.enabled_submitting = true;\n    return { ui_action: \"toggle_enabled\", id: schedule.id, enabled: schedule.enabled ? 1 : 0 };\n  };\n  scope.toggleScheduleEnabled = function(schedule) {\n    scope.schedule_error = null;\n    scope.editing_state.enabled_submitting = true;\n    return { ui_action: \"toggle_enabled\", id: schedule.id, enabled: scope.isScheduleEnabled(schedule) ? 0 : 1 };\n  };\n  scope.editSchedule = function(schedule) {\n    scope.schedule_error = null;\n    scope.editing_state.submitting = true;\n    return { ui_action: \"edit\", id: schedule.id, times: scope.normalizeTimes(schedule.times), duration_minutes: schedule.duration_minutes, valve_pin: schedule.valve_pin, weekdays: scope.normalizeWeekdays(schedule.weekdays), status: schedule.status };\n  };\n  scope.openManualDuration = function(schedule) {\n    scope.action_menu_id = null;\n    scope.manual_state.open = true;\n    scope.manual_state.schedule = schedule;\n    scope.manual_state.section = scope.sectionLabel(schedule);\n    scope.manual_state.duration_minutes = parseInt(schedule.duration_minutes, 10) || 10;\n  };\n  scope.closeManualDuration = function() { scope.manual_state.open = false; scope.manual_state.schedule = null; };\n  scope.confirmManualDuration = function() {\n    var schedule = scope.manual_state.schedule;\n    var duration = parseInt(scope.manual_state.duration_minutes, 10);\n    if (!schedule || !duration || duration < 1 || scope.manual_pending[schedule.id]) return null;\n    scope.startManualPending(schedule, \"on\");\n    scope.closeManualDuration();\n    return { ui_action: \"manual\", action: \"on\", id: schedule.id, valve_pin: schedule.valve_pin, duration_minutes: duration };\n  };\n  scope.turnScheduleOff = function(schedule) {\n    if (!schedule || scope.manual_pending[schedule.id]) return null;\n    scope.startManualPending(schedule, \"off\");\n    return { ui_action: \"manual\", action: \"off\", id: schedule.id, valve_pin: schedule.valve_pin };\n  };\n  if (!scope.schedule_countdown_timer) {\n    scope.schedule_countdown_timer = setInterval(function() {\n      if (typeof scope.$applyAsync === \"function\") scope.$applyAsync();\n    }, 1000);\n    if (typeof scope.$on === \"function\") {\n      scope.$on(\"$destroy\", function() {\n        clearInterval(scope.schedule_countdown_timer);\n        scope.schedule_countdown_timer = null;\n      });\n    }\n  }\n})(scope);\n</script>\n",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1810,
    "y": 380,
    "wires": [
      [
        "d4f14a77.92f3b1"
      ]
    ]
  },
  {
    "id": "d4f14a77.92f3b1",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Roteia ações da tabela de agendamentos",
    "func": "const payload = msg.payload || {};\n\nif (payload.ui_action === \"delete\") {\n    msg.payload = payload.id;\n    return [msg, null, null, null];\n}\n\nif (payload.ui_action === \"edit\") {\n    delete payload.ui_action;\n    msg.payload = payload;\n    return [null, msg, null, null];\n}\n\nif (payload.ui_action === \"manual\") {\n    msg.topic = \"manual_feedback\";\n    msg.payload = { id: payload.id, action: payload.action, valve_pin: payload.valve_pin, duration_minutes: payload.duration_minutes };\n    return [null, null, msg, null];\n}\n\nif (payload.ui_action === \"toggle_enabled\") {\n    msg.payload = { id: payload.id, enabled: payload.enabled };\n    return [null, null, null, msg];\n}\n\nreturn [null, null, null, null];",
    "outputs": 4,
    "noerr": 0,
    "x": 960,
    "y": 620,
    "wires": [
      [
        "7b2701e3.b525"
      ],
      [
        "c86fb12c.66d1e"
      ],
      [
        "5b92c8ad.78d3e8",
        "25072c26.808454"
      ],
      [
        "e7a2d5c1.4b8f9a"
      ]
    ]
  },
  {
    "id": "dad8cd89.f8f81",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "255a1e83.f883a2",
    "name": "Histórico",
    "order": 0,
    "width": "24",
    "height": "16",
    "format": "<style>\n:root {\n  --ir-green: #11877d;\n  --ir-green-dark: #0d756c;\n  --ir-ink: #071a18;\n  --ir-muted: #6c7476;\n  --ir-line: #e1e5e5;\n  --ir-canvas: #edf1f3;\n  --ir-panel: #f8fafb;\n  --ir-white: #fff;\n}\n\nbody.nr-dashboard-theme {\n  background: var(--ir-canvas) !important;\n  color: var(--ir-ink);\n  font-family: Inter, Roboto, Arial, sans-serif;\n}\n#nr-dashboard md-toolbar,\n#nr-dashboard md-sidenav { display: none !important; }\n#nr-dashboard md-content { overflow-x: hidden !important; }\n.nr-dashboard-theme .masonry-container { width: 100% !important; max-width: none !important; margin: 0 !important; }\n.nr-dashboard-theme ui-card-panel { position: relative !important; inset: auto !important; display: block !important; width: 100% !important; margin: 0 !important; }\n.nr-dashboard-theme .nr-dashboard-cardpanel,\n.nr-dashboard-theme .nr-dashboard-cardcontainer { width: 100% !important; height: auto !important; min-height: 0 !important; background: transparent !important; }\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  position: relative !important;\n  inset: auto !important;\n  width: 100% !important;\n  height: auto !important;\n  min-height: 0 !important;\n  margin: 0 !important;\n  overflow: visible !important;\n  border: 0 !important;\n  border-radius: 0 !important;\n  background: transparent !important;\n  box-shadow: none !important;\n}\n.nr-dashboard-theme .nr-dashboard-template .ir-history-shell p,\n.nr-dashboard-theme .nr-dashboard-template .ir-history-shell h1,\n.nr-dashboard-theme .nr-dashboard-template .ir-history-shell h2,\n.nr-dashboard-theme .nr-dashboard-template .ir-history-shell h3,\n.nr-dashboard-theme .nr-dashboard-template .ir-history-shell h4 { background-color: transparent !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-history-shell svg path { fill: none !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-eyebrow,\n.nr-dashboard-theme .nr-dashboard-template .ir-side-card-label { color: var(--ir-green) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-title { color: var(--ir-ink) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-subtitle { color: var(--ir-muted) !important; }\n\n.ir-history-shell, .ir-history-shell * { box-sizing: border-box !important; }\n.ir-history-shell {\n  width: 100%;\n  min-height: 100vh;\n  margin: 0;\n  overflow: hidden;\n  background: var(--ir-panel);\n}\n.ir-topbar {\n  display: flex;\n  height: 60px;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0 22px;\n  background: var(--ir-green);\n  color: #fff;\n}\n.ir-brand, .ir-system, .ir-brand-mark, .ir-online { display: flex; align-items: center; }\n.ir-brand { gap: 12px; color: #fff; font-size: 16px; font-weight: 800; text-decoration: none; }\n.ir-brand-mark { gap: 10px; }\n.ir-brand svg { width: 21px; height: 21px; }\n.ir-system { gap: 14px; }\n.ir-online { gap: 7px; padding: 7px 11px; border-radius: 999px; background: rgba(255, 255, 255, .12); font-size: 12px; font-weight: 700; }\n.ir-online-dot { width: 8px; height: 8px; border-radius: 50%; background: #6df0a9; box-shadow: 0 0 0 4px rgba(109, 240, 169, .13); }\n.ir-online.is-offline .ir-online-dot { background: #ff7a7a; box-shadow: 0 0 0 4px rgba(255, 122, 122, .16); }\n.ir-online.is-reconnecting .ir-online-dot { background: #ffd166; box-shadow: 0 0 0 4px rgba(255, 209, 102, .18); }\n.ir-avatar { display: grid; width: 34px; height: 34px; place-items: center; border-radius: 50%; background: rgba(255, 255, 255, .16); font-size: 11px; font-weight: 800; }\n.ir-layout { display: flex; min-height: calc(100vh - 60px); }\n.ir-sidebar {\n  display: flex;\n  width: 240px;\n  flex: 0 0 240px;\n  flex-direction: column;\n  padding: 22px 14px;\n  border-right: 1px solid var(--ir-line);\n  background: #f6f8f9;\n}\n.ir-nav-label { margin: 0 10px 10px; color: #9aa2a4; font-size: 10px; font-weight: 800; letter-spacing: .09em; text-transform: uppercase; }\n.ir-nav { display: grid; gap: 3px; }\n.ir-nav-button {\n  display: flex;\n  width: 100%;\n  height: 41px;\n  align-items: center;\n  gap: 12px;\n  border: 0;\n  border-radius: 10px;\n  padding: 0 12px;\n  background: transparent;\n  color: #13211f;\n  cursor: pointer;\n  font-size: 14px;\n  font-weight: 700;\n  text-align: left;\n  text-decoration: none;\n}\n.ir-nav-button:hover { background: #edf2f1; }\n.ir-nav-button.is-active { background: var(--ir-green); color: #fff; }\n.ir-nav-button svg { width: 18px; height: 18px; flex: 0 0 auto; }\n.ir-side-card { margin-top: auto; padding: 16px 14px; border: 1px solid var(--ir-line); border-radius: 11px; background: #fff; }\n.ir-side-card-label { margin: 0 0 8px; font-size: 10px; font-weight: 900; letter-spacing: .08em; text-transform: uppercase; }\n.ir-side-card strong { display: block; font-size: 20px; line-height: 1.1; }\n.ir-side-card span { display: block; margin-top: 6px; color: var(--ir-muted); font-size: 12px; }\n.ir-content { min-width: 0; flex: 1; padding: clamp(28px, 3vw, 52px) clamp(24px, 4vw, 64px) 52px; }\n.ir-heading { display: flex; align-items: flex-end; justify-content: space-between; gap: 22px; }\n.ir-eyebrow { margin: 0 0 5px; font-size: 11px; font-weight: 900; letter-spacing: .09em; text-transform: uppercase; }\n.ir-title { margin: 0; font-size: 31px; font-weight: 850; line-height: 1.05; }\n.ir-subtitle { margin: 8px 0 0; font-size: 14px; }\n.ir-stats { display: grid; grid-template-columns: repeat(4, minmax(0, 1fr)); gap: 14px; margin-top: 28px; }\n.ir-stat { min-height: 82px; padding: 17px 18px; border: 1px solid var(--ir-line); border-radius: 12px; background: #fff; }\n.ir-stat-label { display: block; margin-bottom: 7px; color: var(--ir-muted); font-size: 12px; }\n.ir-stat-value { color: #071614; font-size: 23px; font-weight: 850; line-height: 1; }\n.ir-stat-value small { margin-left: 5px; color: #858d8f; font-size: 11px; font-weight: 500; }\n.ir-filter-card {\n  display: grid;\n  grid-template-columns: minmax(180px, 1fr) minmax(180px, 1fr) auto;\n  gap: 14px;\n  align-items: end;\n  margin-top: 24px;\n  padding: 18px;\n  border: 1px solid var(--ir-line);\n  border-radius: 12px;\n  background: #fff;\n}\n.ir-field label { display: flex; align-items: center; gap: 7px; margin-bottom: 7px; color: #26312f; font-size: 11px; font-weight: 850; }\n.ir-field label svg { width: 14px; height: 14px; color: var(--ir-green); }\n.ir-input {\n  width: 100%;\n  height: 40px;\n  border: 1px solid #d9dede;\n  border-radius: 9px;\n  padding: 0 12px;\n  outline: 0;\n  background: #fff;\n  color: var(--ir-ink);\n  font: inherit;\n  font-size: 13px;\n}\n.ir-input:focus { border-color: var(--ir-green); box-shadow: 0 0 0 3px rgba(17, 135, 125, .1); }\n.ir-actions { display: flex; gap: 9px; }\n.ir-primary-button, .ir-secondary-button {\n  display: inline-flex;\n  height: 40px;\n  align-items: center;\n  justify-content: center;\n  gap: 8px;\n  border-radius: 9px;\n  padding: 0 15px;\n  cursor: pointer;\n  font: inherit;\n  font-size: 12px;\n  font-weight: 850;\n}\n.ir-primary-button { border: 0; background: var(--ir-green); color: #fff; box-shadow: 0 5px 12px rgba(17, 135, 125, .2); }\n.ir-primary-button:hover { background: var(--ir-green-dark); }\n.ir-secondary-button { border: 1px solid #d9dede; background: #fff; color: #172321; }\n.ir-primary-button svg, .ir-secondary-button svg { width: 15px; height: 15px; }\n.ir-results-toolbar { display: flex; align-items: center; gap: 12px; margin-top: 24px; }\n.ir-results-title { margin: 0; color: var(--ir-ink) !important; font-size: 16px; font-weight: 850; }\n.ir-results-count { padding: 5px 9px; border-radius: 999px; background: #e4f5f1; color: var(--ir-green-dark); font-size: 10px; font-weight: 850; }\n.ir-search { position: relative; width: 310px; margin-left: auto; }\n.ir-search svg { position: absolute; top: 50%; left: 13px; width: 16px; height: 16px; color: #899193; transform: translateY(-50%); }\n.ir-search input { width: 100%; height: 38px; border: 1px solid #d9dede; border-radius: 9px; padding: 0 12px 0 36px; outline: 0; background: #fff; color: var(--ir-ink); font-size: 13px; }\n.ir-search input:focus { border-color: var(--ir-green); box-shadow: 0 0 0 3px rgba(17, 135, 125, .1); }\n.ir-table-wrap { margin-top: 12px; overflow: hidden; border: 1px solid var(--ir-line); border-radius: 13px; background: #fff; }\n.ir-table { width: 100%; border-collapse: separate; border-spacing: 0; table-layout: fixed; }\n.ir-table th { height: 42px; padding: 0 14px; border-bottom: 1px solid var(--ir-line); background: #f5f7f8; color: #697173; font-size: 10px; font-weight: 900; letter-spacing: .06em; text-align: left; text-transform: uppercase; }\n.ir-table td { height: 64px; padding: 10px 14px; border-bottom: 1px solid #edf0f0; color: #101b19; font-size: 12px; vertical-align: middle; }\n.ir-table tr:last-child td { border-bottom: 0; }\n.ir-table tbody tr:hover td { background: #f8fbfa; }\n.ir-valve { display: flex; min-width: 0; align-items: center; gap: 10px; }\n.ir-valve-icon { display: grid; width: 32px; height: 32px; flex: 0 0 auto; place-items: center; border-radius: 9px; background: #e5f4f1; color: var(--ir-green); }\n.ir-valve-icon svg { width: 16px; height: 16px; }\n.ir-valve strong { overflow: hidden; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; }\n.ir-date { display: block; font-weight: 800; }\n.ir-date-note { display: block; margin-top: 3px; color: #92999b; font-size: 10px; }\n.ir-time { font-size: 14px; font-weight: 800; }\n.ir-duration { color: #687173; }\n.ir-mode { display: inline-flex; align-items: center; gap: 6px; border-radius: 999px; padding: 6px 9px; font-size: 10px; font-weight: 850; white-space: nowrap; }\n.ir-mode::before { content: \"\"; width: 7px; height: 7px; border-radius: 50%; background: currentColor; }\n.ir-mode-automatic { background: #e2f7ef; color: #099b6c; }\n.ir-mode-manual { background: #eef1f7; color: #65728a; }\n.ir-empty { display: grid; min-height: 280px; margin-top: 12px; place-items: center; border: 1px dashed #cfd6d5; border-radius: 13px; background: #fff; text-align: center; }\n.ir-empty svg { width: 38px; height: 38px; color: var(--ir-green); }\n.ir-empty h2 { margin: 12px 0 0; color: var(--ir-ink) !important; font-size: 18px; }\n.ir-empty p { margin: 7px 0 0; color: var(--ir-muted) !important; font-size: 13px; }\n.ir-pagination {\n  display: flex;\n  align-items: center;\n  justify-content: flex-end;\n  gap: 10px;\n  margin-top: 12px;\n}\n.ir-pagination-status {\n  color: var(--ir-muted);\n  font-size: 12px;\n  font-weight: 750;\n}\n.ir-pagination-button {\n  display: inline-flex;\n  height: 34px;\n  min-width: 34px;\n  align-items: center;\n  justify-content: center;\n  border: 1px solid #d9dede;\n  border-radius: 9px;\n  padding: 0 11px;\n  background: #fff;\n  color: #172321;\n  cursor: pointer;\n  font: inherit;\n  font-size: 12px;\n  font-weight: 850;\n}\n.ir-pagination-button:hover:not(:disabled) { border-color: var(--ir-green); color: var(--ir-green-dark); }\n.ir-pagination-button:disabled { cursor: not-allowed; opacity: .45; }\n\n@media (max-width: 1050px) {\n  .ir-content { padding-right: 24px; padding-left: 24px; }\n  .ir-stats { grid-template-columns: repeat(2, minmax(0, 1fr)); }\n  .ir-filter-card { grid-template-columns: 1fr 1fr; }\n  .ir-actions { grid-column: 1 / -1; justify-content: flex-end; }\n}\n@media (max-width: 820px) {\n  .ir-sidebar { display: none; }\n  .ir-content { padding: 24px 18px 38px; }\n  .ir-results-toolbar { flex-wrap: wrap; }\n  .ir-search { width: 100%; margin-left: 0; }\n  .ir-table-wrap { overflow-x: auto; }\n  .ir-table { min-width: 760px; }\n}\n@media (max-width: 560px) {\n  .ir-topbar { height: 56px; padding: 0 14px; }\n  .ir-system { gap: 8px; }\n  .ir-online { padding: 6px 8px; }\n  .ir-avatar { display: none; }\n  .ir-content { padding: 22px 14px 34px; }\n  .ir-title { font-size: 27px; }\n  .ir-stats { grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 9px; margin-top: 20px; }\n  .ir-stat { min-height: 76px; padding: 14px; }\n  .ir-stat-value { font-size: 20px; }\n  .ir-filter-card { grid-template-columns: 1fr; padding: 14px; }\n  .ir-actions { grid-column: auto; display: grid; grid-template-columns: 1fr 1fr; }\n  .ir-actions button { width: 100%; }\n  .ir-pagination { justify-content: center; }\n  .ir-table-wrap { overflow: visible; border: 0; background: transparent; }\n  .ir-table { min-width: 0; }\n  .ir-table thead { display: none; }\n  .ir-table, .ir-table tbody, .ir-table tr, .ir-table td { display: block; width: 100%; }\n  .ir-table tr { margin-bottom: 10px; overflow: hidden; border: 1px solid var(--ir-line); border-radius: 12px; background: #fff; }\n  .ir-table td { display: flex; height: auto; min-height: 48px; align-items: center; justify-content: space-between; gap: 15px; padding: 10px 13px; border-bottom: 1px solid #edf0f0; text-align: right; }\n  .ir-table td::before { content: attr(data-label); color: #8a9293; font-size: 9px; font-weight: 900; letter-spacing: .06em; text-transform: uppercase; }\n  .ir-table td:last-child { border-bottom: 0; }\n  .ir-valve { justify-content: flex-end; }\n}\n</style>\n\n<section class=\"ir-history-shell\">\n  <header class=\"ir-topbar\">\n    <a class=\"ir-brand\" href=\"#!/0\" ng-click=\"navigateToTab(0, $event)\">\n      <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" aria-hidden=\"true\"><path d=\"M4 6h16M4 12h16M4 18h16\"/></svg>\n      <span class=\"ir-brand-mark\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg><span>Irriga</span></span>\n    </a>\n    <div class=\"ir-system\"><div class=\"ir-online\" ng-class=\"systemStatusClass()\" title=\"{{ systemStatusTitle() }}\"><span class=\"ir-online-dot\"></span>{{ systemStatusLabel() }}</div><span class=\"ir-avatar\">IR</span></div>\n  </header>\n\n  <div class=\"ir-layout\">\n    <aside class=\"ir-sidebar\">\n      <p class=\"ir-nav-label\">Irrigação</p>\n      <nav class=\"ir-nav\" aria-label=\"Navegação principal\">\n        <a class=\"ir-nav-button\" href=\"#!/0\" ng-click=\"navigateToTab(0, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\"/><path d=\"M16 3v4M8 3v4M3 10h18\"/></svg>Agendamentos\n        </a>\n        <a class=\"ir-nav-button\" href=\"#!/1\" ng-click=\"navigateToTab(1, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 5v14M5 12h14\"/></svg>Novo agendamento\n        </a>\n        <a class=\"ir-nav-button is-active\" href=\"#!/2\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg>Histórico\n        </a>\n        <a class=\"ir-nav-button\" href=\"#!/3\" ng-click=\"navigateToTab(3, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"3\"/><path d=\"M19.4 15a1.8 1.8 0 0 0 .36 1.98l.04.04a2 2 0 1 1-2.83 2.83l-.04-.04A1.8 1.8 0 0 0 15 19.4a1.8 1.8 0 0 0-1 .6l-.03.04a2 2 0 0 1-3.42-1.42v-.05A1.8 1.8 0 0 0 9 17.6a1.8 1.8 0 0 0-1.98.36l-.04.04a2 2 0 1 1-2.83-2.83l.04-.04A1.8 1.8 0 0 0 4.6 13a1.8 1.8 0 0 0-.6-1l-.04-.03a2 2 0 0 1 1.42-3.42h.05A1.8 1.8 0 0 0 6.4 7a1.8 1.8 0 0 0-.36-1.98L6 4.98a2 2 0 0 1 2.83-2.83l.04.04A1.8 1.8 0 0 0 11 2.6a1.8 1.8 0 0 0 1-.6l.03-.04a2 2 0 0 1 3.42 1.42v.05A1.8 1.8 0 0 0 17 4.4a1.8 1.8 0 0 0 1.98-.36l.04-.04a2 2 0 1 1 2.83 2.83l-.04.04A1.8 1.8 0 0 0 19.4 9c.2.33.4.65.6 1l.04.03a2 2 0 0 1-1.42 3.42h-.05A1.8 1.8 0 0 0 19.4 15Z\"/></svg>Configurações\n        </a>\n      </nav>\n      <div class=\"ir-side-card\">\n        <p class=\"ir-side-card-label\">Registros exibidos</p>\n        <strong>{{ history_records.length }}</strong>\n        <span>{{ filter_description }}</span>\n      </div>\n    </aside>\n\n    <main class=\"ir-content\">\n      <div class=\"ir-heading\">\n        <div><p class=\"ir-eyebrow\">Irrigação</p><h1 class=\"ir-title\">Histórico</h1><p class=\"ir-subtitle\">Consulte os acionamentos realizados e acompanhe o uso das seções.</p></div>\n      </div>\n\n      <div class=\"ir-stats\">\n        <article class=\"ir-stat\"><span class=\"ir-stat-label\">Registros</span><div class=\"ir-stat-value\">{{ history_records.length }}<small>acionamentos</small></div></article>\n        <article class=\"ir-stat\"><span class=\"ir-stat-label\">Automáticos</span><div class=\"ir-stat-value\">{{ automaticCount() }}<small>execuções</small></div></article>\n        <article class=\"ir-stat\"><span class=\"ir-stat-label\">Manuais</span><div class=\"ir-stat-value\">{{ manualCount() }}<small>execuções</small></div></article>\n        <article class=\"ir-stat\"><span class=\"ir-stat-label\">Tempo irrigado</span><div class=\"ir-stat-value\">{{ totalMinutes() }}<small>minutos</small></div></article>\n      </div>\n\n      <form class=\"ir-filter-card\">\n        <div class=\"ir-field\">\n          <label for=\"start_date\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\"/><path d=\"M16 3v4M8 3v4M3 10h18\"/></svg>Data inicial</label>\n          <input class=\"ir-input\" type=\"date\" id=\"start_date\" ng-model=\"start_date\">\n        </div>\n        <div class=\"ir-field\">\n          <label for=\"end_date\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\"/><path d=\"M16 3v4M8 3v4M3 10h18\"/></svg>Data final</label>\n          <input class=\"ir-input\" type=\"date\" id=\"end_date\" ng-model=\"end_date\">\n        </div>\n        <div class=\"ir-actions\">\n          <button type=\"button\" class=\"ir-secondary-button\" ng-click=\"filterToday()\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg>Hoje</button>\n          <button type=\"button\" class=\"ir-primary-button\" ng-click=\"filterRange()\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"11\" cy=\"11\" r=\"7\"/><path d=\"m20 20-4-4\"/></svg>Pesquisar</button>\n        </div>\n      </form>\n\n      <div class=\"ir-results-toolbar\">\n        <h2 class=\"ir-results-title\">Acionamentos</h2><span class=\"ir-results-count\">{{ visibleHistory().length }} registros</span>\n        <label class=\"ir-search\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"11\" cy=\"11\" r=\"7\"/><path d=\"m20 20-4-4\"/></svg><input type=\"search\" ng-model=\"history_query\" placeholder=\"Buscar seção ou modo...\" aria-label=\"Buscar histórico\"></label>\n      </div>\n\n      <div class=\"ir-table-wrap\" ng-if=\"history_records.length > 0 && visibleHistory().length > 0\">\n        <table class=\"ir-table\" id=\"table\" border=\"0\">\n          <colgroup><col style=\"width:25%\"><col style=\"width:15%\"><col style=\"width:10%\"><col style=\"width:10%\"><col style=\"width:12%\"><col style=\"width:13%\"><col style=\"width:15%\"></colgroup>\n          <thead><tr><th>Seção / válvula</th><th>Data</th><th>Início</th><th>Fim</th><th>Duração</th><th>Dia</th><th>Modo</th></tr></thead>\n          <tbody>\n            <tr ng-repeat=\"log in pagedHistory() track by (log.id || $index)\">\n              <td data-label=\"Válvula\"><div class=\"ir-valve\"><span class=\"ir-valve-icon\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.7\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg></span><strong>{{ log.valve }}</strong></div></td>\n              <td data-label=\"Data\"><span class=\"ir-date\">{{ formatDate(log.date) }}</span><span class=\"ir-date-note\">{{ relativeDate(log.date) }}</span></td>\n              <td data-label=\"Início\"><span class=\"ir-time\">{{ log.start }}</span></td>\n              <td data-label=\"Fim\"><span class=\"ir-time\">{{ log.end }}</span></td>\n              <td data-label=\"Duração\"><span class=\"ir-duration\">{{ durationMinutes(log) }} min</span></td>\n              <td data-label=\"Dia\">{{ translateWeekday(log.weekday) }}</td>\n              <td data-label=\"Modo\"><span class=\"ir-mode\" ng-class=\"isAutomatic(log) ? 'ir-mode-automatic' : 'ir-mode-manual'\">{{ modeLabel(log) }}</span></td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n\n      <nav class=\"ir-pagination\" ng-if=\"history_records.length > 0 && visibleHistory().length > 0 && totalPages() > 1\" aria-label=\"Paginação do histórico\">\n        <button type=\"button\" class=\"ir-pagination-button\" ng-click=\"previousPage()\" ng-disabled=\"history_page <= 1\">Anterior</button>\n        <span class=\"ir-pagination-status\">Página {{ currentPage() }} de {{ totalPages() }}</span>\n        <button type=\"button\" class=\"ir-pagination-button\" ng-click=\"nextPage()\" ng-disabled=\"history_page >= totalPages()\">Próxima</button>\n      </nav>\n\n      <div class=\"ir-empty\" ng-if=\"history_records.length === 0 || visibleHistory().length === 0\">\n        <div><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.6\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg><h2>Nenhum histórico encontrado</h2><p>Altere o período ou a busca para consultar outros acionamentos.</p></div>\n      </div>\n    </main>\n  </div>\n</section>\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n(function(scope) {\n  scope.start_date = scope.start_date || \"\";\n  scope.end_date = scope.end_date || \"\";\n  scope.history_query = scope.history_query || \"\";\n  scope.history_records = scope.history_records || [];\n  scope.history_page = scope.history_page || 1;\n  scope.history_page_size = 10;\n  scope.history_request_pending = false;\n  scope.filter_description = scope.filter_description || \"período atual\";\n  scope.system_status = scope.system_status || { status: \"reconnecting\", label: \"Verificando sistema\" };\n  scope.system_status_timeout_ms = 25000;\n  scope.system_status_timer = scope.system_status_timer || null;\n\n  scope.$watch(\"msg\", function(msg) {\n    if (msg && msg.topic === \"system_health\") {\n      scope.applySystemHealth(msg.payload);\n      return;\n    }\n    if (msg && Array.isArray(msg.payload) && scope.history_request_pending) {\n      scope.history_request_pending = false;\n      scope.history_records = msg.payload;\n      scope.resetHistoryPage();\n    }\n  });\n\n  scope.$watch(\"history_query\", function(newValue, oldValue) {\n    if (newValue !== oldValue) scope.resetHistoryPage();\n  });\n\n  scope.navigateToTab = function(index, event) {\n    if (event) event.preventDefault();\n    window.location.hash = \"#!/\" + index;\n  };\n  scope.applySystemHealth = function(payload) {\n    var status = payload && payload.status === \"online\" ? \"online\" : \"offline\";\n    scope.system_status = {\n      status: status,\n      label: payload && payload.label ? payload.label : (status === \"online\" ? \"Sistema online\" : \"Sistema offline\"),\n      last_seen_at: payload && payload.last_seen_at ? payload.last_seen_at : null,\n      checked_at: payload && payload.checked_at ? payload.checked_at : null\n    };\n    scope.armSystemStatusTimeout();\n  };\n  scope.armSystemStatusTimeout = function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n    scope.system_status_timer = setTimeout(function() {\n      scope.$applyAsync(function() {\n        scope.system_status = { status: \"offline\", label: \"Sistema offline\", last_seen_at: scope.system_status.last_seen_at || null };\n      });\n    }, scope.system_status_timeout_ms);\n  };\n  scope.systemStatusClass = function() {\n    return \"is-\" + ((scope.system_status && scope.system_status.status) || \"reconnecting\");\n  };\n  scope.systemStatusLabel = function() {\n    return (scope.system_status && scope.system_status.label) || \"Verificando sistema\";\n  };\n  scope.systemStatusTitle = function() {\n    if (!scope.system_status || !scope.system_status.last_seen_at) return \"Aguardando verificação do sistema\";\n    return \"Último heartbeat do controlador: \" + scope.system_status.last_seen_at;\n  };\n  scope.$on(\"$destroy\", function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n  });\n  scope.inputValue = function(id) {\n    var input = document.getElementById(id);\n    return input ? input.value : \"\";\n  };\n  scope.localDateValue = function(date) {\n    return date.getFullYear() + \"-\" + String(date.getMonth() + 1).padStart(2, \"0\") + \"-\" + String(date.getDate()).padStart(2, \"0\");\n  };\n  scope.setDateInput = function(id, value) {\n    var input = document.getElementById(id);\n    if (input) input.value = value;\n  };\n  scope.setTodayFilterState = function() {\n    var now = new Date();\n    var today = scope.localDateValue(now);\n    var todayDate = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n    scope.start_date = todayDate;\n    scope.end_date = todayDate;\n    scope.setDateInput(\"start_date\", today);\n    scope.setDateInput(\"end_date\", today);\n    scope.filter_description = \"registros de hoje\";\n  };\n  scope.historyRange = function() { return { action: \"range\", start_date: scope.inputValue(\"start_date\"), end_date: scope.inputValue(\"end_date\") }; };\n  scope.historyDay = function() { return { action: \"day\" }; };\n  scope.resetHistoryPage = function() { scope.history_page = 1; };\n  scope.sendHistoryRequest = function(payload) {\n    scope.history_request_pending = true;\n    scope.send({ payload: payload });\n  };\n  scope.filterRange = function() {\n    scope.resetHistoryPage();\n    scope.filter_description = scope.inputValue(\"start_date\") && scope.inputValue(\"end_date\") ? \"período selecionado\" : \"todos os registros\";\n    scope.sendHistoryRequest(scope.historyRange());\n  };\n  scope.filterToday = function() {\n    scope.resetHistoryPage();\n    scope.setTodayFilterState();\n    scope.sendHistoryRequest(scope.historyDay());\n  };\n  scope.isAutomatic = function(log) { return String(log && log.mode || \"\").toLowerCase().indexOf(\"automatic\") !== -1; };\n  scope.automaticCount = function() { return scope.history_records.filter(scope.isAutomatic).length; };\n  scope.manualCount = function() { return scope.history_records.length - scope.automaticCount(); };\n  scope.durationMinutes = function(log) {\n    var start = String(log && log.start || \"\").split(\":\");\n    var end = String(log && log.end || \"\").split(\":\");\n    if (start.length < 2 || end.length < 2) return 0;\n    var startMinutes = (parseInt(start[0], 10) || 0) * 60 + (parseInt(start[1], 10) || 0);\n    var endMinutes = (parseInt(end[0], 10) || 0) * 60 + (parseInt(end[1], 10) || 0);\n    if (endMinutes < startMinutes) endMinutes += 1440;\n    return Math.max(0, endMinutes - startMinutes);\n  };\n  scope.totalMinutes = function() { return scope.history_records.reduce(function(total, log) { return total + scope.durationMinutes(log); }, 0); };\n  scope.formatDate = function(value) {\n    var match = String(value || \"\").match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n    return match ? match[3] + \"/\" + match[2] + \"/\" + match[1] : value;\n  };\n  scope.relativeDate = function(value) {\n    var today = new Date();\n    var yesterday = new Date(today); yesterday.setDate(today.getDate() - 1);\n    var local = function(date) { return date.getFullYear() + \"-\" + String(date.getMonth() + 1).padStart(2, \"0\") + \"-\" + String(date.getDate()).padStart(2, \"0\"); };\n    if (value === local(today)) return \"hoje\";\n    if (value === local(yesterday)) return \"ontem\";\n    return \"\";\n  };\n  scope.translateWeekday = function(value) {\n    var labels = { monday: \"Segunda\", tuesday: \"Terça\", wednesday: \"Quarta\", thursday: \"Quinta\", friday: \"Sexta\", saturday: \"Sábado\", sunday: \"Domingo\" };\n    return labels[String(value || \"\").toLowerCase()] || value;\n  };\n  scope.modeLabel = function(log) { return scope.isAutomatic(log) ? \"Automático\" : \"Manual\"; };\n  scope.visibleHistory = function() {\n    var query = String(scope.history_query || \"\").toLowerCase().trim();\n    if (!query) return scope.history_records;\n    return scope.history_records.filter(function(log) {\n      return (String(log.valve || \"\") + \" \" + String(log.mode || \"\") + \" \" + scope.translateWeekday(log.weekday)).toLowerCase().indexOf(query) !== -1;\n    });\n  };\n  scope.totalPages = function() {\n    return Math.max(1, Math.ceil(scope.visibleHistory().length / scope.history_page_size));\n  };\n  scope.currentPage = function() {\n    var page = parseInt(scope.history_page, 10) || 1;\n    return Math.min(Math.max(page, 1), scope.totalPages());\n  };\n  scope.pagedHistory = function() {\n    var records = scope.visibleHistory();\n    var page = scope.currentPage();\n    var start = (page - 1) * scope.history_page_size;\n    return records.slice(start, start + scope.history_page_size);\n  };\n  scope.previousPage = function() {\n    scope.history_page = Math.max(1, scope.currentPage() - 1);\n  };\n  scope.nextPage = function() {\n    scope.history_page = Math.min(scope.totalPages(), scope.currentPage() + 1);\n  };\n  if (!scope.history_initial_today_loaded) {\n    scope.history_initial_today_loaded = true;\n    setTimeout(function() {\n      scope.$applyAsync(function() {\n        scope.filterToday();\n      });\n    }, 0);\n  }\n})(scope);\n</script>\n",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1080,
    "y": 1500,
    "wires": [
      [
        "ef1f5bb.cb3c4a8"
      ]
    ]
  },
  {
    "id": "2f6461be.56130e",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Filtra históricos",
    "info": "",
    "x": 280,
    "y": 1460,
    "wires": []
  },
  {
    "id": "681694c2.ce0b1c",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "67e3dc5a.39e7f4",
    "name": "Novo agendamento",
    "order": 0,
    "width": "24",
    "height": "16",
    "format": "<style>\n:root {\n  --ir-green: #11877d;\n  --ir-green-dark: #0d756c;\n  --ir-ink: #071a18;\n  --ir-muted: #697274;\n  --ir-line: #dde2e2;\n  --ir-canvas: #edf1f3;\n  --ir-panel: #f9fbfc;\n  --ir-white: #fff;\n}\n\nbody.nr-dashboard-theme {\n  background: var(--ir-canvas) !important;\n  color: var(--ir-ink);\n  font-family: Inter, Roboto, Arial, sans-serif;\n}\n#nr-dashboard md-toolbar,\n#nr-dashboard md-sidenav { display: none !important; }\n#nr-dashboard md-content { overflow-x: hidden !important; }\n.nr-dashboard-theme .masonry-container { width: 100% !important; max-width: none !important; margin: 0 !important; }\n.nr-dashboard-theme ui-card-panel { position: relative !important; inset: auto !important; display: block !important; width: 100% !important; margin: 0 !important; }\n.nr-dashboard-theme .nr-dashboard-cardpanel,\n.nr-dashboard-theme .nr-dashboard-cardcontainer { width: 100% !important; height: auto !important; min-height: 0 !important; background: transparent !important; }\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  position: relative !important;\n  inset: auto !important;\n  width: 100% !important;\n  height: auto !important;\n  min-height: 0 !important;\n  margin: 0 !important;\n  overflow: visible !important;\n  border: 0 !important;\n  border-radius: 0 !important;\n  background: transparent !important;\n  box-shadow: none !important;\n}\n.nr-dashboard-theme .nr-dashboard-template .ir-shell p,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h1,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h2,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h3,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h4 {\n  background-color: transparent !important;\n}\n.nr-dashboard-theme .nr-dashboard-template .ir-shell svg path { fill: none !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-eyebrow { color: var(--ir-green) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-title { color: var(--ir-ink) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-subtitle { color: var(--ir-muted) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-summary-main { color: #fff !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-summary-detail { color: #82918f !important; }\n\n.ir-shell, .ir-shell * { box-sizing: border-box !important; }\n.ir-shell {\n  width: 100%;\n  min-height: 100vh;\n  margin: 0;\n  overflow: hidden;\n  border-radius: 0;\n  background: var(--ir-panel);\n  box-shadow: none;\n}\n.ir-topbar {\n  display: flex;\n  height: 60px;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0 22px;\n  background: var(--ir-green);\n  color: #fff;\n}\n.ir-brand, .ir-system, .ir-brand-mark, .ir-online {\n  display: flex;\n  align-items: center;\n}\n.ir-brand { gap: 12px; font-size: 16px; font-weight: 800; }\n.ir-brand-mark { gap: 10px; }\n.ir-brand svg { width: 21px; height: 21px; }\n.ir-menu-button {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  place-items: center;\n  border: 0;\n  border-radius: 9px;\n  padding: 0;\n  background: transparent;\n  color: inherit;\n  cursor: pointer;\n}\n.ir-menu-button:hover { background: rgba(255, 255, 255, .12); }\n.ir-menu-icon { width: 21px; height: 21px; opacity: .95; }\n.ir-system { gap: 14px; }\n.ir-online {\n  gap: 7px;\n  padding: 7px 11px;\n  border-radius: 999px;\n  background: rgba(255, 255, 255, .12);\n  font-size: 12px;\n  font-weight: 700;\n}\n.ir-online-dot {\n  width: 8px;\n  height: 8px;\n  border-radius: 50%;\n  background: #6df0a9;\n  box-shadow: 0 0 0 4px rgba(109, 240, 169, .13);\n}\n.ir-online.is-offline .ir-online-dot {\n  background: #ff7a7a;\n  box-shadow: 0 0 0 4px rgba(255, 122, 122, .16);\n}\n.ir-online.is-reconnecting .ir-online-dot {\n  background: #ffd166;\n  box-shadow: 0 0 0 4px rgba(255, 209, 102, .18);\n}\n.ir-avatar {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  place-items: center;\n  border-radius: 50%;\n  background: rgba(255, 255, 255, .16);\n  font-size: 11px;\n  font-weight: 800;\n}\n.ir-layout { display: flex; min-height: calc(100vh - 60px); }\n.ir-mobile-backdrop { display: none; }\n.ir-sidebar {\n  display: flex;\n  width: 240px;\n  flex: 0 0 240px;\n  flex-direction: column;\n  padding: 22px 14px;\n  border-right: 1px solid var(--ir-line);\n  background: #f6f8f9;\n}\n.ir-nav-label {\n  margin: 0 10px 10px;\n  color: #9aa2a4;\n  font-size: 10px;\n  font-weight: 800;\n  letter-spacing: .09em;\n  text-transform: uppercase;\n}\n.ir-nav { display: grid; gap: 3px; }\n.ir-nav-button {\n  display: flex;\n  width: 100%;\n  height: 41px;\n  align-items: center;\n  gap: 12px;\n  border: 0;\n  border-radius: 10px;\n  padding: 0 12px;\n  background: transparent;\n  color: #13211f;\n  cursor: pointer;\n  font-size: 14px;\n  font-weight: 700;\n  text-align: left;\n  text-decoration: none;\n}\n.ir-nav-button:hover { background: #edf2f1; }\n.ir-nav-button.is-active { background: var(--ir-green); color: #fff; }\n.ir-nav-button svg { width: 18px; height: 18px; flex: 0 0 auto; }\n.ir-side-card {\n  margin-top: auto;\n  padding: 16px 14px;\n  border: 1px solid var(--ir-line);\n  border-radius: 11px;\n  background: #fff;\n}\n.ir-side-card-label {\n  margin: 0 0 8px;\n  color: var(--ir-green);\n  font-size: 10px;\n  font-weight: 900;\n  letter-spacing: .08em;\n  text-transform: uppercase;\n}\n.ir-side-card strong { display: block; font-size: 20px; line-height: 1.1; }\n.ir-side-card span { display: block; margin-top: 6px; color: var(--ir-muted); font-size: 12px; }\n.ir-content { min-width: 0; flex: 1; padding: clamp(30px, 4vw, 60px) clamp(24px, 5vw, 76px) 42px; }\n.ir-page-heading {\n  display: flex;\n  align-items: flex-start;\n  justify-content: space-between;\n  gap: 16px;\n  margin-bottom: 27px;\n}\n.ir-breadcrumb-button {\n  display: inline-flex;\n  align-items: center;\n  gap: 7px;\n  border: 0;\n  padding: 0;\n  background: transparent;\n  color: inherit;\n  cursor: pointer;\n  font: inherit;\n  text-decoration: none;\n}\n.ir-breadcrumb-button svg { width: 15px; height: 15px; }\n.ir-back-link { flex: 0 0 auto; margin-top: 4px; color: #6b7475; font-size: 12px; font-weight: 850; }\n.ir-back-link:hover { color: var(--ir-green); }\n.ir-page-heading .ir-subtitle { margin-bottom: 0; }\n.ir-eyebrow {\n  margin: 0 0 7px;\n  color: var(--ir-green);\n  font-size: 10px;\n  font-weight: 900;\n  letter-spacing: .1em;\n  text-transform: uppercase;\n  color: var(--ir-green) !important;\n}\n.ir-title { margin: 0; color: #071614 !important; font-size: 29px; font-weight: 850; line-height: 1.1; }\n.ir-subtitle { margin: 8px 0 27px; color: var(--ir-muted) !important; font-size: 13px; }\n.ir-form { display: grid; gap: 18px; }\n.ir-main-fields { display: grid; grid-template-columns: 1fr 1fr; gap: 22px; }\n.ir-label {\n  display: flex;\n  align-items: center;\n  gap: 7px;\n  margin-bottom: 8px;\n  color: #10201d;\n  font-size: 11px;\n  font-weight: 850;\n}\n.ir-label svg { width: 14px; height: 14px; color: var(--ir-green); }\n.ir-time-stack { display: grid; gap: 9px; }\n.ir-time-control, .ir-duration-control {\n  position: relative;\n  display: flex;\n  height: 64px;\n  align-items: center;\n  border: 1px solid var(--ir-line);\n  border-radius: 10px;\n  background: #fff;\n}\n.ir-time-control:focus-within { border-color: var(--ir-green); box-shadow: 0 0 0 3px rgba(17, 135, 125, .12); }\n.ir-time-remove {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  flex: 0 0 34px;\n  place-items: center;\n  border: 0;\n  border-radius: 9px;\n  margin-right: 11px;\n  background: #f4f7f7;\n  color: #60706d;\n  cursor: pointer;\n  font-size: 18px;\n  font-weight: 850;\n}\n.ir-time-remove:hover { background: #ffecec; color: #d43f3f; }\n.ir-time-input {\n  width: 100%;\n  height: 100%;\n  border: 0;\n  outline: 0;\n  padding: 0 16px;\n  background: transparent;\n  color: #061614;\n  font-family: inherit;\n  font-size: 29px;\n  font-weight: 850;\n  letter-spacing: .08em;\n}\n.ir-duration-value {\n  display: flex;\n  flex: 1;\n  align-items: baseline;\n  gap: 7px;\n  padding-left: 16px;\n}\n.ir-duration-value input {\n  width: 55px;\n  border: 0;\n  outline: 0;\n  padding: 0;\n  background: transparent;\n  color: #061614;\n  font-family: inherit;\n  font-size: 29px;\n  font-weight: 850;\n}\n.ir-duration-value span { color: #737b7d; font-size: 12px; }\n.ir-stepper { display: flex; gap: 5px; padding-right: 14px; }\n.ir-step-button {\n  display: grid;\n  width: 26px;\n  height: 26px;\n  place-items: center;\n  border: 0;\n  border-radius: 7px;\n  background: #f0f3f3;\n  color: #12201e;\n  cursor: pointer;\n  font-size: 16px;\n  font-weight: 850;\n}\n.ir-time-toolbar {\n  display: flex;\n  flex-wrap: wrap;\n  align-items: center;\n  justify-content: space-between;\n  gap: 9px;\n  margin-top: 9px;\n}\n.ir-quick-options { display: flex; flex-wrap: wrap; gap: 7px; }\n.ir-chip {\n  min-height: 27px;\n  border: 1px solid var(--ir-line);\n  border-radius: 999px;\n  padding: 0 11px;\n  background: #fff;\n  color: #14201e;\n  cursor: pointer;\n  font-size: 10px;\n  font-weight: 800;\n}\n.ir-chip.is-active, .ir-chip:hover { border-color: var(--ir-green); background: var(--ir-green); color: #fff; }\n.ir-add-time-button {\n  display: inline-flex;\n  min-height: 32px;\n  align-items: center;\n  justify-content: center;\n  gap: 7px;\n  border: 1px solid rgba(17, 135, 125, .28);\n  border-radius: 999px;\n  padding: 0 13px;\n  background: var(--ir-green-soft, #e8f7f2);\n  color: var(--ir-green);\n  cursor: pointer;\n  font: inherit;\n  font-size: 11px;\n  font-weight: 900;\n}\n.ir-add-time-button:hover { border-color: var(--ir-green); background: var(--ir-green); color: #fff; }\n.ir-add-time-button:disabled { cursor: not-allowed; opacity: .45; }\n.ir-section-block { min-width: 0; }\n.ir-valves { display: grid; grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); gap: 12px; }\n.ir-valve-card {\n  position: relative;\n  min-width: 0;\n  height: 74px;\n  border: 1px solid var(--ir-line);\n  border-radius: 10px;\n  padding: 12px 13px;\n  background: #fff;\n  color: var(--ir-ink);\n  cursor: pointer;\n  text-align: left;\n}\n.ir-valve-card:hover { border-color: #9bcac5; }\n.ir-valve-card.is-selected { border-color: var(--ir-green); background: #e7f4f1; }\n.ir-valve-top { display: flex; align-items: center; justify-content: space-between; gap: 8px; }\n.ir-valve-icon {\n  display: grid;\n  width: 26px;\n  height: 26px;\n  place-items: center;\n  border-radius: 8px;\n  background: #e9efff;\n  color: #607ff3;\n}\n.ir-valve-card:nth-child(4n + 2) .ir-valve-icon { background: #dff3ef; color: var(--ir-green); }\n.ir-valve-card:nth-child(4n + 3) .ir-valve-icon { background: #eee8ff; color: #795eea; }\n.ir-valve-card:nth-child(4n + 4) .ir-valve-icon { background: #fff0dc; color: #f09a2a; }\n.ir-valve-icon svg { width: 15px; height: 15px; }\n.ir-valve-pin { color: #92999a; font-size: 9px; }\n.ir-valve-check {\n  position: absolute;\n  top: 8px;\n  right: 8px;\n  display: grid;\n  width: 16px;\n  height: 16px;\n  place-items: center;\n  border-radius: 50%;\n  background: var(--ir-green);\n  color: #fff;\n  font-size: 10px;\n  font-weight: 900;\n}\n.ir-valve-name { display: block; overflow: hidden; margin-top: 7px; font-size: 11px; font-weight: 850; text-overflow: ellipsis; white-space: nowrap; }\n.ir-empty-valves { padding: 18px; border: 1px dashed #cfd6d5; border-radius: 10px; color: var(--ir-muted); font-size: 12px; text-align: center; }\n.ir-weekdays-head { display: flex; align-items: flex-end; justify-content: space-between; gap: 15px; }\n.ir-weekday-presets { display: flex; flex-wrap: wrap; justify-content: flex-end; gap: 6px; }\n.ir-weekday-presets .ir-chip { min-height: 25px; padding: 0 10px; }\n.ir-weekday-grid { display: grid; grid-template-columns: repeat(7, minmax(0, 1fr)); gap: 8px; margin-top: 8px; }\n.ir-weekday-card {\n  height: 64px;\n  border: 1px solid var(--ir-line);\n  border-radius: 10px;\n  background: #fff;\n  color: #101d1b;\n  cursor: pointer;\n}\n.ir-weekday-card span { display: block; color: #747c7e; font-size: 8px; font-weight: 800; text-transform: uppercase; }\n.ir-weekday-card strong { display: block; margin-top: 5px; font-size: 15px; }\n.ir-weekday-card.is-selected { border-color: var(--ir-green); background: var(--ir-green); color: #fff; }\n.ir-weekday-card.is-selected span { color: rgba(255, 255, 255, .8); }\n.ir-summary {\n  display: flex;\n  min-height: 92px;\n  align-items: center;\n  gap: 18px;\n  margin-top: 2px;\n  border-radius: 13px;\n  padding: 17px 20px;\n  background: #0b201d;\n  color: #fff;\n}\n.ir-summary-icon {\n  display: grid;\n  width: 44px;\n  height: 44px;\n  flex: 0 0 auto;\n  place-items: center;\n  border-radius: 11px;\n  background: rgba(255, 255, 255, .08);\n  color: #48e4a1;\n}\n.ir-summary-icon svg { width: 22px; height: 22px; }\n.ir-summary-label { display: block; margin-bottom: 5px; color: #859592; font-size: 9px; font-weight: 900; letter-spacing: .1em; text-transform: uppercase; }\n.ir-summary-main { margin: 0; color: #fff !important; font-size: 13px; font-weight: 750; line-height: 1.45; }\n.ir-summary-main strong { color: #fff; }\n.ir-summary-main .ir-highlight { color: #42de9b; }\n.ir-summary-detail { margin: 4px 0 0; color: #82918f !important; font-size: 10px; }\n.ir-feedback {\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  gap: 14px;\n  padding: 11px 14px;\n  border-radius: 9px;\n  font-size: 12px;\n  font-weight: 750;\n}\n.ir-feedback.is-error { border: 1px solid #ffd1d1; background: #fff0f0; color: #c92f2f; }\n.ir-feedback.is-loading { border: 1px solid #ccece2; background: #edf9f5; color: var(--ir-green-dark); }\n.ir-feedback button { border: 0; background: transparent; color: inherit; cursor: pointer; font-weight: 850; }\n.ir-actions {\n  display: flex;\n  align-items: center;\n  justify-content: flex-end;\n  gap: 10px;\n  padding-top: 4px;\n}\n.ir-cancel-button, .ir-secondary-button, .ir-primary-button {\n  height: 42px;\n  border-radius: 9px;\n  padding: 0 18px;\n  cursor: pointer;\n  font: inherit;\n  font-size: 12px;\n  font-weight: 850;\n  text-decoration: none;\n}\n.ir-cancel-button { display: inline-flex; align-items: center; margin-right: auto; border: 0; padding-left: 3px; background: transparent; color: #6b7475; }\n.ir-secondary-button { border: 1px solid var(--ir-line); background: #fff; color: #172321; }\n.ir-primary-button {\n  display: inline-flex;\n  align-items: center;\n  justify-content: center;\n  gap: 10px;\n  border: 0;\n  background: var(--ir-green);\n  color: #fff;\n  box-shadow: 0 5px 12px rgba(17, 135, 125, .22);\n}\n.ir-primary-button:hover { background: var(--ir-green-dark); }\n.ir-primary-button svg { width: 16px; height: 16px; }\n.ir-primary-button:disabled, .ir-secondary-button:disabled { cursor: not-allowed; opacity: .48; box-shadow: none; }\n\n@media (max-width: 820px) {\n  .ir-layout { min-height: calc(100vh - 60px); }\n  .ir-mobile-backdrop {\n    position: fixed;\n    inset: 60px 0 0;\n    z-index: 900;\n    display: block;\n    background: rgba(5, 24, 22, .42);\n  }\n  .ir-sidebar {\n    position: fixed;\n    top: 60px;\n    bottom: 0;\n    left: 0;\n    z-index: 901;\n    display: flex;\n    max-width: min(82vw, 280px);\n    transform: translateX(-105%);\n    transition: transform .2s ease;\n    box-shadow: 18px 0 36px rgba(7, 26, 24, .22);\n  }\n  .ir-sidebar.is-mobile-open { transform: translateX(0); }\n  .ir-content { padding: 30px 24px; }\n  .ir-valves { grid-template-columns: repeat(2, minmax(0, 1fr)); }\n}\n@media (max-width: 560px) {\n  .ir-topbar { height: 56px; padding: 0 14px; }\n  .ir-mobile-backdrop { inset: 56px 0 0; }\n  .ir-sidebar { top: 56px; }\n  .ir-brand { gap: 9px; }\n  .ir-system { gap: 8px; }\n  .ir-online { padding: 6px 8px; }\n  .ir-avatar { display: none; }\n  .ir-content { padding: 25px 15px 28px; }\n  .ir-page-heading { display: block; }\n  .ir-back-link { margin-top: 14px; }\n  .ir-title { font-size: 27px; }\n  .ir-main-fields { grid-template-columns: 1fr; gap: 17px; }\n  .ir-weekdays-head { display: block; }\n  .ir-weekday-presets { justify-content: flex-start; margin-top: 9px; }\n  .ir-weekday-grid { grid-template-columns: repeat(4, minmax(0, 1fr)); }\n  .ir-weekday-card { height: 58px; }\n  .ir-summary { align-items: flex-start; padding: 16px; }\n  .ir-summary-icon { width: 38px; height: 38px; }\n  .ir-actions { display: grid; grid-template-columns: 1fr; }\n  .ir-actions > * { width: 100%; }\n  .ir-cancel-button { order: 3; margin: 0; }\n}\n</style>\n\n<section class=\"ir-shell\">\n  <header class=\"ir-topbar\">\n    <div class=\"ir-brand\">\n      <button type=\"button\" class=\"ir-menu-button\" aria-label=\"Abrir menu\" ng-click=\"toggleMobileMenu($event)\">\n        <svg class=\"ir-menu-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" aria-hidden=\"true\"><path d=\"M4 6h16M4 12h16M4 18h16\"/></svg>\n      </button>\n      <span class=\"ir-brand-mark\">\n        <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg>\n        <span>Irriga</span>\n      </span>\n    </div>\n    <div class=\"ir-system\">\n      <div class=\"ir-online\" ng-class=\"systemStatusClass()\" title=\"{{ systemStatusTitle() }}\"><span class=\"ir-online-dot\"></span>{{ systemStatusLabel() }}</div>\n      <span class=\"ir-avatar\">IR</span>\n    </div>\n  </header>\n\n  <div class=\"ir-layout\">\n    <div class=\"ir-mobile-backdrop\" ng-if=\"mobile_menu_open\" ng-click=\"closeMobileMenu()\"></div>\n    <aside class=\"ir-sidebar\" ng-class=\"{'is-mobile-open': mobile_menu_open}\">\n      <p class=\"ir-nav-label\">Irrigação</p>\n      <nav class=\"ir-nav\" aria-label=\"Navegação principal\">\n        <a class=\"ir-nav-button\" href=\"#!/0\" ng-click=\"navigateToTab(0, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\"/><path d=\"M16 3v4M8 3v4M3 10h18\"/></svg>\n          Agendamentos\n        </a>\n        <button type=\"button\" class=\"ir-nav-button is-active\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 5v14M5 12h14\"/></svg>\n          Novo agendamento\n        </button>\n        <a class=\"ir-nav-button\" href=\"#!/2\" ng-click=\"navigateToTab(2, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg>\n          Histórico\n        </a>\n        <a class=\"ir-nav-button\" href=\"#!/3\" ng-click=\"navigateToTab(3, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"3\"/><path d=\"M19.4 15a1.8 1.8 0 0 0 .36 1.98l.04.04a2 2 0 1 1-2.83 2.83l-.04-.04A1.8 1.8 0 0 0 15 19.4a1.8 1.8 0 0 0-1 .6l-.03.04a2 2 0 0 1-3.42-1.42v-.05A1.8 1.8 0 0 0 9 17.6a1.8 1.8 0 0 0-1.98.36l-.04.04a2 2 0 1 1-2.83-2.83l.04-.04A1.8 1.8 0 0 0 4.6 13a1.8 1.8 0 0 0-.6-1l-.04-.03a2 2 0 0 1 1.42-3.42h.05A1.8 1.8 0 0 0 6.4 7a1.8 1.8 0 0 0-.36-1.98L6 4.98a2 2 0 0 1 2.83-2.83l.04.04A1.8 1.8 0 0 0 11 2.6a1.8 1.8 0 0 0 1-.6l.03-.04a2 2 0 0 1 3.42 1.42v.05A1.8 1.8 0 0 0 17 4.4a1.8 1.8 0 0 0 1.98-.36l.04-.04a2 2 0 1 1 2.83 2.83l-.04.04A1.8 1.8 0 0 0 19.4 9c.2.33.4.65.6 1l.04.03a2 2 0 0 1-1.42 3.42h-.05A1.8 1.8 0 0 0 19.4 15Z\"/></svg>\n          Configurações\n        </a>\n      </nav>\n\n      <div class=\"ir-side-card\">\n        <p class=\"ir-side-card-label\">Novo horário</p>\n        <strong>Rega</strong>\n        <span>Configure seção, dias e duração.</span>\n      </div>\n    </aside>\n\n    <main class=\"ir-content\">\n      <div class=\"ir-page-heading\">\n        <div>\n          <p class=\"ir-eyebrow\">Novo horário</p>\n          <h1 class=\"ir-title\">Programar uma rega</h1>\n          <p class=\"ir-subtitle\">Defina quando a irrigação deve ligar, por quanto tempo e em qual seção.</p>\n        </div>\n        <a class=\"ir-breadcrumb-button ir-back-link\" href=\"#!/0\" ng-click=\"navigateToTab(0, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" aria-hidden=\"true\"><path d=\"m15 18-6-6 6-6\"/></svg>\n          Agendamentos\n        </a>\n      </div>\n\n    <form class=\"ir-form\">\n      <div class=\"ir-feedback is-error\" ng-if=\"create_error\">\n        <span>{{ create_error }}</span>\n        <button type=\"button\" ng-click=\"dismissCreateError()\">Fechar</button>\n      </div>\n      <div class=\"ir-feedback is-loading\" ng-if=\"create_state.submitting\">Cadastrando agendamento...</div>\n\n      <div class=\"ir-main-fields\">\n        <div>\n          <label class=\"ir-label\" for=\"time\">\n            <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg>\n            Horário para ligar\n          </label>\n          <div class=\"ir-time-stack\">\n            <div class=\"ir-time-control\" ng-repeat=\"time in create_form.times track by $index\">\n              <input class=\"ir-time-input\" type=\"time\" id=\"time-{{$index}}\" name=\"time{{$index}}\" ng-model=\"create_form.times[$index]\" required>\n              <button type=\"button\" class=\"ir-time-remove\" ng-if=\"create_form.times.length > 1\" ng-click=\"removeTime(create_form, $index)\" aria-label=\"Remover horário\">×</button>\n            </div>\n          </div>\n          <div class=\"ir-time-toolbar\">\n            <div class=\"ir-quick-options\">\n              <button type=\"button\" class=\"ir-chip\" ng-click=\"setQuickTime('06:00')\">Amanhecer</button>\n              <button type=\"button\" class=\"ir-chip\" ng-click=\"setQuickTime('12:00')\">Meio-dia</button>\n              <button type=\"button\" class=\"ir-chip\" ng-click=\"setQuickTime('18:00')\">Entardecer</button>\n            </div>\n            <button type=\"button\" class=\"ir-add-time-button\" ng-disabled=\"create_form.times.length >= 3\" ng-click=\"addTime(create_form)\">+ Adicionar horário</button>\n          </div>\n        </div>\n\n        <div>\n          <label class=\"ir-label\" for=\"duration_minutes\">\n            <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg>\n            Tempo ligado\n          </label>\n          <div class=\"ir-duration-control\">\n            <div class=\"ir-duration-value\"><input type=\"number\" id=\"duration_minutes\" name=\"duration_minutes\" min=\"1\" step=\"1\" ng-model=\"create_form.duration_minutes\" required><span>minutos</span></div>\n            <div class=\"ir-stepper\">\n              <button type=\"button\" class=\"ir-step-button\" ng-click=\"adjustDuration(-1)\" aria-label=\"Diminuir duração\">−</button>\n              <button type=\"button\" class=\"ir-step-button\" ng-click=\"adjustDuration(1)\" aria-label=\"Aumentar duração\">+</button>\n            </div>\n          </div>\n          <div class=\"ir-quick-options\">\n            <button type=\"button\" class=\"ir-chip\" ng-class=\"{'is-active': create_form.duration_minutes == 5}\" ng-click=\"setDuration(5)\">5 min</button>\n            <button type=\"button\" class=\"ir-chip\" ng-class=\"{'is-active': create_form.duration_minutes == 12}\" ng-click=\"setDuration(12)\">12 min</button>\n            <button type=\"button\" class=\"ir-chip\" ng-class=\"{'is-active': create_form.duration_minutes == 20}\" ng-click=\"setDuration(20)\">20 min</button>\n            <button type=\"button\" class=\"ir-chip\" ng-class=\"{'is-active': create_form.duration_minutes == 30}\" ng-click=\"setDuration(30)\">30 min</button>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"ir-section-block\">\n        <p class=\"ir-label\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"3\" width=\"18\" height=\"18\" rx=\"2\"/><path d=\"M9 3v18M3 9h18\"/></svg>\n          Seção / válvula\n        </p>\n        <div class=\"ir-valves\" ng-if=\"valves.length > 0\">\n          <button type=\"button\" class=\"ir-valve-card\" ng-repeat=\"valve in valves track by valve.pin\" ng-class=\"{'is-selected': isValveSelected(valve)}\" ng-click=\"selectValve(valve)\">\n            <span class=\"ir-valve-check\" ng-if=\"isValveSelected(valve)\">✓</span>\n            <span class=\"ir-valve-top\">\n              <span class=\"ir-valve-icon\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.7\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg></span>\n              <span class=\"ir-valve-pin\">V.{{ valve.pin }}</span>\n            </span>\n            <span class=\"ir-valve-name\">{{ valve.section }}</span>\n          </button>\n        </div>\n        <div class=\"ir-empty-valves\" ng-if=\"valves.length === 0\">Nenhuma seção disponível.</div>\n      </div>\n\n      <div>\n        <div class=\"ir-weekdays-head\">\n          <p class=\"ir-label\" style=\"margin-bottom:0\">\n            <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\"/><path d=\"M16 3v4M8 3v4M3 10h18\"/></svg>\n            Dias da semana\n          </p>\n          <div class=\"ir-weekday-presets\">\n            <button type=\"button\" class=\"ir-chip\" ng-click=\"selectEveryday(create_form)\">Todos os dias</button>\n            <button type=\"button\" class=\"ir-chip\" ng-click=\"selectWeekdays(create_form)\">Dias úteis</button>\n            <button type=\"button\" class=\"ir-chip\" ng-click=\"selectWeekend(create_form)\">Fim de semana</button>\n          </div>\n        </div>\n        <div class=\"ir-weekday-grid\">\n          <button type=\"button\" class=\"ir-weekday-card\" ng-repeat=\"weekday in weekday_options track by weekday.id\" ng-class=\"{'is-selected': isWeekdaySelected(create_form.weekdays, weekday.id)}\" ng-click=\"toggleWeekday(create_form, weekday.id)\">\n            <span>{{ weekday.label }}</span><strong>{{ weekDateNumber($index) }}</strong>\n          </button>\n        </div>\n      </div>\n\n      <div class=\"ir-summary\">\n        <span class=\"ir-summary-icon\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.7\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg></span>\n        <div>\n          <span class=\"ir-summary-label\">Resumo</span>\n          <p class=\"ir-summary-main\"><span class=\"ir-highlight\">{{ sectionName(create_form.section) }}</span> será regada por <strong>{{ create_form.duration_minutes || 0 }} minutos</strong> às <strong>{{ formatTimes(create_form.times) }}</strong>, {{ formatWeekdaysSentence(create_form.weekdays) }}.</p>\n          <p class=\"ir-summary-detail\">Recorrência semanal · consumo estimado indisponível</p>\n        </div>\n      </div>\n\n      <div class=\"ir-actions\">\n        <a class=\"ir-cancel-button\" href=\"#!/0\" ng-click=\"navigateToTab(0, $event)\">Cancelar</a>\n        <button type=\"button\" class=\"ir-secondary-button\" disabled title=\"Disponível em uma próxima versão\">Salvar rascunho</button>\n        <button type=\"button\" class=\"ir-primary-button\" ng-disabled=\"create_state.submitting || !hasScheduleTimes(create_form.times) || !create_form.duration_minutes || !create_form.section || !hasSelectedWeekday(create_form.weekdays)\" ng-click=\"send({payload:createSchedule()})\">\n          {{ create_state.submitting ? \"Cadastrando...\" : \"Criar agendamento\" }}\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" aria-hidden=\"true\"><path d=\"M5 12h14M13 6l6 6-6 6\"/></svg>\n        </button>\n      </div>\n    </form>\n    </main>\n  </div>\n</section>\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n(function(scope) {\n  scope.weekday_options = [\n    { id: \"mon\", label: \"Seg\" },\n    { id: \"tue\", label: \"Ter\" },\n    { id: \"wed\", label: \"Qua\" },\n    { id: \"thu\", label: \"Qui\" },\n    { id: \"fri\", label: \"Sex\" },\n    { id: \"sat\", label: \"Sáb\" },\n    { id: \"sun\", label: \"Dom\" }\n  ];\n  scope.create_form = scope.create_form || { times: [\"\"], duration_minutes: \"\", section: \"\", weekdays: scope.weekday_options.map(function(weekday) { return weekday.id; }) };\n  if (!Array.isArray(scope.create_form.times)) scope.create_form.times = [scope.create_form.time || \"\"];\n  if (!Array.isArray(scope.create_form.weekdays)) scope.create_form.weekdays = scope.weekday_options.map(function(weekday) { return weekday.id; });\n  scope.create_state = scope.create_state || { submitting: false };\n  scope.create_error = scope.create_error || null;\n  scope.valves = scope.valves || [];\n  scope.mobile_menu_open = scope.mobile_menu_open || false;\n  scope.system_status = scope.system_status || { status: \"reconnecting\", label: \"Verificando sistema\" };\n  scope.system_status_timeout_ms = 25000;\n  scope.system_status_timer = scope.system_status_timer || null;\n\n  scope.$watch(\"msg\", function(msg) {\n    if (!msg) return;\n    if (msg.topic === \"system_health\") {\n      scope.applySystemHealth(msg.payload);\n      return;\n    }\n    if (msg.topic === \"schedule_create_error\") {\n      scope.create_state.submitting = false;\n      scope.create_error = msg.payload || null;\n      return;\n    }\n    if (Array.isArray(msg.payload)) scope.valves = msg.payload;\n  });\n\n  scope.navigateToTab = function(index, event) {\n    if (event) event.preventDefault();\n    scope.closeMobileMenu();\n    window.location.hash = \"#!/\" + index;\n  };\n  scope.toggleMobileMenu = function(event) {\n    if (event) event.preventDefault();\n    scope.mobile_menu_open = !scope.mobile_menu_open;\n  };\n  scope.closeMobileMenu = function() {\n    scope.mobile_menu_open = false;\n  };\n  scope.applySystemHealth = function(payload) {\n    var status = payload && payload.status === \"online\" ? \"online\" : \"offline\";\n    scope.system_status = {\n      status: status,\n      label: payload && payload.label ? payload.label : (status === \"online\" ? \"Sistema online\" : \"Sistema offline\"),\n      last_seen_at: payload && payload.last_seen_at ? payload.last_seen_at : null,\n      checked_at: payload && payload.checked_at ? payload.checked_at : null\n    };\n    scope.armSystemStatusTimeout();\n  };\n  scope.armSystemStatusTimeout = function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n    scope.system_status_timer = setTimeout(function() {\n      scope.$applyAsync(function() {\n        scope.system_status = { status: \"offline\", label: \"Sistema offline\", last_seen_at: scope.system_status.last_seen_at || null };\n      });\n    }, scope.system_status_timeout_ms);\n  };\n  scope.systemStatusClass = function() {\n    return \"is-\" + ((scope.system_status && scope.system_status.status) || \"reconnecting\");\n  };\n  scope.systemStatusLabel = function() {\n    return (scope.system_status && scope.system_status.label) || \"Verificando sistema\";\n  };\n  scope.systemStatusTitle = function() {\n    if (!scope.system_status || !scope.system_status.last_seen_at) return \"Aguardando verificação do sistema\";\n    return \"Último heartbeat do controlador: \" + scope.system_status.last_seen_at;\n  };\n  scope.$on(\"$destroy\", function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n  });\n  scope.toTimeValue = function(value) {\n    var parts = String(value || \"\").split(\":\");\n    var date = new Date();\n    date.setHours(parseInt(parts[0], 10) || 0, parseInt(parts[1], 10) || 0, 0, 0);\n    return date;\n  };\n  scope.setQuickTime = function(value) {\n    var target = scope.create_form.times.indexOf(\"\");\n    if (target === -1) target = Math.max(0, scope.create_form.times.length - 1);\n    scope.create_form.times[target] = scope.toTimeValue(value);\n  };\n  scope.addTime = function(form) {\n    if (!Array.isArray(form.times)) form.times = [\"\"];\n    if (form.times.length < 3) form.times.push(\"\");\n  };\n  scope.removeTime = function(form, index) {\n    if (!Array.isArray(form.times)) form.times = [\"\"];\n    if (form.times.length > 1) form.times.splice(index, 1);\n  };\n  scope.setDuration = function(value) { scope.create_form.duration_minutes = value; };\n  scope.adjustDuration = function(delta) { scope.create_form.duration_minutes = Math.max(1, (parseInt(scope.create_form.duration_minutes, 10) || 1) + delta); };\n  scope.selectValve = function(valve) { scope.create_form.section = valve.pin; };\n  scope.isValveSelected = function(valve) { return String(scope.create_form.section) === String(valve.pin); };\n  scope.formatTime = function(value) {\n    if (!value) return \"--:--\";\n    if (typeof value === \"string\" && /^\\d{2}:\\d{2}/.test(value)) return value.slice(0, 5);\n    var date = value instanceof Date ? value : new Date(value);\n    if (isNaN(date.getTime())) return \"--:--\";\n    return String(date.getHours()).padStart(2, \"0\") + \":\" + String(date.getMinutes()).padStart(2, \"0\");\n  };\n  scope.normalizeTimes = function(values) {\n    if (!Array.isArray(values)) values = [values];\n    return values.map(scope.formatTime).filter(function(value) { return value !== \"--:--\"; });\n  };\n  scope.hasScheduleTimes = function(values) {\n    var times = scope.normalizeTimes(values);\n    return times.length >= 1 && times.length <= 3;\n  };\n  scope.formatTimes = function(values) {\n    var times = scope.normalizeTimes(values);\n    return times.length ? times.join(\", \") : \"--:--\";\n  };\n  scope.sectionName = function(value) {\n    for (var i = 0; i < scope.valves.length; i += 1) {\n      if (String(scope.valves[i].pin) === String(value)) return scope.valves[i].section;\n    }\n    return \"Selecione uma seção\";\n  };\n  scope.normalizeWeekdays = function(values) {\n    if (!Array.isArray(values)) return [];\n    return scope.weekday_options.map(function(weekday) { return weekday.id; }).filter(function(id) { return values.indexOf(id) !== -1; });\n  };\n  scope.hasSelectedWeekday = function(values) { return scope.normalizeWeekdays(values).length > 0; };\n  scope.isEveryday = function(values) { return scope.normalizeWeekdays(values).length === scope.weekday_options.length; };\n  scope.isWeekdaySelected = function(values, id) { return scope.normalizeWeekdays(values).indexOf(id) !== -1; };\n  scope.selectEveryday = function(form) { form.weekdays = scope.weekday_options.map(function(weekday) { return weekday.id; }); };\n  scope.selectWeekdays = function(form) { form.weekdays = [\"mon\", \"tue\", \"wed\", \"thu\", \"fri\"]; };\n  scope.selectWeekend = function(form) { form.weekdays = [\"sat\", \"sun\"]; };\n  scope.toggleWeekday = function(form, id) {\n    var values = scope.normalizeWeekdays(form.weekdays);\n    var index = values.indexOf(id);\n    if (index === -1) values.push(id); else values.splice(index, 1);\n    form.weekdays = scope.normalizeWeekdays(values);\n  };\n  scope.formatWeekdays = function(values) {\n    var selected = scope.normalizeWeekdays(values);\n    if (selected.length === scope.weekday_options.length) return \"Todos os dias\";\n    if (!selected.length) return \"Nenhum dia\";\n    return scope.weekday_options.filter(function(weekday) { return selected.indexOf(weekday.id) !== -1; }).map(function(weekday) { return weekday.label; }).join(\", \");\n  };\n  scope.formatWeekdaysSentence = function(values) {\n    var selected = scope.normalizeWeekdays(values);\n    if (selected.length === scope.weekday_options.length) return \"todos os dias\";\n    if (!selected.length) return \"em nenhum dia\";\n    var names = { mon: \"segunda\", tue: \"terça\", wed: \"quarta\", thu: \"quinta\", fri: \"sexta\", sat: \"sábado\", sun: \"domingo\" };\n    return selected.map(function(id) { return names[id]; }).join(\", \");\n  };\n  scope.weekDateNumber = function(index) {\n    var today = new Date();\n    var mondayOffset = today.getDay() === 0 ? -6 : 1 - today.getDay();\n    var date = new Date(today);\n    date.setDate(today.getDate() + mondayOffset + index);\n    return String(date.getDate()).padStart(2, \"0\");\n  };\n  scope.dismissCreateError = function() { scope.create_error = null; };\n  scope.createSchedule = function() {\n    scope.create_error = null;\n    scope.create_state.submitting = true;\n    return {\n      times: scope.normalizeTimes(scope.create_form.times),\n      duration_minutes: scope.create_form.duration_minutes,\n      section: scope.create_form.section,\n      weekdays: scope.normalizeWeekdays(scope.create_form.weekdays)\n    };\n  };\n})(scope);\n</script>\n",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1200,
    "y": 200,
    "wires": [
      [
        "38e56a9f.2ca156"
      ]
    ]
  },
  {
    "id": "e1d8e3e3.a8b4e",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1160,
    "y": 920,
    "wires": []
  },
  {
    "id": "50133a39.273354",
    "type": "ui_group",
    "z": "",
    "name": "Lista de agendamentos",
    "tab": "59749dbb.d7d844",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "255a1e83.f883a2",
    "type": "ui_group",
    "z": "",
    "name": "Consulta",
    "tab": "56e52954.09e758",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "67e3dc5a.39e7f4",
    "type": "ui_group",
    "z": "",
    "name": "Cadastro",
    "tab": "e1bc117a.c215c",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "7a5ad52a.079c2c",
    "type": "ui_tab",
    "z": "",
    "name": "Configurações",
    "icon": "settings",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "59749dbb.d7d844",
    "type": "ui_tab",
    "z": "",
    "name": "Agendamentos",
    "icon": "event_note",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "56e52954.09e758",
    "type": "ui_tab",
    "z": "",
    "name": "Histórico",
    "icon": "history",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "e1bc117a.c215c",
    "type": "ui_tab",
    "z": "",
    "name": "Novo Agendamento",
    "icon": "add_alarm",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "e7a2d5c1.4b8f9a",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata liga/desliga agendamento",
    "func": "const { id, enabled } = msg.payload || {};\nconst value = enabled === true || Number(enabled) === 1 ? 1 : 0;\n\nmsg.payload = { command: \"schedule\", action: \"enabled\", id, enabled: value };\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1210,
    "y": 620,
    "wires": [
      [
        "f3c91a2b.6d4e8f"
      ]
    ]
  },
  {
    "id": "f3c91a2b.6d4e8f",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Liga/desliga agendamento",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 1510,
    "y": 620,
    "wires": [
      [
        "a4d7e9c2.18b6f3"
      ],
      [
        "d2b6f7a8.9e1c4d"
      ],
      []
    ]
  },
  {
    "id": "a4d7e9c2.18b6f3",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma liga/desliga agendamento",
    "func": "const output = String(msg.payload || \"\").trim();\n\nif (!output) {\n    return null;\n}\n\nmsg.topic = \"schedule_enabled\";\ntry {\n    msg.payload = JSON.parse(output);\n} catch (err) {\n    msg.payload = output;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1810,
    "y": 620,
    "wires": [
      [
        "25072c26.808454",
        "7c602e02.7e8c7"
      ]
    ]
  },
  {
    "id": "d2b6f7a8.9e1c4d",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro liga/desliga agendamento",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_enabled_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1830,
    "y": 660,
    "wires": [
      [
        "25072c26.808454"
      ]
    ]
  },
  {
    "id": "a4c9b2e1.7d5f3a",
    "type": "ui_group",
    "z": "",
    "name": "Segurança",
    "tab": "7a5ad52a.079c2c",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "d6f0b5a1.42c8e3",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "a4c9b2e1.7d5f3a",
    "name": "Trocar senha",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<style>\n:root {\n  --ir-green: #11877d;\n  --ir-green-dark: #0d756c;\n  --ir-ink: #071a18;\n  --ir-muted: #6c7476;\n  --ir-line: #e1e5e5;\n  --ir-canvas: #edf1f3;\n  --ir-panel: #f8fafb;\n  --ir-white: #fff;\n}\n\nbody.nr-dashboard-theme {\n  background: var(--ir-canvas) !important;\n  color: var(--ir-ink);\n  font-family: Inter, Roboto, Arial, sans-serif;\n}\n\n#nr-dashboard md-toolbar,\n#nr-dashboard md-sidenav { display: none !important; }\n#nr-dashboard md-content { overflow-x: hidden !important; }\n.nr-dashboard-theme .masonry-container { width: 100% !important; max-width: none !important; margin: 0 !important; }\n.nr-dashboard-theme ui-card-panel { position: relative !important; inset: auto !important; display: block !important; width: 100% !important; margin: 0 !important; }\n.nr-dashboard-theme .nr-dashboard-cardpanel,\n.nr-dashboard-theme .nr-dashboard-cardcontainer { width: 100% !important; height: auto !important; min-height: 0 !important; background: transparent !important; }\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  position: relative !important;\n  inset: auto !important;\n  width: 100% !important;\n  height: auto !important;\n  min-height: 0 !important;\n  margin: 0 !important;\n  overflow: visible !important;\n  border: 0 !important;\n  border-radius: 0 !important;\n  background: transparent !important;\n  box-shadow: none !important;\n}\n.nr-dashboard-theme .nr-dashboard-template .ir-shell p,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h1,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h2,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h3,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell h4,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal p,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal h2 { background-color: transparent !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-shell svg path,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell svg circle,\n.nr-dashboard-theme .nr-dashboard-template .ir-shell svg rect,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal svg path { fill: none !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-eyebrow { color: var(--ir-green) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-title,\n.nr-dashboard-theme .nr-dashboard-template .ir-card-title,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal-title { color: var(--ir-ink) !important; }\n.nr-dashboard-theme .nr-dashboard-template .ir-subtitle,\n.nr-dashboard-theme .nr-dashboard-template .ir-card-text,\n.nr-dashboard-theme .nr-dashboard-template .ir-modal-text { color: var(--ir-muted) !important; }\n\n.ir-shell, .ir-shell * { box-sizing: border-box !important; }\n.ir-shell {\n  width: 100%;\n  min-height: 100vh;\n  margin: 0;\n  overflow: hidden;\n  background: var(--ir-panel);\n}\n.ir-topbar {\n  display: flex;\n  height: 60px;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0 22px;\n  background: var(--ir-green);\n  color: #fff;\n}\n.ir-brand, .ir-system, .ir-brand-mark, .ir-online { display: flex; align-items: center; }\n.ir-brand { gap: 12px; color: #fff; font-size: 16px; font-weight: 800; text-decoration: none; }\n.ir-brand-mark { gap: 10px; }\n.ir-brand svg { width: 21px; height: 21px; }\n.ir-menu-button {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  place-items: center;\n  border: 0;\n  border-radius: 9px;\n  padding: 0;\n  background: transparent;\n  color: inherit;\n  cursor: pointer;\n}\n.ir-menu-button:hover { background: rgba(255, 255, 255, .12); }\n.ir-menu-icon { width: 21px; height: 21px; opacity: .95; }\n.ir-system { gap: 14px; }\n.ir-online { gap: 7px; padding: 7px 11px; border-radius: 999px; background: rgba(255, 255, 255, .12); font-size: 12px; font-weight: 700; }\n.ir-online-dot { width: 8px; height: 8px; border-radius: 50%; background: #6df0a9; box-shadow: 0 0 0 4px rgba(109, 240, 169, .13); }\n.ir-online.is-offline .ir-online-dot { background: #ff7a7a; box-shadow: 0 0 0 4px rgba(255, 122, 122, .16); }\n.ir-online.is-reconnecting .ir-online-dot { background: #ffd166; box-shadow: 0 0 0 4px rgba(255, 209, 102, .18); }\n.ir-avatar { display: grid; width: 34px; height: 34px; place-items: center; border-radius: 50%; background: rgba(255, 255, 255, .16); font-size: 11px; font-weight: 800; }\n.ir-layout { display: flex; min-height: calc(100vh - 60px); }\n.ir-mobile-backdrop { display: none; }\n.ir-sidebar {\n  display: flex;\n  width: 240px;\n  flex: 0 0 240px;\n  flex-direction: column;\n  padding: 22px 14px;\n  border-right: 1px solid var(--ir-line);\n  background: #f6f8f9;\n}\n.ir-nav-label { margin: 0 10px 10px; color: #9aa2a4; font-size: 10px; font-weight: 800; letter-spacing: .09em; text-transform: uppercase; }\n.ir-nav { display: grid; gap: 3px; }\n.ir-nav-button {\n  display: flex;\n  width: 100%;\n  height: 41px;\n  align-items: center;\n  gap: 12px;\n  border: 0;\n  border-radius: 10px;\n  padding: 0 12px;\n  background: transparent;\n  color: #13211f;\n  cursor: pointer;\n  font-size: 14px;\n  font-weight: 700;\n  text-align: left;\n  text-decoration: none;\n}\n.ir-nav-button:hover { background: #edf2f1; }\n.ir-nav-button.is-active { background: var(--ir-green); color: #fff; }\n.ir-nav-button svg { width: 18px; height: 18px; flex: 0 0 auto; }\n.ir-side-card { margin-top: auto; padding: 16px 14px; border: 1px solid var(--ir-line); border-radius: 11px; background: #fff; }\n.ir-side-card-label { margin: 0 0 8px; color: var(--ir-green); font-size: 10px; font-weight: 900; letter-spacing: .08em; text-transform: uppercase; }\n.ir-side-card strong { display: block; color: var(--ir-ink); font-size: 18px; line-height: 1.15; }\n.ir-side-card span { display: block; margin-top: 6px; color: var(--ir-muted); font-size: 12px; line-height: 1.35; }\n.ir-content { min-width: 0; flex: 1; padding: clamp(28px, 3vw, 52px) clamp(24px, 4vw, 64px) 52px; }\n.ir-heading { display: flex; align-items: flex-end; justify-content: space-between; gap: 22px; }\n.ir-eyebrow { margin: 0 0 5px; font-size: 11px; font-weight: 900; letter-spacing: .09em; text-transform: uppercase; }\n.ir-title { margin: 0; font-size: 31px; font-weight: 850; line-height: 1.05; }\n.ir-subtitle { margin: 8px 0 0; font-size: 14px; }\n.ir-config-sections {\n  display: grid;\n  grid-template-columns: 240px minmax(0, 1fr);\n  max-width: 960px;\n  gap: 18px;\n  margin-top: 28px;\n  align-items: start;\n}\n.ir-config-menu {\n  border: 1px solid var(--ir-line);\n  border-radius: 14px;\n  background: #fff;\n  box-shadow: 0 10px 28px rgba(7, 26, 24, .06);\n  padding: 14px;\n}\n.ir-config-menu-label {\n  margin: 0 10px 10px;\n  color: #9aa2a4;\n  font-size: 10px;\n  font-weight: 800;\n  letter-spacing: .09em;\n  text-transform: uppercase;\n}\n.ir-config-menu-list { display: grid; gap: 3px; }\n.ir-config-menu-button {\n  display: flex;\n  width: 100%;\n  min-height: 44px;\n  align-items: center;\n  gap: 12px;\n  border: 0;\n  border-radius: 10px;\n  padding: 0 12px;\n  background: transparent;\n  color: #13211f;\n  cursor: pointer;\n  font: inherit;\n  font-size: 14px;\n  font-weight: 800;\n  text-align: left;\n}\n.ir-config-menu-button:hover { background: #edf2f1; }\n.ir-config-menu-button.is-active { background: var(--ir-green); color: #fff; }\n.ir-config-menu-button svg { width: 18px; height: 18px; flex: 0 0 auto; }\n.ir-config-panel {\n  min-height: 280px;\n  border: 1px solid var(--ir-line);\n  border-radius: 14px;\n  background: #fff;\n  box-shadow: 0 10px 28px rgba(7, 26, 24, .06);\n}\n.ir-config-section-head {\n  display: flex;\n  align-items: flex-start;\n  gap: 14px;\n  padding: 22px 24px;\n  border-bottom: 1px solid var(--ir-line);\n}\n.ir-section-number {\n  display: grid;\n  width: 34px;\n  height: 34px;\n  flex: 0 0 34px;\n  place-items: center;\n  border-radius: 10px;\n  background: #e7f4f1;\n  color: var(--ir-green);\n  font-size: 11px;\n  font-weight: 900;\n}\n.ir-section-title { margin: 0; color: var(--ir-ink); font-size: 22px; font-weight: 850; line-height: 1.15; }\n.ir-section-description { margin: 6px 0 0; color: var(--ir-muted); font-size: 13px; line-height: 1.5; }\n.ir-section-card {\n  max-width: 680px;\n  padding: 24px;\n}\n.ir-config-empty {\n  display: grid;\n  min-height: 280px;\n  place-items: center;\n  padding: 28px;\n  text-align: center;\n}\n.ir-config-empty svg { width: 38px; height: 38px; color: var(--ir-green); }\n.ir-config-empty h2 { margin: 12px 0 0; color: var(--ir-ink); font-size: 18px; font-weight: 850; }\n.ir-config-empty p { max-width: 380px; margin: 7px auto 0; color: var(--ir-muted); font-size: 13px; line-height: 1.5; }\n.ir-section-head { margin-bottom: 22px; }\n.ir-card-title { margin: 0; font-size: 21px; font-weight: 850; line-height: 1.15; }\n.ir-card-text { margin: 8px 0 0; font-size: 13px; line-height: 1.5; }\n.ir-form-grid { display: grid; gap: 14px; }\n.ir-field label,\n.ir-field > span { display: block; margin-bottom: 7px; color: #26312f; font-size: 12px; font-weight: 800; }\n.ir-field input {\n  width: 100%;\n  height: 44px;\n  border: 1px solid #d4dada;\n  border-radius: 9px;\n  padding: 0 12px;\n  outline: 0;\n  background: #fff;\n  color: var(--ir-ink);\n  font-size: 14px;\n}\n.ir-field input:focus { border-color: var(--ir-green); box-shadow: 0 0 0 3px rgba(17, 135, 125, .1); }\n.ir-primary-button {\n  display: inline-flex;\n  min-height: 42px;\n  align-items: center;\n  justify-content: center;\n  gap: 9px;\n  border: 0;\n  border-radius: 10px;\n  padding: 0 18px;\n  background: var(--ir-green);\n  color: #fff;\n  box-shadow: 0 5px 12px rgba(17, 135, 125, .22);\n  cursor: pointer;\n  font: inherit;\n  font-weight: 800;\n}\n.ir-primary-button:hover { background: var(--ir-green-dark); }\n.ir-primary-button:disabled { cursor: not-allowed; opacity: .48; }\n.ir-feedback {\n  margin-top: 18px;\n  padding: 12px 15px;\n  border-radius: 10px;\n  font-size: 13px;\n  font-weight: 700;\n}\n.ir-feedback.is-success { border: 1px solid #ccece2; background: #edf9f5; color: var(--ir-green-dark); }\n.ir-feedback.is-error { border: 1px solid #ffd1d1; background: #fff0f0; color: #c92f2f; }\n.ir-valve-list { display: grid; gap: 10px; margin: 0 0 24px; }\n.ir-valve-row {\n  display: grid;\n  grid-template-columns: minmax(0, 1fr) 86px auto;\n  gap: 10px;\n  align-items: center;\n  padding: 12px;\n  border: 1px solid var(--ir-line);\n  border-radius: 11px;\n  background: #fbfcfc;\n}\n.ir-valve-row strong { display: block; color: var(--ir-ink); font-size: 14px; }\n.ir-valve-row span { display: block; margin-top: 3px; color: var(--ir-muted); font-size: 12px; }\n.ir-valve-actions { display: flex; gap: 8px; justify-content: flex-end; }\n.ir-secondary-button,\n.ir-danger-button {\n  display: inline-flex;\n  min-height: 36px;\n  align-items: center;\n  justify-content: center;\n  border: 0;\n  border-radius: 9px;\n  padding: 0 12px;\n  cursor: pointer;\n  font: inherit;\n  font-size: 12px;\n  font-weight: 800;\n}\n.ir-secondary-button { background: #eef2f2; color: #16211f; }\n.ir-danger-button { background: #ffe9e9; color: #d93636; }\n.ir-secondary-button:disabled,\n.ir-danger-button:disabled { cursor: not-allowed; opacity: .48; }\n.ir-empty-inline {\n  margin: 0 0 24px;\n  padding: 16px;\n  border: 1px dashed #cfd6d5;\n  border-radius: 11px;\n  color: var(--ir-muted);\n  font-size: 13px;\n  text-align: center;\n}\n.ir-form-split {\n  display: grid;\n  grid-template-columns: 140px minmax(0, 1fr);\n  gap: 14px;\n}\n.ir-modal-backdrop {\n  position: fixed;\n  inset: 0;\n  z-index: 1000;\n  display: grid;\n  place-items: center;\n  padding: 20px;\n  background: rgba(4, 20, 18, .48);\n  backdrop-filter: blur(3px);\n}\n.ir-modal {\n  width: min(560px, 100%);\n  max-height: calc(100vh - 40px);\n  overflow-y: auto;\n  border: 1px solid var(--ir-line);\n  border-radius: 15px;\n  padding: 24px;\n  background: #fff;\n  box-shadow: 0 24px 70px rgba(5, 25, 22, .22);\n}\n.ir-modal.is-small { width: min(430px, 100%); }\n.ir-modal-title { margin: 0; color: var(--ir-ink) !important; font-size: 23px; line-height: 1.15; }\n.ir-modal-text { margin: 8px 0 20px; color: var(--ir-muted) !important; font-size: 13px; line-height: 1.5; }\n.ir-modal-warning {\n  margin: 12px 0 18px;\n  padding: 12px 14px;\n  border: 1px solid #ffc9a8;\n  border-radius: 10px;\n  background: #fff4ec;\n  color: #b45309;\n  font-size: 13px;\n  font-weight: 800;\n  line-height: 1.4;\n}\n.ir-modal-actions { display: flex; justify-content: flex-end; gap: 9px; margin-top: 22px; }\n.ir-modal-actions .ir-secondary-button { margin-left: 0; }\n\n@media (max-width: 1050px) {\n  .ir-content { padding-right: 24px; padding-left: 24px; }\n  .ir-config-sections { grid-template-columns: 220px minmax(0, 1fr); }\n}\n@media (max-width: 820px) {\n  .ir-layout { min-height: calc(100vh - 60px); }\n  .ir-mobile-backdrop {\n    position: fixed;\n    inset: 60px 0 0;\n    z-index: 900;\n    display: block;\n    background: rgba(5, 24, 22, .42);\n  }\n  .ir-sidebar {\n    position: fixed;\n    top: 60px;\n    bottom: 0;\n    left: 0;\n    z-index: 901;\n    display: flex;\n    max-width: min(82vw, 280px);\n    transform: translateX(-105%);\n    transition: transform .2s ease;\n    box-shadow: 18px 0 36px rgba(7, 26, 24, .22);\n  }\n  .ir-sidebar.is-mobile-open { transform: translateX(0); }\n  .ir-content { padding: 24px 18px 38px; }\n  .ir-heading { align-items: flex-start; }\n  .ir-config-sections { grid-template-columns: 1fr; }\n}\n@media (max-width: 560px) {\n  .ir-topbar { height: 56px; padding: 0 14px; }\n  .ir-mobile-backdrop { inset: 56px 0 0; }\n  .ir-sidebar { top: 56px; }\n  .ir-brand { gap: 9px; }\n  .ir-system { gap: 8px; }\n  .ir-online { padding: 6px 8px; }\n  .ir-avatar { display: none; }\n  .ir-content { padding: 22px 14px 34px; }\n  .ir-heading { display: block; }\n  .ir-title { font-size: 27px; }\n  .ir-config-sections { margin-top: 22px; }\n  .ir-config-section-head { padding: 18px; }\n  .ir-section-card { padding: 18px; }\n  .ir-valve-row { grid-template-columns: 1fr; }\n  .ir-valve-actions { justify-content: flex-start; }\n  .ir-form-split { grid-template-columns: 1fr; }\n  .ir-modal { padding: 20px 16px; }\n  .ir-modal-actions { display: grid; grid-template-columns: 1fr; }\n  .ir-modal-actions button { width: 100%; }\n}\n</style>\n\n<section class=\"ir-shell\">\n  <header class=\"ir-topbar\">\n    <a class=\"ir-brand\" href=\"#!/0\" ng-click=\"navigateToTab(0, $event)\">\n      <button class=\"ir-menu-button\" type=\"button\" aria-label=\"Abrir menu\" ng-click=\"toggleMobileMenu($event)\">\n        <svg class=\"ir-menu-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" aria-hidden=\"true\"><path d=\"M4 6h16M4 12h16M4 18h16\"/></svg>\n      </button>\n      <span class=\"ir-brand-mark\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 3s5 6.1 5 11a5 5 0 0 1-10 0c0-4.9 5-11 5-11Z\"/></svg><span>Irriga</span></span>\n    </a>\n    <div class=\"ir-system\"><div class=\"ir-online\" ng-class=\"systemStatusClass()\" title=\"{{ systemStatusTitle() }}\"><span class=\"ir-online-dot\"></span>{{ systemStatusLabel() }}</div><span class=\"ir-avatar\">IR</span></div>\n  </header>\n\n  <div class=\"ir-layout\">\n    <div class=\"ir-mobile-backdrop\" ng-if=\"mobile_menu_open\" ng-click=\"closeMobileMenu()\"></div>\n    <aside class=\"ir-sidebar\" ng-class=\"{'is-mobile-open': mobile_menu_open}\">\n      <p class=\"ir-nav-label\">Irrigação</p>\n      <nav class=\"ir-nav\" aria-label=\"Navegação principal\">\n        <a class=\"ir-nav-button\" href=\"#!/0\" ng-click=\"navigateToTab(0, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\"/><path d=\"M16 3v4M8 3v4M3 10h18\"/></svg>Agendamentos\n        </a>\n        <a class=\"ir-nav-button\" href=\"#!/1\" ng-click=\"navigateToTab(1, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M12 5v14M5 12h14\"/></svg>Novo agendamento\n        </a>\n        <a class=\"ir-nav-button\" href=\"#!/2\" ng-click=\"navigateToTab(2, $event)\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg>Histórico\n        </a>\n        <a class=\"ir-nav-button is-active\" href=\"#!/3\">\n          <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><circle cx=\"12\" cy=\"12\" r=\"3\"/><path d=\"M19.4 15a1.8 1.8 0 0 0 .36 1.98l.04.04a2 2 0 1 1-2.83 2.83l-.04-.04A1.8 1.8 0 0 0 15 19.4a1.8 1.8 0 0 0-1 .6l-.03.04a2 2 0 0 1-3.42-1.42v-.05A1.8 1.8 0 0 0 9 17.6a1.8 1.8 0 0 0-1.98.36l-.04.04a2 2 0 1 1-2.83-2.83l.04-.04A1.8 1.8 0 0 0 4.6 13a1.8 1.8 0 0 0-.6-1l-.04-.03a2 2 0 0 1 1.42-3.42h.05A1.8 1.8 0 0 0 6.4 7a1.8 1.8 0 0 0-.36-1.98L6 4.98a2 2 0 0 1 2.83-2.83l.04.04A1.8 1.8 0 0 0 11 2.6a1.8 1.8 0 0 0 1-.6l.03-.04a2 2 0 0 1 3.42 1.42v.05A1.8 1.8 0 0 0 17 4.4a1.8 1.8 0 0 0 1.98-.36l.04-.04a2 2 0 1 1 2.83 2.83l-.04.04A1.8 1.8 0 0 0 19.4 9c.2.33.4.65.6 1l.04.03a2 2 0 0 1-1.42 3.42h-.05A1.8 1.8 0 0 0 19.4 15Z\"/></svg>Configurações\n        </a>\n      </nav>\n      <div class=\"ir-side-card\">\n        <p class=\"ir-side-card-label\">Seções</p>\n        <strong>Senha</strong>\n        <span>Atualize credenciais de acesso ao painel.</span>\n      </div>\n    </aside>\n\n    <main class=\"ir-content\">\n      <div class=\"ir-heading\">\n        <div>\n          <p class=\"ir-eyebrow\">Sistema</p>\n          <h1 class=\"ir-title\">Configurações</h1>\n          <p class=\"ir-subtitle\">Gerencie as seções de configuração do painel de irrigação.</p>\n        </div>\n      </div>\n\n      <div class=\"ir-config-sections\" aria-label=\"Seções de configurações\">\n        <aside class=\"ir-config-menu\" aria-label=\"Menu de seções de configurações\">\n          <p class=\"ir-config-menu-label\">Seções</p>\n          <nav class=\"ir-config-menu-list\">\n            <button class=\"ir-config-menu-button\" type=\"button\" ng-class=\"{'is-active': isConfigSectionActive('password')}\" ng-click=\"selectConfigSection('password')\">\n              <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><rect x=\"5\" y=\"11\" width=\"14\" height=\"9\" rx=\"2\"/><path d=\"M8 11V8a4 4 0 0 1 8 0v3\"/></svg>\n              Senha\n            </button>\n            <button class=\"ir-config-menu-button\" type=\"button\" ng-class=\"{'is-active': isConfigSectionActive('valves')}\" ng-click=\"selectConfigSection('valves')\">\n              <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" aria-hidden=\"true\"><path d=\"M4 20h16\"/><path d=\"M7 20V8l5-4 5 4v12\"/><path d=\"M9 13h6\"/></svg>\n              Seções\n            </button>\n          </nav>\n        </aside>\n\n        <section class=\"ir-config-panel\" aria-live=\"polite\">\n          <div class=\"ir-config-empty\" ng-if=\"!active_config_section\">\n            <div>\n              <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.7\" aria-hidden=\"true\"><path d=\"M4 7h16M4 12h16M4 17h10\"/></svg>\n              <h2>Selecione uma seção</h2>\n              <p>Clique em uma opção do menu de configurações para exibir os campos correspondentes.</p>\n            </div>\n          </div>\n\n          <div ng-if=\"isConfigSectionActive('password')\" aria-labelledby=\"password-section-title\">\n            <div class=\"ir-config-section-head\">\n              <span class=\"ir-section-number\">01</span>\n              <div>\n                <h2 class=\"ir-section-title\" id=\"password-section-title\">Senha</h2>\n                <p class=\"ir-section-description\">Controle a credencial usada para entrar no painel administrativo.</p>\n              </div>\n            </div>\n\n            <div class=\"ir-section-card\" aria-labelledby=\"change-password-title\">\n              <div class=\"ir-section-head\">\n                <p class=\"ir-eyebrow\">Acesso</p>\n                <h3 class=\"ir-card-title\" id=\"change-password-title\">Trocar senha</h3>\n                <p class=\"ir-card-text\">Use a senha atual para definir uma nova senha de acesso ao painel.</p>\n              </div>\n\n              <form class=\"ir-form-grid\" ng-submit=\"submitPasswordChange($event)\" autocomplete=\"off\">\n                <label class=\"ir-field\">\n                  <span>Senha atual</span>\n                  <input type=\"password\" ng-model=\"password_form.current\" required>\n                </label>\n                <label class=\"ir-field\">\n                  <span>Nova senha</span>\n                  <input type=\"password\" ng-model=\"password_form.next\" minlength=\"8\" required>\n                </label>\n                <label class=\"ir-field\">\n                  <span>Confirmar nova senha</span>\n                  <input type=\"password\" ng-model=\"password_form.confirm\" minlength=\"8\" required>\n                </label>\n                <button class=\"ir-primary-button\" type=\"submit\" ng-disabled=\"password_state.submitting\">\n                  {{ password_state.submitting ? \"Alterando senha...\" : \"Salvar nova senha\" }}\n                </button>\n              </form>\n\n              <div class=\"ir-feedback\" ng-if=\"password_feedback\" ng-class=\"password_feedback_class\">\n                {{ password_feedback }}\n              </div>\n            </div>\n          </div>\n\n          <div ng-if=\"isConfigSectionActive('valves')\" aria-labelledby=\"valves-section-title\">\n            <div class=\"ir-config-section-head\">\n              <span class=\"ir-section-number\">02</span>\n              <div>\n                <h2 class=\"ir-section-title\" id=\"valves-section-title\">Seções</h2>\n                <p class=\"ir-section-description\">Cadastre e gerencie os nomes das seções e seus pinos GPIO.</p>\n              </div>\n            </div>\n\n            <div class=\"ir-section-card\" aria-labelledby=\"valves-list-title\">\n              <div class=\"ir-section-head\">\n                <p class=\"ir-eyebrow\">Válvulas</p>\n                <h3 class=\"ir-card-title\" id=\"valves-list-title\">Seções cadastradas</h3>\n                <p class=\"ir-card-text\">As alterações aparecem automaticamente nos seletores de agendamento.</p>\n              </div>\n\n              <div class=\"ir-empty-inline\" ng-if=\"valves.length === 0\">Nenhuma seção cadastrada.</div>\n              <div class=\"ir-valve-list\" ng-if=\"valves.length > 0\">\n                <div class=\"ir-valve-row\" ng-repeat=\"valve in valves track by valve.id\">\n                  <div>\n                    <strong>{{ valve.section }}</strong>\n                    <span>Pino GPIO {{ valve.pin }}</span>\n                  </div>\n                  <span>ID {{ valve.id }}</span>\n                  <div class=\"ir-valve-actions\">\n                    <button class=\"ir-secondary-button\" type=\"button\" ng-click=\"startValveEdit(valve)\" ng-disabled=\"valve_state.submitting\">Editar</button>\n                    <button class=\"ir-danger-button\" type=\"button\" ng-click=\"openValveDeleteConfirmation(valve)\" ng-disabled=\"valve_state.deleting_id === valve.id\">\n                      {{ valve_state.deleting_id === valve.id ? \"Excluindo...\" : \"Excluir\" }}\n                    </button>\n                  </div>\n                </div>\n              </div>\n\n              <form class=\"ir-form-grid\" ng-submit=\"submitValveForm($event)\" autocomplete=\"off\">\n                <div class=\"ir-form-split\">\n                  <label class=\"ir-field\">\n                    <span>Pino GPIO</span>\n                    <input type=\"number\" min=\"1\" step=\"1\" ng-model=\"valve_form.pin\" required>\n                  </label>\n                  <label class=\"ir-field\">\n                    <span>Nome da seção</span>\n                    <input type=\"text\" ng-model=\"valve_form.section\" required>\n                  </label>\n                </div>\n                <div class=\"ir-valve-actions\">\n                  <button class=\"ir-secondary-button\" type=\"button\" ng-if=\"valve_form.id\" ng-click=\"resetValveForm()\" ng-disabled=\"valve_state.submitting\">Cancelar edição</button>\n                  <button class=\"ir-primary-button\" type=\"submit\" ng-disabled=\"valve_state.submitting\">\n                    {{ valve_state.submitting ? \"Salvando...\" : (valve_form.id ? \"Salvar seção\" : \"Cadastrar seção\") }}\n                  </button>\n                </div>\n              </form>\n\n              <div class=\"ir-feedback\" ng-if=\"valve_feedback\" ng-class=\"valve_feedback_class\">\n                {{ valve_feedback }}\n              </div>\n            </div>\n          </div>\n        </section>\n      </div>\n    </main>\n  </div>\n</section>\n\n<div class=\"ir-modal-backdrop\" ng-if=\"valve_delete_state.open\" ng-click=\"closeValveDeleteConfirmation()\">\n  <div class=\"ir-modal is-small\" ng-click=\"$event.stopPropagation()\">\n    <p class=\"ir-eyebrow\">Excluir seção</p>\n    <h2 class=\"ir-modal-title\">Confirmar exclusão?</h2>\n    <p class=\"ir-modal-text\">A seção {{ valve_delete_state.section }} no pino GPIO {{ valve_delete_state.pin }} será removida. Esta ação não pode ser desfeita.</p>\n    <div class=\"ir-modal-warning\" ng-if=\"isValveDeleteBlocked()\">\n      Esta seção está cadastrada em {{ linkedScheduleCount(valve_delete_state.valve) }} agendamento(s). Para excluir a seção, exclua primeiro os agendamentos que usam este pino; depois volte aqui e confirme a exclusão.\n    </div>\n    <div class=\"ir-modal-actions\">\n      <button type=\"button\" class=\"ir-secondary-button\" ng-click=\"closeValveDeleteConfirmation()\">Cancelar</button>\n      <button type=\"button\" class=\"ir-danger-button\" ng-click=\"deleteValve()\" ng-disabled=\"isValveDeleteBlocked() || valve_state.deleting_id === valve_delete_state.id\">\n        {{ valve_state.deleting_id === valve_delete_state.id ? \"Excluindo...\" : \"Excluir seção\" }}\n      </button>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n  scope.mobile_menu_open = scope.mobile_menu_open || false;\n  scope.active_config_section = scope.active_config_section || \"\";\n  scope.system_status = scope.system_status || { status: \"reconnecting\", label: \"Verificando sistema\" };\n  scope.system_status_timeout_ms = 25000;\n  scope.system_status_timer = scope.system_status_timer || null;\n  scope.password_form = scope.password_form || { current: \"\", next: \"\", confirm: \"\" };\n  scope.password_state = scope.password_state || { submitting: false };\n  scope.password_feedback = scope.password_feedback || \"\";\n  scope.password_feedback_class = scope.password_feedback_class || \"is-success\";\n  scope.valves = scope.valves || [];\n  scope.schedules = scope.schedules || [];\n  scope.valve_form = scope.valve_form || { id: \"\", pin: \"\", section: \"\" };\n  scope.valve_state = scope.valve_state || { submitting: false, deleting_id: \"\" };\n  scope.valve_delete_state = scope.valve_delete_state || { open: false, valve: null, id: \"\", pin: \"\", section: \"\" };\n  scope.valve_feedback = scope.valve_feedback || \"\";\n  scope.valve_feedback_class = scope.valve_feedback_class || \"is-success\";\n\n  scope.navigateToTab = function(index, event) {\n    if (event) event.preventDefault();\n    window.location.hash = \"#!/\" + index;\n    scope.closeMobileMenu();\n  };\n  scope.toggleMobileMenu = function(event) {\n    if (event) event.preventDefault();\n    if (event && event.stopPropagation) event.stopPropagation();\n    scope.mobile_menu_open = !scope.mobile_menu_open;\n  };\n  scope.closeMobileMenu = function() {\n    scope.mobile_menu_open = false;\n  };\n  scope.selectConfigSection = function(section) {\n    scope.active_config_section = section;\n  };\n  scope.isConfigSectionActive = function(section) {\n    return scope.active_config_section === section;\n  };\n  scope.applySystemHealth = function(payload) {\n    var status = payload && payload.status === \"online\" ? \"online\" : \"offline\";\n    scope.system_status = {\n      status: status,\n      label: payload && payload.label ? payload.label : (status === \"online\" ? \"Sistema online\" : \"Sistema offline\"),\n      last_seen_at: payload && payload.last_seen_at ? payload.last_seen_at : null,\n      checked_at: payload && payload.checked_at ? payload.checked_at : null\n    };\n    scope.armSystemStatusTimeout();\n  };\n  scope.armSystemStatusTimeout = function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n    scope.system_status_timer = setTimeout(function() {\n      scope.$applyAsync(function() {\n        scope.system_status = { status: \"offline\", label: \"Sistema offline\", last_seen_at: scope.system_status.last_seen_at || null };\n      });\n    }, scope.system_status_timeout_ms);\n  };\n  scope.systemStatusClass = function() {\n    return \"is-\" + ((scope.system_status && scope.system_status.status) || \"reconnecting\");\n  };\n  scope.systemStatusLabel = function() {\n    return (scope.system_status && scope.system_status.label) || \"Verificando sistema\";\n  };\n  scope.systemStatusTitle = function() {\n    if (!scope.system_status || !scope.system_status.last_seen_at) return \"Aguardando verificação do sistema\";\n    return \"Último heartbeat do controlador: \" + scope.system_status.last_seen_at;\n  };\n  scope.$on(\"$destroy\", function() {\n    if (scope.system_status_timer) clearTimeout(scope.system_status_timer);\n  });\n\n  function showFeedback(message, cssClass) {\n    scope.password_feedback = message;\n    scope.password_feedback_class = cssClass;\n    scope.password_state.submitting = false;\n  }\n\n  function showValveFeedback(message, cssClass) {\n    scope.valve_feedback = message;\n    scope.valve_feedback_class = cssClass;\n    scope.valve_state.submitting = false;\n    scope.valve_state.deleting_id = \"\";\n  }\n\n  scope.submitPasswordChange = function(event) {\n    if (event && event.preventDefault) {\n      event.preventDefault();\n    }\n    scope.password_feedback = \"\";\n    if (!scope.password_form.next || scope.password_form.next.length < 8) {\n      showFeedback(\"A nova senha deve ter pelo menos 8 caracteres.\", \"is-error\");\n      return;\n    }\n    if (scope.password_form.next !== scope.password_form.confirm) {\n      showFeedback(\"A confirmação da senha não confere.\", \"is-error\");\n      return;\n    }\n    scope.password_state.submitting = true;\n    scope.send({\n      payload: {\n        ui_action: \"change_password\",\n        username: \"admin\",\n        current_password: scope.password_form.current,\n        new_password: scope.password_form.next,\n        confirm_password: scope.password_form.confirm\n      }\n    });\n  };\n\n  scope.resetValveForm = function() {\n    scope.valve_form = { id: \"\", pin: \"\", section: \"\" };\n  };\n  scope.startValveEdit = function(valve) {\n    scope.valve_feedback = \"\";\n    scope.valve_form = {\n      id: valve.id,\n      pin: parseInt(valve.pin, 10),\n      section: valve.section\n    };\n  };\n  scope.linkedScheduleCount = function(valve) {\n    if (!valve) return 0;\n    var pin = String(valve.pin);\n    return scope.schedules.filter(function(schedule) {\n      return String(schedule.valve_pin) === pin;\n    }).length;\n  };\n  scope.openValveDeleteConfirmation = function(valve) {\n    scope.valve_feedback = \"\";\n    scope.valve_delete_state = {\n      open: true,\n      valve: valve,\n      id: valve.id,\n      pin: valve.pin,\n      section: valve.section\n    };\n  };\n  scope.closeValveDeleteConfirmation = function() {\n    if (scope.valve_state.deleting_id) return;\n    scope.valve_delete_state = { open: false, valve: null, id: \"\", pin: \"\", section: \"\" };\n  };\n  scope.isValveDeleteBlocked = function() {\n    return scope.linkedScheduleCount(scope.valve_delete_state.valve) > 0;\n  };\n  scope.submitValveForm = function(event) {\n    if (event && event.preventDefault) {\n      event.preventDefault();\n    }\n    scope.valve_feedback = \"\";\n    if (!scope.valve_form.pin || parseInt(scope.valve_form.pin, 10) < 1) {\n      showValveFeedback(\"Informe um pino GPIO válido.\", \"is-error\");\n      return;\n    }\n    if (!scope.valve_form.section || !String(scope.valve_form.section).trim()) {\n      showValveFeedback(\"Informe o nome da seção.\", \"is-error\");\n      return;\n    }\n    scope.valve_state.submitting = true;\n    scope.send({\n      payload: {\n        ui_action: scope.valve_form.id ? \"update_valve\" : \"add_valve\",\n        id: scope.valve_form.id,\n        pin: parseInt(scope.valve_form.pin, 10),\n        section: String(scope.valve_form.section).trim()\n      }\n    });\n  };\n  scope.deleteValve = function() {\n    var valve = scope.valve_delete_state.valve;\n    if (!valve || scope.isValveDeleteBlocked()) {\n      return;\n    }\n    scope.valve_feedback = \"\";\n    scope.valve_state.deleting_id = valve.id;\n    scope.send({\n      payload: {\n        ui_action: \"delete_valve\",\n        id: valve.id\n      }\n    });\n  };\n\n  scope.$watch(\"msg\", function(msg) {\n    if (!msg || !msg.topic) {\n      return;\n    }\n    if (msg.topic === \"system_health\") {\n      scope.applySystemHealth(msg.payload);\n      return;\n    }\n    if (msg.topic === \"valves\") {\n      scope.valves = Array.isArray(msg.payload) ? msg.payload : [];\n      return;\n    }\n    if (msg.topic === \"schedules\") {\n      scope.schedules = Array.isArray(msg.payload) ? msg.payload : [];\n      return;\n    }\n    if (msg.topic === \"password_changed\") {\n      scope.password_form = { current: \"\", next: \"\", confirm: \"\" };\n      showFeedback(\"Senha alterada. Entrando novamente com a nova senha...\", \"is-success\");\n      setTimeout(function() {\n        window.location.href = \"/ui/logout\";\n      }, 900);\n    }\n    if (msg.topic === \"password_change_error\") {\n      showFeedback(msg.payload || \"Não foi possível alterar a senha.\", \"is-error\");\n    }\n    if (msg.topic === \"valve_saved\") {\n      scope.resetValveForm();\n      showValveFeedback(\"Seção salva com sucesso.\", \"is-success\");\n    }\n    if (msg.topic === \"valve_deleted\") {\n      scope.resetValveForm();\n      showValveFeedback(\"Seção excluída com sucesso.\", \"is-success\");\n      scope.closeValveDeleteConfirmation();\n    }\n    if (msg.topic === \"valve_error\") {\n      showValveFeedback(msg.payload || \"Não foi possível salvar a seção.\", \"is-error\");\n    }\n  });\n})(scope);\n</script>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 430,
    "y": 1340,
    "wires": [
      [
        "bd0f9d62.31aa54"
      ]
    ]
  },
  {
    "id": "bd0f9d62.31aa54",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata ações de configurações",
    "func": "const payload = msg.payload || {};\n\nfunction fail(message) {\n    return [null, { topic: \"password_change_error\", payload: message }, null, null, null];\n}\nfunction valveFail(message) {\n    return [null, { topic: \"valve_error\", payload: message }, null, null, null];\n}\n\nif (payload.ui_action === \"change_password\") {\n    const username = String(payload.username || \"admin\");\n    const current = String(payload.current_password || \"\");\n    const next = String(payload.new_password || \"\");\n    const confirm = String(payload.confirm_password || \"\");\n\n    if (!current || !next || !confirm) {\n        return fail(\"Preencha todos os campos de senha.\");\n    }\n    if (next.length < 8) {\n        return fail(\"A nova senha deve ter pelo menos 8 caracteres.\");\n    }\n    if (next !== confirm) {\n        return fail(\"A confirmação da senha não confere.\");\n    }\n\n    msg.payload = { command: \"auth\", action: \"change-password\", username, current_password: current, new_password: next, confirm_password: confirm };\n    return [msg, null, null, null, null];\n}\n\nif (payload.ui_action === \"add_valve\") {\n    const pin = String(payload.pin || \"\").trim();\n    const section = String(payload.section || \"\").trim();\n    if (!pin || Number(pin) < 1 || !section) {\n        return valveFail(\"Informe pino e nome da seção.\");\n    }\n    msg.payload = { command: \"valve\", action: \"add\", pin, section };\n    return [null, null, msg, null, null];\n}\n\nif (payload.ui_action === \"update_valve\") {\n    const id = String(payload.id || \"\").trim();\n    const pin = String(payload.pin || \"\").trim();\n    const section = String(payload.section || \"\").trim();\n    if (!id || !pin || Number(pin) < 1 || !section) {\n        return valveFail(\"Informe id, pino e nome da seção.\");\n    }\n    msg.payload = { command: \"valve\", action: \"update\", id, pin, section };\n    return [null, null, null, msg, null];\n}\n\nif (payload.ui_action === \"delete_valve\") {\n    const id = String(payload.id || \"\").trim();\n    if (!id) {\n        return valveFail(\"Informe a seção a excluir.\");\n    }\n    msg.payload = { command: \"valve\", action: \"delete\", id };\n    return [null, null, null, null, msg];\n}\n\nreturn null;",
    "outputs": 5,
    "noerr": 0,
    "x": 720,
    "y": 1340,
    "wires": [
      [
        "71b3e8a9.0df426"
      ],
      [
        "d6f0b5a1.42c8e3"
      ],
      [
        "019valve.add.exec"
      ],
      [
        "019valve.update.exec"
      ],
      [
        "019valve.delete.exec"
      ]
    ]
  },
  {
    "id": "71b3e8a9.0df426",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Trocar senha",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 980,
    "y": 1340,
    "wires": [
      [
        "f23e94b0.5ca741"
      ],
      [
        "bb947d16.2eaf34"
      ],
      []
    ]
  },
  {
    "id": "f23e94b0.5ca741",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma troca de senha",
    "func": "msg.topic = \"password_changed\";\nmsg.payload = \"Senha alterada.\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1230,
    "y": 1320,
    "wires": [
      [
        "d6f0b5a1.42c8e3"
      ]
    ]
  },
  {
    "id": "bb947d16.2eaf34",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de senha",
    "func": "msg.topic = \"password_change_error\";\nmsg.payload = String(msg.payload || \"Não foi possível alterar a senha.\").replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1230,
    "y": 1360,
    "wires": [
      [
        "d6f0b5a1.42c8e3"
      ]
    ]
  },
  {
    "id": "15f3a91c.0b7e01",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "Verificar saúde do sistema",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "x": 900,
    "y": 460,
    "wires": [
      [
        "4cf2d6a8.7b9012"
      ]
    ]
  },
  {
    "id": "4cf2d6a8.7b9012",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Saúde do sistema",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, { command: \"health\" });\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 1250,
    "y": 460,
    "wires": [
      [
        "8f6d41c2.a2e913"
      ],
      [
        "8f6d41c2.a2e913"
      ],
      []
    ]
  },
  {
    "id": "8f6d41c2.a2e913",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata saúde do sistema",
    "func": "const text = String(msg.payload || \"\").trim();\nlet health = {};\n\nif (text) {\n    try {\n        health = JSON.parse(text);\n    } catch (err) {\n        health = { status: \"offline\", error: text };\n    }\n}\n\nconst online = health.status === \"online\";\nmsg.topic = \"system_health\";\nmsg.payload = {\n    status: online ? \"online\" : \"offline\",\n    label: online ? \"Sistema online\" : \"Sistema offline\",\n    checked_at: new Date().toISOString(),\n    last_seen_at: health.last_seen_at || null,\n    age_seconds: health.age_seconds ?? null,\n    component: health.component || \"irrigation-core\"\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1530,
    "y": 460,
    "wires": [
      [
        "25072c26.808454",
        "681694c2.ce0b1c",
        "dad8cd89.f8f81",
        "d6f0b5a1.42c8e3"
      ]
    ]
  },
  {
    "id": "019valve.add.exec",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Cadastrar seção",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 980,
    "y": 1400,
    "wires": [
      [
        "019valve.add.ok"
      ],
      [
        "019valve.error"
      ],
      []
    ]
  },
  {
    "id": "019valve.update.exec",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Atualizar seção",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 980,
    "y": 1440,
    "wires": [
      [
        "019valve.save.ok"
      ],
      [
        "019valve.error"
      ],
      []
    ]
  },
  {
    "id": "019valve.delete.exec",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Excluir seção",
    "func": "global.get(\"invokeIrrigationNode\")(node, msg, msg.payload);\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 980,
    "y": 1480,
    "wires": [
      [
        "019valve.delete.ok"
      ],
      [
        "019valve.error"
      ],
      []
    ]
  },
  {
    "id": "019valve.add.ok",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma cadastro de seção",
    "func": "msg.topic = \"valve_saved\";\nmsg.payload = \"Seção salva.\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1240,
    "y": 1400,
    "wires": [
      [
        "d6f0b5a1.42c8e3",
        "8d0b3804.e60cf8"
      ]
    ]
  },
  {
    "id": "019valve.save.ok",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma atualização de seção",
    "func": "msg.topic = \"valve_saved\";\nmsg.payload = \"Seção salva.\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1240,
    "y": 1440,
    "wires": [
      [
        "d6f0b5a1.42c8e3",
        "8d0b3804.e60cf8"
      ]
    ]
  },
  {
    "id": "019valve.delete.ok",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma exclusão de seção",
    "func": "msg.topic = \"valve_deleted\";\nmsg.payload = \"Seção excluída.\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1240,
    "y": 1480,
    "wires": [
      [
        "d6f0b5a1.42c8e3",
        "8d0b3804.e60cf8"
      ]
    ]
  },
  {
    "id": "019valve.error",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de seção",
    "func": "msg.topic = \"valve_error\";\nmsg.payload = String(msg.payload || \"Não foi possível salvar a seção.\").replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1240,
    "y": 1520,
    "wires": [
      [
        "d6f0b5a1.42c8e3"
      ]
    ]
  }
]
