node-red/flows.json
[
  {
    "id": "33af9e8a.0fb3f2",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "38e56a9f.2ca156",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata cadastro de agendamento",
    "func": "const { time, duration_minutes, section, weekdays } = msg.payload || {};\nconst selectedWeekdays = Array.isArray(weekdays) ? weekdays.join(\"+\") : weekdays;\n\nmsg.payload = `${time},${duration_minutes},${section},${selectedWeekdays}`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1520,
    "y": 200,
    "wires": [
      [
        "1a73e6be.d28d09"
      ]
    ]
  },
  {
    "id": "7c602e02.7e8c7",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation schedule list",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Horários do sistema",
    "x": 1260,
    "y": 380,
    "wires": [
      [
        "afe05d94.376be"
      ],
      [],
      []
    ]
  },
  {
    "id": "1a73e6be.d28d09",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation schedule create",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Cadastrar agendamento",
    "x": 1730,
    "y": 200,
    "wires": [
      [
        "a9c1b3d4.e5f607"
      ],
      [
        "a74e60b8.3d5b4"
      ],
      []
    ]
  },
  {
    "id": "a9c1b3d4.e5f607",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma cadastro realizado",
    "func": "const output = String(msg.payload || \"\").trim();\n\nif (!output) {\n    return null;\n}\n\nmsg.payload = output;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1990,
    "y": 200,
    "wires": [
      [
        "7c602e02.7e8c7",
        "d98e5f28.7a7c9"
      ]
    ]
  },
  {
    "id": "a74e60b8.3d5b4",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de cadastro",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_create_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1990,
    "y": 260,
    "wires": [
      [
        "681694c2.ce0b1c"
      ]
    ]
  },
  {
    "id": "d98e5f28.7a7c9",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Vai para Agendamentos",
    "func": "msg.payload = { tab: \"Agendamentos\" };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1990,
    "y": 200,
    "wires": [
      [
        "f4f7f5e3.5d6d1"
      ]
    ]
  },
  {
    "id": "f4f7f5e3.5d6d1",
    "type": "ui_ui_control",
    "z": "33af9e8a.0fb3f2",
    "name": "Abrir Agendamentos",
    "events": "all",
    "x": 2210,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "afe05d94.376be",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata horários cadastrados",
    "func": "const text = String(msg.payload || \"\").trim();\nlet records = [];\n\nif (text) {\n    const parsed = JSON.parse(text);\n    records = Array.isArray(parsed) ? parsed : [parsed];\n}\n\nrecords.sort((a, b) => String(a.time || \"\").localeCompare(String(b.time || \"\")));\n\nmsg.topic = \"schedules\";\nmsg.payload = records;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1530,
    "y": 380,
    "wires": [
      [
        "25072c26.808454"
      ]
    ]
  },
  {
    "id": "7b2701e3.b525",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation schedule delete",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Deletar agendamento",
    "x": 1120,
    "y": 640,
    "wires": [
      [
        "7c602e02.7e8c7"
      ],
      [
        "b1e4a92c.d5f6a8"
      ],
      []
    ]
  },
  {
    "id": "b1e4a92c.d5f6a8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de exclusão",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn [msg, msg];",
    "outputs": 2,
    "noerr": 0,
    "x": 1330,
    "y": 700,
    "wires": [
      [
        "25072c26.808454"
      ],
      [
        "c2f5b93d.e6a7b9"
      ]
    ]
  },
  {
    "id": "c2f5b93d.e6a7b9",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1560,
    "y": 700,
    "wires": []
  },
  {
    "id": "c86fb12c.66d1e",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata edição de agendamento",
    "func": "const { id, time, duration_minutes, valve_pin, weekdays } = msg.payload || {};\nconst selectedWeekdays = Array.isArray(weekdays) ? weekdays.join(\"+\") : weekdays;\n\nmsg.payload = `${id},${time},${duration_minutes},${valve_pin},${selectedWeekdays}`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 520,
    "wires": [
      [
        "46dd0feb.e4f05"
      ]
    ]
  },
  {
    "id": "46dd0feb.e4f05",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation schedule update",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Atualizar agendamento",
    "x": 970,
    "y": 520,
    "wires": [
      [
        "b8d2c4e6.f70123"
      ],
      [
        "e95d01ea.97e4c"
      ],
      []
    ]
  },
  {
    "id": "b8d2c4e6.f70123",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma edição realizada",
    "func": "const output = String(msg.payload || \"\").trim();\n\nif (!output) {\n    return null;\n}\n\nmsg.payload = output;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1210,
    "y": 520,
    "wires": [
      [
        "7c602e02.7e8c7",
        "d98e5f28.7a7c9"
      ]
    ]
  },
  {
    "id": "e95d01ea.97e4c",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro de edição",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_update_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1210,
    "y": 560,
    "wires": [
      [
        "25072c26.808454"
      ]
    ]
  },
  {
    "id": "7108fe00.02ffe4",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "Injetor",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "x": 900,
    "y": 380,
    "wires": [
      [
        "7c602e02.7e8c7"
      ]
    ]
  },
  {
    "id": "2a2ceafd.1bf566",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation valve",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Irrigar manualmente",
    "x": 880,
    "y": 940,
    "wires": [
      [
        "8d0b3804.e60cf8",
        "e1d8e3e3.a8b4e"
      ],
      [
        "be8f6931.c70278"
      ],
      []
    ]
  },
  {
    "id": "a51e1954.c69208",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata records cadastrados",
    "func": "records = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\nrecords = msg.payload.split(',,')\n\nrecords.pop();\n\nfor (let i = 0; i < records.length; i++) {\n    records[i] = JSON.parse(records[i])\n}\n\n\nrecords.sort((a,b) => {\n    return a.time > b.time;\n})\n\nmsg.topic = \"valves\";\nmsg.payload = records\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 880,
    "y": 780,
    "wires": [
      [
        "681694c2.ce0b1c",
        "25072c26.808454"
      ]
    ]
  },
  {
    "id": "8d0b3804.e60cf8",
    "type": "file in",
    "z": "33af9e8a.0fb3f2",
    "name": "Valvulas do sistema",
    "filename": "data/valves.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 570,
    "y": 780,
    "wires": [
      [
        "a51e1954.c69208"
      ]
    ]
  },
  {
    "id": "2bf95808.ace198",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 350,
    "y": 780,
    "wires": [
      [
        "8d0b3804.e60cf8"
      ]
    ]
  },
  {
    "id": "5b92c8ad.78d3e8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata acionamento manual",
    "func": "const { action, valve_pin, duration_minutes, id } = msg.payload || {};\n\nif (action === \"on\") {\n    msg.payload = `${valve_pin},${action},${duration_minutes},${id}`;\n    return msg;\n}\n\nmsg.payload = `${valve_pin},${action},${id}`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 860,
    "y": 840,
    "wires": [
      [
        "2a2ceafd.1bf566"
      ]
    ]
  },
  {
    "id": "5e998328.9aa40c",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "func": "msg.payload = msg.payload.duration_minutes\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 1140,
    "wires": [
      [
        "92612eb4.8c939"
      ]
    ]
  },
  {
    "id": "92612eb4.8c939",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation settings",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Atualizar configurações",
    "x": 750,
    "y": 1140,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "d19f016a.a6ac8",
    "type": "file in",
    "z": "33af9e8a.0fb3f2",
    "name": "Configurações cadastradas",
    "filename": "data/settings.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 580,
    "y": 1260,
    "wires": [
      [
        "a7ddf74d.7238a8"
      ]
    ]
  },
  {
    "id": "d0cffdef.54ded",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 350,
    "y": 1260,
    "wires": [
      [
        "d19f016a.a6ac8"
      ]
    ]
  },
  {
    "id": "a7ddf74d.7238a8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata records cadastrados",
    "func": "records = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\nrecords = msg.payload.split(',,')\n\nrecords.pop();\n\nfor (let i = 0; i < records.length; i++) {\n    records[i] = JSON.parse(records[i])\n}\n\n\nrecords.sort((a,b) => {\n    return a.time > b.time;\n})\n\n//if (records.length > 0) {\n    msg.payload = records\n    return msg;\n//}\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 860,
    "y": 1260,
    "wires": [
      [
        "f6c23874.7f2538"
      ]
    ]
  },
  {
    "id": "1c4a5ea3.39acf1",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Atualizar tempo de desligamento padrão",
    "info": "",
    "x": 520,
    "y": 1100,
    "wires": []
  },
  {
    "id": "79dae2fe.460f9c",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Ligar e desligar válvulas manualmente",
    "info": "",
    "x": 410,
    "y": 740,
    "wires": []
  },
  {
    "id": "43d9fe4d.4f078",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Exibe o tempo padrão de desligamento",
    "info": "",
    "x": 430,
    "y": 1220,
    "wires": []
  },
  {
    "id": "dbd8eebe.dbaa",
    "type": "file in",
    "z": "33af9e8a.0fb3f2",
    "name": "historico pesquisado",
    "filename": "data/history_search_results.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 520,
    "y": 1500,
    "wires": [
      [
        "86f3f135.5c101"
      ]
    ]
  },
  {
    "id": "86f3f135.5c101",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata records cadastrados",
    "func": "records = []\nmsg.payload = msg.payload.replace(/}/g, '},,')\nrecords = msg.payload.split(',,')\n\nrecords.pop();\n\nfor (let i = 0; i < records.length; i++) {\n    records[i] = JSON.parse(records[i])\n}\n\n\nrecords.sort((a,b) => {\n    return a.time > b.time;\n})\n\n//if (records.length > 0) {\n    msg.payload = records.reverse();\n    return msg;\n//}\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 1500,
    "wires": [
      [
        "dad8cd89.f8f81"
      ]
    ]
  },
  {
    "id": "a0be43fb.8a274",
    "type": "inject",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 270,
    "y": 1500,
    "wires": [
      [
        "dbd8eebe.dbaa"
      ]
    ]
  },
  {
    "id": "be8f6931.c70278",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1110,
    "y": 980,
    "wires": []
  },
  {
    "id": "94446db.1e5ca9",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1650,
    "y": 1660,
    "wires": []
  },
  {
    "id": "ef1f5bb.cb3c4a8",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata pesquisa histórico",
    "func": "const { action, start_date = 0, end_date = 0 } = msg.payload || {};\n\nmsg.payload = `${action},${start_date},${end_date}`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1270,
    "y": 1600,
    "wires": [
      [
        "9ee06733.0ccea8"
      ]
    ]
  },
  {
    "id": "9ee06733.0ccea8",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation history",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Pesquisar histórico",
    "x": 1420,
    "y": 1700,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "32e7f27.7c1c80e",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1670,
    "y": 1880,
    "wires": []
  },
  {
    "id": "96f7b3d7.32c99",
    "type": "ui_form",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "label": "Tempo padrão para desligar",
    "group": "98667ea6.f9c95",
    "order": 0,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "Tempo padrão (min)",
        "value": "duration_minutes",
        "type": "number",
        "required": true
      }
    ],
    "formValue": {
      "duration_minutes": ""
    },
    "payload": "",
    "submit": "Salvar tempo",
    "cancel": "Limpar",
    "topic": "",
    "x": 410,
    "y": 1140,
    "wires": [
      [
        "5e998328.9aa40c"
      ]
    ]
  },
  {
    "id": "25072c26.808454",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "50133a39.273354",
    "name": "Agendamentos",
    "order": 1,
    "width": "24",
    "height": "18",
    "format": "<style>\n:root {\n  --ir-bg: #f4f7fb;\n  --ir-surface: #ffffff;\n  --ir-text: #162033;\n  --ir-muted: #667085;\n  --ir-border: #e4e7ec;\n  --ir-primary: #0f766e;\n  --ir-primary-strong: #115e59;\n  --ir-danger: #dc2626;\n  --ir-shadow: 0 18px 45px rgba(16, 24, 40, .08);\n}\nbody.nr-dashboard-theme {\n  background: var(--ir-bg) !important;\n  font-family: Inter, Roboto, Arial, sans-serif;\n}\n.nr-dashboard-theme md-toolbar {\n  background: #0f766e !important;\n  box-shadow: 0 2px 12px rgba(15, 118, 110, .18);\n}\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  border: 0 !important;\n  border-radius: 0 !important;\n  box-shadow: none !important;\n  background: transparent !important;\n  overflow: visible !important;\n}\n.nr-dashboard-cardpanel,\n.nr-dashboard-cardcontainer { background: transparent !important; }\n@media (max-width: 760px) {\n  #nr-dashboard md-content { overflow-x: hidden !important; }\n  .masonry-container { width: 100% !important; }\n  ui-card-panel {\n    display: block !important;\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n  }\n  .nr-dashboard-cardpanel,\n  .nr-dashboard-cardcontainer {\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n  }\n  .nr-dashboard-theme md-card.nr-dashboard-template {\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n    margin: 0 !important;\n  }\n}\n.ir-page, .ir-page * { box-sizing: border-box; }\n.ir-page {\n  width: min(1180px, 100%);\n  margin: 0 auto;\n  padding: 18px;\n  color: var(--ir-text);\n}\n.ir-header {\n  display: flex;\n  align-items: flex-start;\n  justify-content: space-between;\n  gap: 16px;\n  margin-bottom: 18px;\n}\n.ir-eyebrow {\n  margin: 0 0 4px;\n  color: var(--ir-primary);\n  font-size: 12px;\n  font-weight: 800;\n  letter-spacing: .08em;\n  text-transform: uppercase;\n}\n.ir-title { margin: 0; font-size: clamp(24px, 3vw, 34px); line-height: 1.1; font-weight: 800; }\n.ir-subtitle { margin: 8px 0 0; color: var(--ir-muted); font-size: 15px; }\n.ir-card {\n  background: var(--ir-surface);\n  border: 1px solid var(--ir-border);\n  border-radius: 20px;\n  box-shadow: var(--ir-shadow);\n  padding: clamp(18px, 3vw, 28px);\n}\n.ir-edit {\n  display: grid;\n  gap: 16px;\n  margin-bottom: 18px;\n  border-left: 4px solid var(--ir-primary);\n}\n.ir-grid {\n  display: grid;\n  grid-template-columns: repeat(3, minmax(0, 1fr));\n  gap: 14px;\n}\n.ir-field label { display: block; margin-bottom: 7px; color: #344054; font-weight: 700; font-size: 13px; }\n.ir-wide { grid-column: 1 / -1; }\n.ir-weekdays { display: flex; flex-wrap: wrap; gap: 8px; }\n.ir-weekday { display: inline-flex; align-items: center; gap: 7px; border: 1px solid var(--ir-border); border-radius: 999px; padding: 9px 12px; background: #f8fafc; color: var(--ir-text); font-size: 13px; font-weight: 800; cursor: pointer; }\n.ir-weekday input { margin: 0; }\n.ir-weekday-all { background: #eef6f5; color: var(--ir-primary-strong); }\n.ir-input, .ir-select {\n  width: 100%;\n  height: 44px;\n  border: 1px solid #d0d5dd;\n  border-radius: 12px;\n  padding: 0 12px;\n  background: #fff;\n  color: var(--ir-text);\n  font-size: 15px;\n  outline: none;\n  transition: border-color .15s ease, box-shadow .15s ease;\n}\n.ir-input:focus, .ir-select:focus { border-color: var(--ir-primary); box-shadow: 0 0 0 4px rgba(15, 118, 110, .12); }\n.ir-actions { display: flex; flex-wrap: wrap; gap: 10px; justify-content: flex-end; }\n.ir-btn {\n  border: 0;\n  border-radius: 999px;\n  padding: 10px 16px;\n  min-height: 40px;\n  cursor: pointer;\n  font-weight: 800;\n  letter-spacing: .01em;\n  transition: transform .12s ease, box-shadow .12s ease, background .12s ease, opacity .12s ease;\n}\n.ir-btn:hover { transform: translateY(-1px); }\n.ir-btn:disabled { cursor: not-allowed; opacity: .5; transform: none; }\n.ir-btn-primary { background: var(--ir-primary); color: #fff; box-shadow: 0 10px 22px rgba(15, 118, 110, .22); }\n.ir-btn-primary:hover { background: var(--ir-primary-strong); }\n.ir-btn-secondary { background: #eef6f5; color: var(--ir-primary-strong); }\n.ir-btn-danger { background: #fef2f2; color: var(--ir-danger); }\n.ir-btn-danger-solid { background: var(--ir-danger); color: #fff; box-shadow: 0 10px 22px rgba(220, 38, 38, .20); }\n.ir-btn-danger-solid:hover { background: #b91c1c; }\n.ir-table-wrap { overflow-x: auto; border: 1px solid var(--ir-border); border-radius: 16px; }\n.ir-table { width: 100%; min-width: 900px; border-collapse: collapse; }\n.ir-table th {\n  background: #f8fafc;\n  color: #475467;\n  font-size: 12px;\n  text-transform: uppercase;\n  letter-spacing: .06em;\n  text-align: left;\n  padding: 14px 16px;\n}\n.ir-table td { padding: 15px 16px; border-top: 1px solid var(--ir-border); color: #1d2939; }\n.ir-table tr:hover td { background: #fbfefd; }\n.ir-pill { display: inline-flex; align-items: center; border-radius: 999px; padding: 5px 10px; background: #ecfdf3; color: #027a48; font-weight: 800; }\n.ir-status { display: inline-flex; align-items: center; border-radius: 999px; padding: 6px 10px; font-size: 12px; font-weight: 850; }\n.ir-status-off { background: #f2f4f7; color: #475467; }\n.ir-status-on { background: #ecfdf3; color: #027a48; }\n.ir-status-unknown { background: #fffbeb; color: #92400e; }\n.ir-switch-field { display: flex; align-items: center; justify-content: space-between; gap: 14px; padding: 14px 16px; border: 1px solid var(--ir-border); border-radius: 16px; background: #f8fafc; }\n.ir-switch-copy { display: grid; gap: 3px; }\n.ir-switch-copy strong { color: var(--ir-text); font-size: 14px; }\n.ir-switch-copy span { color: var(--ir-muted); font-size: 13px; }\n.ir-switch { position: relative; display: inline-flex; align-items: center; width: 58px; height: 32px; flex: 0 0 auto; }\n.ir-switch input { opacity: 0; width: 0; height: 0; }\n.ir-switch-slider { position: absolute; inset: 0; cursor: pointer; border-radius: 999px; background: #d0d5dd; transition: background .15s ease; }\n.ir-switch-slider::before { content: \"\"; position: absolute; width: 24px; height: 24px; left: 4px; top: 4px; border-radius: 50%; background: #fff; box-shadow: 0 2px 6px rgba(16, 24, 40, .18); transition: transform .15s ease; }\n.ir-switch input:checked + .ir-switch-slider { background: var(--ir-primary); }\n.ir-switch input:checked + .ir-switch-slider::before { transform: translateX(26px); }\n.ir-switch input:disabled + .ir-switch-slider { cursor: not-allowed; opacity: .55; }\n.ir-row-actions { display: flex; flex-wrap: wrap; gap: 8px; }\n.ir-empty {\n  display: grid;\n  place-items: center;\n  min-height: 360px;\n  text-align: center;\n  padding: 32px 18px;\n  border: 1px dashed #cbd5e1;\n  border-radius: 20px;\n  background: linear-gradient(180deg, #fff, #f8fafc);\n}\n.ir-empty-icon { font-size: 42px; margin-bottom: 12px; }\n.ir-empty h2 { margin: 0; font-size: 24px; }\n.ir-empty p { max-width: 420px; margin: 8px 0 0; color: var(--ir-muted); }\n.ir-error-banner { display: flex; align-items: center; justify-content: space-between; gap: 12px; margin-bottom: 18px; padding: 14px 18px; border-radius: 14px; background: #fef2f2; border: 1px solid #fecaca; color: var(--ir-danger); font-weight: 700; }\n.ir-error-banner button { border: 0; background: transparent; color: inherit; font-weight: 800; cursor: pointer; padding: 4px 8px; }\n.ir-loading { margin: 0 0 18px; padding: 12px 16px; border-radius: 14px; background: #ecfdf3; border: 1px solid #bbf7d0; color: var(--ir-primary-strong); font-weight: 800; }\n.ir-modal-backdrop {\n  position: fixed;\n  inset: 0;\n  z-index: 1000;\n  display: grid;\n  place-items: center;\n  padding: 18px;\n  background: rgba(15, 23, 42, .48);\n  backdrop-filter: blur(3px);\n}\n.ir-modal {\n  width: min(440px, 100%);\n  background: var(--ir-surface);\n  border: 1px solid var(--ir-border);\n  border-radius: 22px;\n  box-shadow: 0 24px 70px rgba(15, 23, 42, .24);\n  padding: 24px;\n}\n.ir-modal-title { margin: 0; color: var(--ir-text); font-size: 22px; line-height: 1.2; font-weight: 850; }\n.ir-modal-text { margin: 8px 0 18px; color: var(--ir-muted); font-size: 14px; }\n.ir-modal-actions { display: flex; justify-content: flex-end; gap: 10px; margin-top: 18px; }\n@media (max-width: 760px) {\n  .ir-page { padding: 8px 4px 24px; }\n  .ir-header { display: block; padding: 4px 8px 0; }\n  .ir-card { padding: 16px; border-radius: 16px; }\n  .ir-grid { grid-template-columns: 1fr; }\n  .ir-empty { min-height: 280px; border-radius: 16px; }\n  .ir-table-wrap { overflow: visible; border: 0; }\n  .ir-table { min-width: 0; }\n  .ir-table thead { display: none; }\n  .ir-table, .ir-table tbody, .ir-table tr, .ir-table td { display: block; width: 100%; }\n  .ir-table tr { padding: 14px 0; border-bottom: 1px solid var(--ir-border); }\n  .ir-table tr:first-child { padding-top: 0; }\n  .ir-table tr:last-child { padding-bottom: 0; border-bottom: 0; }\n  .ir-table td { display: flex; justify-content: space-between; align-items: center; gap: 16px; padding: 7px 0; border: 0; text-align: right; }\n  .ir-table td::before { content: attr(data-label); color: var(--ir-muted); font-size: 12px; font-weight: 800; text-transform: uppercase; letter-spacing: .04em; text-align: left; }\n  .ir-row-actions { justify-content: flex-end; }\n  .ir-actions { justify-content: stretch; }\n  .ir-actions .ir-btn { flex: 1; }\n  .ir-row-actions .ir-btn { width: auto; min-height: 38px; }\n  .ir-modal { padding: 20px 16px; border-radius: 18px; }\n  .ir-modal-actions { display: grid; grid-template-columns: 1fr; }\n  .ir-modal-actions .ir-btn { width: 100%; }\n}\n</style>\n\n<div class=\"ir-page\">\n  <div class=\"ir-header\">\n    <div>\n      <p class=\"ir-eyebrow\">Irrigação</p>\n      <h1 class=\"ir-title\">Agendamentos</h1>\n      <p class=\"ir-subtitle\">Horários configurados para ligar as seções automaticamente.</p>\n    </div>\n  </div>\n\n  <div class=\"ir-error-banner\" ng-if=\"schedule_error\">\n    <span>{{ schedule_error }}</span>\n    <button type=\"button\" ng-click=\"dismissScheduleError()\">Fechar</button>\n  </div>\n\n  <div class=\"ir-modal-backdrop\" ng-if=\"manual_state.open\" ng-click=\"closeManualDuration()\">\n    <div class=\"ir-modal\" ng-click=\"$event.stopPropagation()\">\n      <p class=\"ir-eyebrow\">Acionamento manual</p>\n      <h2 class=\"ir-modal-title\">Ligar {{ manual_state.section }}</h2>\n      <p class=\"ir-modal-text\">Confirme ou altere por quantos minutos a irrigação deve ficar ligada agora.</p>\n\n      <div class=\"ir-field\">\n        <label>Tempo ligado agora (min)</label>\n        <input class=\"ir-input\" type=\"number\" min=\"1\" step=\"1\" ng-model=\"manual_state.duration_minutes\" />\n      </div>\n\n      <div class=\"ir-modal-actions\">\n        <button type=\"button\" class=\"ir-btn ir-btn-secondary\" ng-click=\"closeManualDuration()\">Cancelar</button>\n        <button type=\"button\" class=\"ir-btn ir-btn-primary\" ng-disabled=\"!manual_state.duration_minutes || manual_state.duration_minutes < 1\" ng-click=\"send({payload:confirmManualDuration()})\">Ligar agora</button>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"ir-modal-backdrop\" ng-if=\"delete_state.open\" ng-click=\"closeDeleteConfirmation()\">\n    <div class=\"ir-modal\" ng-click=\"$event.stopPropagation()\">\n      <p class=\"ir-eyebrow\">Excluir agendamento</p>\n      <h2 class=\"ir-modal-title\">Confirmar exclusão?</h2>\n      <p class=\"ir-modal-text\">O agendamento das {{ delete_state.time }} para {{ delete_state.section }} será removido. Esta ação não pode ser desfeita.</p>\n\n      <div class=\"ir-modal-actions\">\n        <button type=\"button\" class=\"ir-btn ir-btn-secondary\" ng-click=\"closeDeleteConfirmation()\">Cancelar</button>\n        <button type=\"button\" class=\"ir-btn ir-btn-danger-solid\" ng-click=\"send({payload:confirmDeleteSchedule()})\">Excluir agendamento</button>\n      </div>\n    </div>\n  </div>\n\n  <form ng-show=\"editing_state.editing\" class=\"ir-card ir-edit\" id=\"form-editSchedule\">\n    <div>\n      <p class=\"ir-eyebrow\">Edição</p>\n      <h2 class=\"ir-title\" style=\"font-size:22px\">Editar horário</h2>\n      <p class=\"ir-subtitle\">Atualize os dados do agendamento selecionado.</p>\n    </div>\n\n    <div class=\"ir-loading\" ng-if=\"editing_state.submitting\">Salvando alterações...</div>\n    <div class=\"ir-loading\" ng-if=\"editing_state.enabled_submitting\">Atualizando liga/desliga...</div>\n\n    <div class=\"ir-grid\">\n      <div class=\"ir-field\">\n        <label>Horário</label>\n        <input class=\"ir-input\" type=\"time\" name=\"time\" ng-model=\"schedule_form.time\" />\n      </div>\n      <div class=\"ir-field\">\n        <label>Tempo ligado (min)</label>\n        <input class=\"ir-input\" type=\"number\" min=\"1\" name=\"duration_minutes\" ng-model=\"schedule_form.duration_minutes\" />\n      </div>\n      <div class=\"ir-field\">\n        <label>Seção / válvula</label>\n        <input class=\"ir-input\" type=\"number\" min=\"1\" name=\"valve_pin\" ng-model=\"schedule_form.valve_pin\" />\n      </div>\n      <div class=\"ir-field ir-wide\">\n        <div class=\"ir-switch-field\">\n          <div class=\"ir-switch-copy\">\n            <strong>Agendamento automático</strong>\n            <span>{{ schedule_form.enabled ? \"Ligado\" : \"Desligado\" }} — controla se este horário pode ligar a válvula automaticamente.</span>\n          </div>\n          <label class=\"ir-switch\" title=\"Liga/desliga o agendamento automático\">\n            <input type=\"checkbox\" name=\"enabled\" ng-model=\"schedule_form.enabled\" ng-disabled=\"editing_state.enabled_submitting\" ng-change=\"send({payload:toggleEnabled(schedule_form)})\" />\n            <span class=\"ir-switch-slider\"></span>\n          </label>\n        </div>\n      </div>\n      <div class=\"ir-field ir-wide\">\n        <label>Dias da semana</label>\n        <div class=\"ir-weekdays\">\n          <label class=\"ir-weekday ir-weekday-all\">\n            <input type=\"checkbox\" ng-checked=\"isEveryday(schedule_form.weekdays)\" ng-click=\"selectEveryday(schedule_form)\"> Todos os dias\n          </label>\n          <label class=\"ir-weekday\" ng-repeat=\"weekday in weekday_options track by weekday.id\">\n            <input type=\"checkbox\" ng-checked=\"isWeekdaySelected(schedule_form.weekdays, weekday.id)\" ng-click=\"toggleWeekday(schedule_form, weekday.id)\"> {{ weekday.label }}\n          </label>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"ir-actions\">\n      <button type=\"button\" class=\"ir-btn ir-btn-secondary\" ng-disabled=\"editing_state.submitting\" ng-click=\"cancelEdit()\">Cancelar</button>\n      <button type=\"button\" class=\"ir-btn ir-btn-primary\" ng-disabled=\"editing_state.submitting || !schedule_form.time || !schedule_form.duration_minutes || !schedule_form.valve_pin || !hasSelectedWeekday(schedule_form.weekdays)\" ng-click=\"send({payload:editSchedule(schedule_form)})\">{{ editing_state.submitting ? \"Salvando...\" : \"Salvar alterações\" }}</button>\n    </div>\n  </form>\n\n  <div class=\"ir-card\" ng-if=\"!editing_state.editing && schedules.length > 0\">\n    <div class=\"ir-table-wrap\">\n      <table class=\"ir-table\" id=\"table\" border=\"0\">\n        <thead>\n          <tr>\n            <th>Horário</th>\n            <th>Tempo ligado</th>\n            <th>Dias</th>\n            <th>Agendamento</th>\n            <th>Seção / válvula</th>\n            <th>Status da seção</th>\n            <th>Ações</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr ng-repeat=\"schedule in schedules\">\n            <td data-label=\"Horário\"><span class=\"ir-pill\">{{ schedule.time }}</span></td>\n            <td data-label=\"Duração\">{{ schedule.duration_minutes }} min</td>\n            <td data-label=\"Dias\">{{ formatWeekdays(schedule.weekdays) }}</td>\n            <td data-label=\"Agendamento\">\n              <span class=\"ir-status ir-status-on\" ng-if=\"isScheduleEnabled(schedule)\">Ativo</span>\n              <span class=\"ir-status ir-status-off\" ng-if=\"!isScheduleEnabled(schedule)\">Inativo</span>\n            </td>\n            <td data-label=\"Seção\">{{ sectionLabel(schedule) }}</td>\n            <td data-label=\"Status\">\n              <span class=\"ir-status ir-status-off\" ng-if=\"sectionStatus(schedule) === 0\">Desligada</span>\n              <span class=\"ir-status ir-status-on\" ng-if=\"sectionStatus(schedule) === 1\">Ligada</span>\n              <span class=\"ir-status ir-status-unknown\" ng-if=\"sectionStatus(schedule) === null\">Sem status</span>\n            </td>\n            <td data-label=\"Ações\">\n              <div class=\"ir-row-actions\">\n                <button type=\"button\" class=\"ir-btn ir-btn-primary\" ng-if=\"sectionStatus(schedule) !== 1\" ng-disabled=\"manual_pending[schedule.id]\" ng-click=\"openManualDuration(schedule)\">{{ manual_pending[schedule.id] === \"on\" ? \"Ligando...\" : \"Ligar agora\" }}</button>\n                <button type=\"button\" class=\"ir-btn ir-btn-danger\" ng-if=\"sectionStatus(schedule) === 1\" ng-disabled=\"manual_pending[schedule.id]\" ng-click=\"send({payload:turnScheduleOff(schedule)})\">{{ manual_pending[schedule.id] === \"off\" ? \"Desligando...\" : \"Desligar agora\" }}</button>\n                <button type=\"button\" class=\"ir-btn ir-btn-secondary\" ng-click=\"send({payload:sendData(schedule)})\">Editar</button>\n                <button type=\"button\" class=\"ir-btn ir-btn-danger\" ng-click=\"openDeleteConfirmation(schedule)\">Excluir</button>\n              </div>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n  </div>\n\n  <div class=\"ir-empty\" ng-if=\"!editing_state.editing && schedules.length === 0\">\n    <div>\n      <div class=\"ir-empty-icon\">🌱</div>\n      <h2>Nenhum agendamento cadastrado</h2>\n      <p>Crie um novo horário para automatizar a irrigação de uma seção.</p>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n  scope.schedules = scope.schedules || [];\n  scope.valves = scope.valves || [];\n  scope.weekday_options = [\n    { id: \"mon\", label: \"Seg\" },\n    { id: \"tue\", label: \"Ter\" },\n    { id: \"wed\", label: \"Qua\" },\n    { id: \"thu\", label: \"Qui\" },\n    { id: \"fri\", label: \"Sex\" },\n    { id: \"sat\", label: \"Sáb\" },\n    { id: \"sun\", label: \"Dom\" }\n  ];\n  scope.schedule_form = scope.schedule_form || { id: \"\", time: \"\", duration_minutes: \"\", valve_pin: \"\", status: \"\", enabled: true, weekdays: scope.weekday_options.map(function(weekday) { return weekday.id; }) };\n  scope.editing_state = scope.editing_state || { editing: false, submitting: false, enabled_submitting: false };\n  scope.manual_state = scope.manual_state || { open: false, schedule: null, section: \"\", duration_minutes: 10 };\n  scope.manual_pending = scope.manual_pending || {};\n  scope.manual_pending_timers = scope.manual_pending_timers || {};\n  scope.manual_pending_timeout_ms = 15000;\n  scope.delete_state = scope.delete_state || { open: false, schedule: null, time: \"\", section: \"\" };\n  scope.schedule_error = scope.schedule_error || null;\n\n  scope.$watch(\"msg\", function(msg) {\n    if (!msg) return;\n\n    if (msg.topic === \"schedule_error\" || msg.topic === \"schedule_update_error\" || msg.topic === \"schedule_enabled_error\") {\n      scope.editing_state.submitting = false;\n      scope.editing_state.enabled_submitting = false;\n      scope.schedule_error = msg.payload || null;\n      return;\n    }\n\n    if (msg.topic === \"schedule_enabled\") {\n      scope.applyEnabledFeedback(msg.payload);\n      return;\n    }\n\n    if (msg.topic === \"manual_feedback\") {\n      scope.applyManualFeedback(msg.payload);\n      return;\n    }\n\n    if (!Array.isArray(msg.payload)) return;\n\n    if (msg.topic === \"valves\") {\n      scope.valves = msg.payload;\n      return;\n    }\n\n    scope.schedule_error = null;\n    scope.schedules = msg.payload;\n    if (scope.editing_state.submitting) {\n      scope.editing_state.submitting = false;\n      scope.editing_state.editing = false;\n    }\n    scope.editing_state.enabled_submitting = false;\n  });\n\n  scope.findValve = function(schedule) {\n    var pin = String(schedule.valve_pin || \"\");\n    for (var i = 0; i < scope.valves.length; i += 1) {\n      if (String(scope.valves[i].pin) === pin) return scope.valves[i];\n    }\n    return null;\n  };\n\n  scope.sectionLabel = function(schedule) {\n    var valve = scope.findValve(schedule);\n    if (valve && valve.section) return valve.section + \" (Válvula \" + valve.pin + \")\";\n    return \"Válvula \" + schedule.valve_pin;\n  };\n\n  scope.normalizeWeekdays = function(values) {\n    if (!Array.isArray(values)) return scope.weekday_options.map(function(weekday) { return weekday.id; });\n    return scope.weekday_options\n      .map(function(weekday) { return weekday.id; })\n      .filter(function(id) { return values.indexOf(id) !== -1; });\n  };\n\n  scope.hasSelectedWeekday = function(values) {\n    return scope.normalizeWeekdays(values).length > 0;\n  };\n\n  scope.isEveryday = function(values) {\n    return scope.normalizeWeekdays(values).length === scope.weekday_options.length;\n  };\n\n  scope.isWeekdaySelected = function(values, id) {\n    return scope.normalizeWeekdays(values).indexOf(id) !== -1;\n  };\n\n  scope.selectEveryday = function(form) {\n    form.weekdays = scope.weekday_options.map(function(weekday) { return weekday.id; });\n  };\n\n  scope.toggleWeekday = function(form, id) {\n    var values = scope.normalizeWeekdays(form.weekdays);\n    var index = values.indexOf(id);\n    if (index === -1) {\n      values.push(id);\n    } else {\n      values.splice(index, 1);\n    }\n    form.weekdays = scope.normalizeWeekdays(values);\n  };\n\n  scope.formatWeekdays = function(values) {\n    var selected = scope.normalizeWeekdays(values);\n    if (selected.length === scope.weekday_options.length) return \"Todos os dias\";\n    if (!selected.length) return \"Nenhum dia\";\n    return scope.weekday_options\n      .filter(function(weekday) { return selected.indexOf(weekday.id) !== -1; })\n      .map(function(weekday) { return weekday.label; })\n      .join(\", \");\n  };\n\n  scope.isScheduleEnabled = function(schedule) {\n    if (!schedule || !Object.prototype.hasOwnProperty.call(schedule, \"enabled\")) return true;\n    return schedule.enabled === true || Number(schedule.enabled) === 1;\n  };\n\n  scope.sectionStatus = function(schedule) {\n    if (!Object.prototype.hasOwnProperty.call(schedule, \"status\")) return null;\n    return schedule.status === true || Number(schedule.status) === 1 ? 1 : 0;\n  };\n\n  scope.clearManualPending = function(id) {\n    if (id === null || id === undefined) return;\n    var key = String(id);\n    if (scope.manual_pending_timers[key]) {\n      clearTimeout(scope.manual_pending_timers[key]);\n      delete scope.manual_pending_timers[key];\n    }\n    delete scope.manual_pending[key];\n  };\n\n  scope.startManualPending = function(schedule, action) {\n    if (!schedule || schedule.id === null || schedule.id === undefined) return;\n    var key = String(schedule.id);\n    scope.clearManualPending(key);\n    scope.manual_pending[key] = action;\n    scope.manual_pending_timers[key] = setTimeout(function() {\n      if (typeof scope.$applyAsync === \"function\") {\n        scope.$applyAsync(function() { scope.clearManualPending(key); });\n      } else {\n        scope.clearManualPending(key);\n      }\n    }, scope.manual_pending_timeout_ms);\n  };\n\n  scope.applyManualFeedback = function(payload) {\n    if (!payload || !payload.id) return;\n    for (var i = 0; i < scope.schedules.length; i += 1) {\n      if (String(scope.schedules[i].id) === String(payload.id)) {\n        scope.schedules[i].status = payload.action === \"on\" ? 1 : 0;\n      }\n    }\n    scope.clearManualPending(payload.id);\n  };\n\n  scope.applyEnabledFeedback = function(payload) {\n    if (!payload || !payload.id) return;\n    var enabled = payload.enabled === true || Number(payload.enabled) === 1;\n    for (var i = 0; i < scope.schedules.length; i += 1) {\n      if (String(scope.schedules[i].id) === String(payload.id)) {\n        scope.schedules[i].enabled = enabled ? 1 : 0;\n      }\n    }\n    if (String(scope.schedule_form.id) === String(payload.id)) {\n      scope.schedule_form.enabled = enabled;\n    }\n    scope.editing_state.enabled_submitting = false;\n  };\n\n  scope.sendId = function(id) {\n    return { ui_action: \"delete\", id: id };\n  };\n\n  scope.openDeleteConfirmation = function(schedule) {\n    scope.delete_state.open = true;\n    scope.delete_state.schedule = schedule;\n    scope.delete_state.time = schedule.time || \"--:--\";\n    scope.delete_state.section = scope.sectionLabel(schedule);\n  };\n\n  scope.closeDeleteConfirmation = function() {\n    scope.delete_state.open = false;\n    scope.delete_state.schedule = null;\n  };\n\n  scope.dismissScheduleError = function() {\n    scope.schedule_error = null;\n  };\n\n  scope.confirmDeleteSchedule = function() {\n    var schedule = scope.delete_state.schedule;\n    if (!schedule) return null;\n    scope.closeDeleteConfirmation();\n    return scope.sendId(schedule.id);\n  };\n\n  scope.cancelEdit = function() {\n    if (scope.editing_state.submitting) return;\n    scope.editing_state.editing = false;\n    scope.editing_state.submitting = false;\n    scope.editing_state.enabled_submitting = false;\n  };\n\n  scope.toEditTimeValue = function(value) {\n    if (!value) return null;\n    if (value instanceof Date) return value;\n    var match = String(value).match(/^(\\d{2}):(\\d{2})/);\n    if (!match) return null;\n    var date = new Date();\n    date.setHours(parseInt(match[1], 10), parseInt(match[2], 10), 0, 0);\n    return date;\n  };\n\n  scope.formatEditTime = function(value) {\n    if (!value) return \"\";\n    if (typeof value === \"string\" && /^\\d{2}:\\d{2}/.test(value)) return value.slice(0, 5);\n    var date = value instanceof Date ? value : new Date(value);\n    if (isNaN(date.getTime())) return \"\";\n    var hours = String(date.getHours()).padStart(2, \"0\");\n    var minutes = String(date.getMinutes()).padStart(2, \"0\");\n    return hours + \":\" + minutes;\n  };\n\n\n  scope.sendData = function(schedule) {\n    scope.schedule_error = null;\n    scope.editing_state.submitting = false;\n    scope.schedule_form.id = schedule.id;\n    scope.schedule_form.time = scope.toEditTimeValue(schedule.time);\n    scope.schedule_form.duration_minutes = parseInt(schedule.duration_minutes, 10) || null;\n    scope.schedule_form.valve_pin = parseInt(schedule.valve_pin, 10) || null;\n    scope.schedule_form.weekdays = scope.normalizeWeekdays(schedule.weekdays);\n    scope.schedule_form.status = schedule.status;\n    scope.schedule_form.enabled = scope.isScheduleEnabled(schedule);\n    scope.editing_state.editing = true;\n    return null;\n  };\n\n  scope.toggleEnabled = function(schedule) {\n    scope.schedule_error = null;\n    scope.editing_state.enabled_submitting = true;\n    return {\n      ui_action: \"toggle_enabled\",\n      id: schedule.id,\n      enabled: schedule.enabled ? 1 : 0\n    };\n  };\n\n  scope.editSchedule = function(schedule) {\n    scope.schedule_error = null;\n    scope.editing_state.submitting = true;\n    return {\n      ui_action: \"edit\",\n      id: schedule.id,\n      time: scope.formatEditTime(schedule.time),\n      duration_minutes: schedule.duration_minutes,\n      valve_pin: schedule.valve_pin,\n      weekdays: scope.normalizeWeekdays(schedule.weekdays),\n      status: schedule.status\n    };\n  };\n\n  scope.openManualDuration = function(schedule) {\n    scope.manual_state.open = true;\n    scope.manual_state.schedule = schedule;\n    scope.manual_state.section = scope.sectionLabel(schedule);\n    scope.manual_state.duration_minutes = parseInt(schedule.duration_minutes, 10) || 10;\n  };\n\n  scope.closeManualDuration = function() {\n    scope.manual_state.open = false;\n    scope.manual_state.schedule = null;\n  };\n\n  scope.confirmManualDuration = function() {\n    var schedule = scope.manual_state.schedule;\n    var duration = parseInt(scope.manual_state.duration_minutes, 10);\n    if (!schedule || !duration || duration < 1) return null;\n    if (scope.manual_pending[schedule.id]) return null;\n    scope.startManualPending(schedule, \"on\");\n    scope.closeManualDuration();\n    return { ui_action: \"manual\", action: \"on\", id: schedule.id, valve_pin: schedule.valve_pin, duration_minutes: duration };\n  };\n\n  scope.turnScheduleOff = function(schedule) {\n    if (!schedule || scope.manual_pending[schedule.id]) return null;\n    scope.startManualPending(schedule, \"off\");\n    return { ui_action: \"manual\", action: \"off\", id: schedule.id, valve_pin: schedule.valve_pin };\n  };\n})(scope);\n</script>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1810,
    "y": 380,
    "wires": [
      [
        "d4f14a77.92f3b1"
      ]
    ]
  },
  {
    "id": "d4f14a77.92f3b1",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Roteia ações da tabela de agendamentos",
    "func": "const payload = msg.payload || {};\n\nif (payload.ui_action === \"delete\") {\n    msg.payload = payload.id;\n    return [msg, null, null, null];\n}\n\nif (payload.ui_action === \"edit\") {\n    delete payload.ui_action;\n    msg.payload = payload;\n    return [null, msg, null, null];\n}\n\nif (payload.ui_action === \"manual\") {\n    msg.topic = \"manual_feedback\";\n    msg.payload = { id: payload.id, action: payload.action, valve_pin: payload.valve_pin, duration_minutes: payload.duration_minutes };\n    return [null, null, msg, null];\n}\n\nif (payload.ui_action === \"toggle_enabled\") {\n    msg.payload = { id: payload.id, enabled: payload.enabled };\n    return [null, null, null, msg];\n}\n\nreturn [null, null, null, null];",
    "outputs": 4,
    "noerr": 0,
    "x": 960,
    "y": 620,
    "wires": [
      [
        "7b2701e3.b525"
      ],
      [
        "c86fb12c.66d1e"
      ],
      [
        "5b92c8ad.78d3e8",
        "25072c26.808454"
      ],
      [
        "e7a2d5c1.4b8f9a"
      ]
    ]
  },
  {
    "id": "f6c23874.7f2538",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "f885d082.99431",
    "name": "Tempo atual",
    "order": 0,
    "width": "24",
    "height": "4",
    "format": "<style>\n:root { --ir-primary:#0f766e; --ir-text:#162033; --ir-muted:#667085; --ir-border:#e4e7ec; --ir-shadow:0 18px 45px rgba(16,24,40,.08); }\nbody.nr-dashboard-theme { background:#f4f7fb !important; font-family: Inter, Roboto, Arial, sans-serif; }\n.nr-dashboard-theme md-toolbar { background:#0f766e !important; }\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  border: 0 !important;\n  border-radius: 0 !important;\n  box-shadow: none !important;\n  background: transparent !important;\n  overflow: visible !important;\n}\n.nr-dashboard-cardpanel,\n.nr-dashboard-cardcontainer { background: transparent !important; }\n@media (max-width: 760px) {\n  #nr-dashboard md-content { overflow-x: hidden !important; }\n  .masonry-container { width: 100% !important; }\n  ui-card-panel {\n    display: block !important;\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n  }\n  .nr-dashboard-cardpanel,\n  .nr-dashboard-cardcontainer {\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n  }\n  .nr-dashboard-theme md-card.nr-dashboard-template {\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n    margin: 0 !important;\n  }\n}\n.ir-time { display:grid; place-items:center; min-height:210px; text-align:center; padding:24px; color:var(--ir-text); }\n.ir-time-label { margin:0; color:var(--ir-muted); font-size:14px; font-weight:750; }\n.ir-time-value { margin:12px 0 0; color:var(--ir-primary); font-size:clamp(44px,8vw,68px); line-height:1; font-weight:900; }\n.ir-time-help { margin:10px 0 0; color:var(--ir-muted); font-size:13px; }\n</style>\n\n<section class=\"ir-time\">\n  <div ng-repeat=\"setting in msg.payload\">\n    <p class=\"ir-time-label\">Desliga automaticamente após</p>\n    <p class=\"ir-time-value\">{{ setting.default_duration_minutes }} min</p>\n    <p class=\"ir-time-help\">Tempo padrão aplicado aos acionamentos manuais.</p>\n  </div>\n</section>",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1100,
    "y": 1260,
    "wires": [
      []
    ]
  },
  {
    "id": "dad8cd89.f8f81",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "255a1e83.f883a2",
    "name": "Histórico",
    "order": 0,
    "width": "24",
    "height": "16",
    "format": "<style>\n:root { --ir-bg:#f4f7fb; --ir-surface:#fff; --ir-text:#162033; --ir-muted:#667085; --ir-border:#e4e7ec; --ir-primary:#0f766e; --ir-primary-strong:#115e59; --ir-shadow:0 18px 45px rgba(16,24,40,.08); }\nbody.nr-dashboard-theme { background:var(--ir-bg) !important; font-family:Inter, Roboto, Arial, sans-serif; }\n.nr-dashboard-theme md-toolbar { background:#0f766e !important; box-shadow:0 2px 12px rgba(15,118,110,.18); }\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  border: 0 !important;\n  border-radius: 0 !important;\n  box-shadow: none !important;\n  background: transparent !important;\n  overflow: visible !important;\n}\n.nr-dashboard-cardpanel,\n.nr-dashboard-cardcontainer { background: transparent !important; }\n@media (max-width: 760px) {\n  #nr-dashboard md-content { overflow-x: hidden !important; }\n  .masonry-container { width: 100% !important; }\n  ui-card-panel {\n    display: block !important;\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n  }\n  .nr-dashboard-cardpanel,\n  .nr-dashboard-cardcontainer {\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n  }\n  .nr-dashboard-theme md-card.nr-dashboard-template {\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n    margin: 0 !important;\n  }\n}\n.ir-page, .ir-page * { box-sizing:border-box; }\n.ir-page { width:min(1120px,100%); margin:0 auto; padding:18px; color:var(--ir-text); }\n.ir-card { background:var(--ir-surface); border:1px solid var(--ir-border); border-radius:22px; box-shadow:var(--ir-shadow); padding:clamp(18px,3vw,28px); margin-bottom:18px; }\n.ir-eyebrow { margin:0 0 4px; color:var(--ir-primary); font-size:12px; font-weight:800; letter-spacing:.08em; text-transform:uppercase; }\n.ir-title { margin:0; font-size:clamp(24px,3vw,34px); line-height:1.1; font-weight:850; }\n.ir-subtitle { margin:8px 0 22px; color:var(--ir-muted); font-size:15px; }\n.ir-filters { display:grid; grid-template-columns:1fr 1fr auto; gap:14px; align-items:end; }\n.ir-field label { display:block; margin-bottom:7px; color:#344054; font-weight:750; font-size:13px; }\n.ir-input { width:100%; height:46px; border:1px solid #d0d5dd; border-radius:14px; padding:0 14px; background:#fff; color:var(--ir-text); font-size:15px; outline:none; }\n.ir-input:focus { border-color:var(--ir-primary); box-shadow:0 0 0 4px rgba(15,118,110,.12); }\n.ir-actions { display:flex; gap:10px; flex-wrap:wrap; }\n.ir-btn { border:0; border-radius:999px; padding:11px 16px; min-height:44px; cursor:pointer; font-weight:850; background:var(--ir-primary); color:#fff; box-shadow:0 10px 22px rgba(15,118,110,.20); }\n.ir-btn:hover { background:var(--ir-primary-strong); }\n.ir-btn-secondary { background:#eef6f5; color:var(--ir-primary-strong); box-shadow:none; }\n.ir-table-wrap { overflow-x:auto; border:1px solid var(--ir-border); border-radius:16px; }\n.ir-table { width:100%; min-width:760px; border-collapse:collapse; }\n.ir-table th { background:#f8fafc; color:#475467; font-size:12px; text-transform:uppercase; letter-spacing:.06em; text-align:left; padding:14px 16px; }\n.ir-table td { padding:15px 16px; border-top:1px solid var(--ir-border); color:#1d2939; }\n.ir-table tr:hover td { background:#fbfefd; }\n.ir-empty { text-align:center; padding:34px 18px; border:1px dashed #cbd5e1; border-radius:20px; background:#fff; color:var(--ir-muted); }\n@media (max-width:760px) { .ir-page{padding:8px 4px 24px;} .ir-card{padding:16px;border-radius:16px;} .ir-filters{grid-template-columns:1fr;} .ir-actions,.ir-btn{width:100%;} .ir-table-wrap{overflow:visible;border:0;} .ir-table{min-width:0;} .ir-table thead{display:none;} .ir-table,.ir-table tbody,.ir-table tr,.ir-table td{display:block;width:100%;} .ir-table tr{padding:12px 0;border-bottom:1px solid var(--ir-border);} .ir-table tr:last-child{border-bottom:0;} .ir-table td{display:flex;justify-content:space-between;gap:16px;padding:6px 0;border:0;text-align:right;} .ir-table td::before{content:attr(data-label);color:var(--ir-muted);font-size:12px;font-weight:800;text-transform:uppercase;text-align:left;} }\n</style>\n\n<div class=\"ir-page\">\n  <form class=\"ir-card\">\n    <p class=\"ir-eyebrow\">Histórico</p>\n    <h1 class=\"ir-title\">Filtrar históricos</h1>\n    <p class=\"ir-subtitle\">Consulte acionamentos por período ou veja apenas os registros de hoje.</p>\n\n    <div class=\"ir-filters\">\n      <div class=\"ir-field\">\n        <label>De</label>\n        <input class=\"ir-input\" type=\"date\" id=\"start_date\" ng-model=\"start_date\">\n      </div>\n      <div class=\"ir-field\">\n        <label>Até</label>\n        <input class=\"ir-input\" type=\"date\" id=\"end_date\" ng-model=\"end_date\">\n      </div>\n      <div class=\"ir-actions\">\n        <button type=\"button\" class=\"ir-btn\" ng-click=\"send({payload:historyRange()})\">Pesquisar</button>\n        <button type=\"button\" class=\"ir-btn ir-btn-secondary\" ng-click=\"send({payload:historyDay()})\">Hoje</button>\n      </div>\n    </div>\n  </form>\n\n  <div class=\"ir-card\" ng-if=\"msg.payload && msg.payload.length > 0\">\n    <div class=\"ir-table-wrap\">\n      <table class=\"ir-table\" id=\"table\" border=\"0\">\n        <thead>\n          <tr><th>Válvula</th><th>Data</th><th>Início</th><th>Fim</th><th>Dia</th><th>Modo</th></tr>\n        </thead>\n        <tbody>\n          <tr ng-repeat=\"log in msg.payload\">\n            <td data-label=\"Válvula\">{{ log.valve }}</td><td data-label=\"Data\">{{ log.date }}</td><td data-label=\"Início\">{{ log.start }}</td><td data-label=\"Fim\">{{ log.end }}</td><td data-label=\"Dia\">{{ log.weekday }}</td><td data-label=\"Modo\">{{ log.mode }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n  </div>\n\n  <div class=\"ir-empty\" ng-if=\"!msg.payload || msg.payload.length === 0\">Nenhum histórico encontrado para o filtro atual.</div>\n</div>\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n  this.scope.start_date = '';\n  this.scope.end_date = '';\n  this.scope.historyRange = () => ({ action: \"range\", start_date: this.start_date.value, end_date: this.end_date.value });\n  this.scope.historyDay = () => ({ action: \"day\" });\n</script>",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1080,
    "y": 1500,
    "wires": [
      [
        "ef1f5bb.cb3c4a8"
      ]
    ]
  },
  {
    "id": "2f6461be.56130e",
    "type": "comment",
    "z": "33af9e8a.0fb3f2",
    "name": "Filtra históricos",
    "info": "",
    "x": 280,
    "y": 1460,
    "wires": []
  },
  {
    "id": "681694c2.ce0b1c",
    "type": "ui_template",
    "z": "33af9e8a.0fb3f2",
    "group": "67e3dc5a.39e7f4",
    "name": "Novo agendamento",
    "order": 0,
    "width": "24",
    "height": "16",
    "format": "<style>\n:root {\n  --ir-bg: #f4f7fb;\n  --ir-surface: #ffffff;\n  --ir-text: #162033;\n  --ir-muted: #667085;\n  --ir-border: #e4e7ec;\n  --ir-primary: #0f766e;\n  --ir-primary-strong: #115e59;\n  --ir-shadow: 0 18px 45px rgba(16, 24, 40, .08);\n}\nbody.nr-dashboard-theme { background: var(--ir-bg) !important; font-family: Inter, Roboto, Arial, sans-serif; }\n.nr-dashboard-theme md-toolbar { background: #0f766e !important; box-shadow: 0 2px 12px rgba(15, 118, 110, .18); }\n.nr-dashboard-theme md-card.nr-dashboard-template {\n  border: 0 !important;\n  border-radius: 0 !important;\n  box-shadow: none !important;\n  background: transparent !important;\n  overflow: visible !important;\n}\n.nr-dashboard-cardpanel,\n.nr-dashboard-cardcontainer { background: transparent !important; }\n@media (max-width: 760px) {\n  #nr-dashboard md-content { overflow-x: hidden !important; }\n  .masonry-container { width: 100% !important; }\n  ui-card-panel {\n    display: block !important;\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n  }\n  .nr-dashboard-cardpanel,\n  .nr-dashboard-cardcontainer {\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n  }\n  .nr-dashboard-theme md-card.nr-dashboard-template {\n    position: relative !important;\n    left: 0 !important;\n    top: 0 !important;\n    width: 100% !important;\n    height: auto !important;\n    min-height: 0 !important;\n    margin: 0 !important;\n  }\n}\n.ir-page, .ir-page * { box-sizing: border-box; }\n.ir-page { width: min(760px, 100%); margin: 0 auto; padding: 18px; color: var(--ir-text); }\n.ir-card { background: var(--ir-surface); border: 1px solid var(--ir-border); border-radius: 22px; box-shadow: var(--ir-shadow); padding: clamp(22px, 4vw, 34px); }\n.ir-eyebrow { margin: 0 0 6px; color: var(--ir-primary); font-size: 12px; font-weight: 800; letter-spacing: .08em; text-transform: uppercase; }\n.ir-title { margin: 0; font-size: clamp(26px, 3vw, 36px); line-height: 1.1; font-weight: 850; }\n.ir-subtitle { margin: 10px 0 26px; color: var(--ir-muted); font-size: 15px; }\n.ir-form { display: grid; gap: 18px; }\n.ir-field label { display: block; margin-bottom: 7px; color: #344054; font-weight: 750; font-size: 13px; }\n.ir-input, .ir-select { width: 100%; height: 48px; border: 1px solid #d0d5dd; border-radius: 14px; padding: 0 14px; background: #fff; color: var(--ir-text); font-size: 16px; outline: none; transition: border-color .15s ease, box-shadow .15s ease; }\n.ir-input:focus, .ir-select:focus { border-color: var(--ir-primary); box-shadow: 0 0 0 4px rgba(15, 118, 110, .12); }\n.ir-help { margin: 6px 0 0; color: var(--ir-muted); font-size: 12px; }\n.ir-weekdays { display: flex; flex-wrap: wrap; gap: 8px; }\n.ir-weekday { display: inline-flex; align-items: center; gap: 7px; border: 1px solid var(--ir-border); border-radius: 999px; padding: 9px 12px; background: #f8fafc; color: var(--ir-text); font-size: 13px; font-weight: 800; cursor: pointer; }\n.ir-weekday input { margin: 0; }\n.ir-weekday-all { background: #eef6f5; color: var(--ir-primary-strong); }\n.ir-loading { padding: 12px 16px; border-radius: 14px; background: #ecfdf3; border: 1px solid #bbf7d0; color: var(--ir-primary-strong); font-weight: 800; }\n.ir-error-banner { display: flex; align-items: center; justify-content: space-between; gap: 12px; padding: 12px 16px; border-radius: 14px; background: #fef2f2; border: 1px solid #fecaca; color: #dc2626; font-weight: 700; }\n.ir-error-banner button { border: 0; background: transparent; color: inherit; font-weight: 800; cursor: pointer; padding: 4px 8px; }\n.ir-actions { display: flex; justify-content: flex-end; padding-top: 8px; }\n.ir-btn { border: 0; border-radius: 999px; padding: 12px 22px; min-height: 46px; cursor: pointer; font-weight: 850; font-size: 15px; background: var(--ir-primary); color: #fff; box-shadow: 0 12px 24px rgba(15, 118, 110, .24); transition: transform .12s ease, background .12s ease, opacity .12s ease; }\n.ir-btn:hover { transform: translateY(-1px); background: var(--ir-primary-strong); }\n.ir-btn:disabled { opacity: .48; cursor: not-allowed; transform: none; }\n.ir-summary { display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; margin: 2px 0 8px; }\n.ir-chip { border: 1px solid var(--ir-border); border-radius: 16px; padding: 12px; background: #f8fafc; }\n.ir-chip span { display: block; color: var(--ir-muted); font-size: 12px; margin-bottom: 4px; }\n.ir-chip strong { color: var(--ir-text); font-size: 16px; }\n@media (max-width: 640px) { .ir-page { padding: 8px 4px 24px; } .ir-card { padding: 20px 16px; border-radius: 16px; } .ir-title { font-size: 28px; } .ir-subtitle { margin-bottom: 20px; } .ir-form { gap: 16px; } .ir-summary { grid-template-columns: repeat(3, minmax(0, 1fr)); gap: 6px; } .ir-chip { min-width: 0; padding: 10px 8px; border-radius: 12px; } .ir-chip span { font-size: 10px; } .ir-chip strong { display: block; overflow: hidden; text-overflow: ellipsis; font-size: 14px; white-space: nowrap; } .ir-actions, .ir-btn { width: 100%; } }\n</style>\n\n<div class=\"ir-page\">\n  <form class=\"ir-card ir-form\">\n    <div>\n      <p class=\"ir-eyebrow\">Novo horário</p>\n      <h1 class=\"ir-title\">Novo agendamento</h1>\n      <p class=\"ir-subtitle\">Defina quando a irrigação deve ligar, por quanto tempo e em qual seção.</p>\n    </div>\n\n    <div class=\"ir-error-banner\" ng-if=\"create_error\">\n      <span>{{ create_error }}</span>\n      <button type=\"button\" ng-click=\"dismissCreateError()\">Fechar</button>\n    </div>\n\n    <div class=\"ir-loading\" ng-if=\"create_state.submitting\">Cadastrando agendamento...</div>\n\n    <div class=\"ir-summary\">\n      <div class=\"ir-chip\"><span>Horário</span><strong>{{ formatTime(create_form.time) }}</strong></div>\n      <div class=\"ir-chip\"><span>Duração</span><strong>{{ create_form.duration_minutes || 0 }} min</strong></div>\n      <div class=\"ir-chip\"><span>Seção</span><strong>{{ sectionName(create_form.section) }}</strong></div>\n      <div class=\"ir-chip\"><span>Dias</span><strong>{{ formatWeekdays(create_form.weekdays) }}</strong></div>\n    </div>\n\n    <div class=\"ir-field\">\n      <label for=\"schedule\">Horário para ligar</label>\n      <input class=\"ir-input\" type=\"time\" id=\"time\" name=\"time\" ng-model=\"create_form.time\" required>\n    </div>\n\n    <div class=\"ir-field\">\n      <label for=\"duration_minutes\">Tempo ligado</label>\n      <input class=\"ir-input\" type=\"number\" id=\"duration_minutes\" name=\"duration_minutes\" min=\"1\" step=\"1\" placeholder=\"Ex.: 15\" ng-model=\"create_form.duration_minutes\" required>\n      <p class=\"ir-help\">Informe a duração em minutos.</p>\n    </div>\n\n    <div class=\"ir-field\">\n      <label for=\"section\">Seção</label>\n      <select class=\"ir-select\" name=\"section\" id=\"section\" ng-model=\"create_form.section\" required>\n        <option value=\"\">Selecione a seção</option>\n        <option ng-repeat=\"valve in valves track by valve.pin\" ng-value=\"valve.pin\">{{ valve.section }}</option>\n      </select>\n    </div>\n\n    <div class=\"ir-field\">\n      <label>Dias da semana</label>\n      <div class=\"ir-weekdays\">\n        <label class=\"ir-weekday ir-weekday-all\">\n          <input type=\"checkbox\" ng-checked=\"isEveryday(create_form.weekdays)\" ng-click=\"selectEveryday(create_form)\"> Todos os dias\n        </label>\n        <label class=\"ir-weekday\" ng-repeat=\"weekday in weekday_options track by weekday.id\">\n          <input type=\"checkbox\" ng-checked=\"isWeekdaySelected(create_form.weekdays, weekday.id)\" ng-click=\"toggleWeekday(create_form, weekday.id)\"> {{ weekday.label }}\n        </label>\n      </div>\n      <p class=\"ir-help\">Selecione pelo menos um dia. Todos os dias grava a recorrência semanal completa.</p>\n    </div>\n\n    <div class=\"ir-actions\">\n      <button type=\"button\" class=\"ir-btn\" ng-disabled=\"create_state.submitting || !create_form.time || !create_form.duration_minutes || !create_form.section || !hasSelectedWeekday(create_form.weekdays)\" ng-click=\"send({payload:createSchedule()})\">{{ create_state.submitting ? \"Cadastrando...\" : \"Cadastrar agendamento\" }}</button>\n    </div>\n  </form>\n</div>\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n(function(scope) {\n  scope.weekday_options = [\n    { id: \"mon\", label: \"Seg\" },\n    { id: \"tue\", label: \"Ter\" },\n    { id: \"wed\", label: \"Qua\" },\n    { id: \"thu\", label: \"Qui\" },\n    { id: \"fri\", label: \"Sex\" },\n    { id: \"sat\", label: \"Sáb\" },\n    { id: \"sun\", label: \"Dom\" }\n  ];\n  scope.create_form = scope.create_form || { time: \"\", duration_minutes: \"\", section: \"\", weekdays: scope.weekday_options.map(function(weekday) { return weekday.id; }) };\n  if (!Array.isArray(scope.create_form.weekdays)) {\n    scope.create_form.weekdays = scope.weekday_options.map(function(weekday) { return weekday.id; });\n  }\n  scope.create_state = scope.create_state || { submitting: false };\n  scope.create_error = scope.create_error || null;\n  scope.valves = scope.valves || [];\n\n  scope.$watch(\"msg\", function(msg) {\n    if (!msg) return;\n\n    if (msg.topic === \"schedule_create_error\") {\n      scope.create_state.submitting = false;\n      scope.create_error = msg.payload || null;\n      return;\n    }\n\n    if (Array.isArray(msg.payload)) {\n      scope.valves = msg.payload;\n    }\n  });\n\n  scope.formatTime = function(value) {\n    if (!value) return \"--:--\";\n    if (typeof value === \"string\" && /^\\d{2}:\\d{2}/.test(value)) return value.slice(0, 5);\n    var date = value instanceof Date ? value : new Date(value);\n    if (isNaN(date.getTime())) return \"--:--\";\n    var hours = String(date.getHours()).padStart(2, \"0\");\n    var minutes = String(date.getMinutes()).padStart(2, \"0\");\n    return hours + \":\" + minutes;\n  };\n\n  scope.sectionName = function(value) {\n    for (var i = 0; i < scope.valves.length; i += 1) {\n      if (scope.valves[i].pin === value) {\n        return scope.valves[i].section;\n      }\n    }\n\n    return \"-\";\n  };\n\n  scope.normalizeWeekdays = function(values) {\n    if (!Array.isArray(values)) return [];\n    return scope.weekday_options\n      .map(function(weekday) { return weekday.id; })\n      .filter(function(id) { return values.indexOf(id) !== -1; });\n  };\n\n  scope.hasSelectedWeekday = function(values) {\n    return scope.normalizeWeekdays(values).length > 0;\n  };\n\n  scope.isEveryday = function(values) {\n    return scope.normalizeWeekdays(values).length === scope.weekday_options.length;\n  };\n\n  scope.isWeekdaySelected = function(values, id) {\n    return scope.normalizeWeekdays(values).indexOf(id) !== -1;\n  };\n\n  scope.selectEveryday = function(form) {\n    form.weekdays = scope.weekday_options.map(function(weekday) { return weekday.id; });\n  };\n\n  scope.toggleWeekday = function(form, id) {\n    var values = scope.normalizeWeekdays(form.weekdays);\n    var index = values.indexOf(id);\n    if (index === -1) {\n      values.push(id);\n    } else {\n      values.splice(index, 1);\n    }\n    form.weekdays = scope.normalizeWeekdays(values);\n  };\n\n  scope.formatWeekdays = function(values) {\n    var selected = scope.normalizeWeekdays(values);\n    if (selected.length === scope.weekday_options.length) return \"Todos os dias\";\n    if (!selected.length) return \"Nenhum dia\";\n    return scope.weekday_options\n      .filter(function(weekday) { return selected.indexOf(weekday.id) !== -1; })\n      .map(function(weekday) { return weekday.label; })\n      .join(\", \");\n  };\n\n  scope.dismissCreateError = function() {\n    scope.create_error = null;\n  };\n\n  scope.createSchedule = function() {\n    scope.create_error = null;\n    scope.create_state.submitting = true;\n    return {\n      time: scope.formatTime(scope.create_form.time),\n      duration_minutes: scope.create_form.duration_minutes,\n      section: scope.create_form.section,\n      weekdays: scope.normalizeWeekdays(scope.create_form.weekdays)\n    };\n  };\n})(scope);\n</script>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1200,
    "y": 200,
    "wires": [
      [
        "38e56a9f.2ca156"
      ]
    ]
  },
  {
    "id": "e1d8e3e3.a8b4e",
    "type": "debug",
    "z": "33af9e8a.0fb3f2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1160,
    "y": 920,
    "wires": []
  },
  {
    "id": "98667ea6.f9c95",
    "type": "ui_group",
    "z": "",
    "name": "Editar tempo padrão",
    "tab": "7a5ad52a.079c2c",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "50133a39.273354",
    "type": "ui_group",
    "z": "",
    "name": "Lista de agendamentos",
    "tab": "59749dbb.d7d844",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "f885d082.99431",
    "type": "ui_group",
    "z": "",
    "name": "Tempo atual",
    "tab": "7a5ad52a.079c2c",
    "order": 2,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "255a1e83.f883a2",
    "type": "ui_group",
    "z": "",
    "name": "Consulta",
    "tab": "56e52954.09e758",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "67e3dc5a.39e7f4",
    "type": "ui_group",
    "z": "",
    "name": "Cadastro",
    "tab": "e1bc117a.c215c",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "7a5ad52a.079c2c",
    "type": "ui_tab",
    "z": "",
    "name": "Tempo padrão para desligar",
    "icon": "timer",
    "order": 4,
    "disabled": true,
    "hidden": true
  },
  {
    "id": "59749dbb.d7d844",
    "type": "ui_tab",
    "z": "",
    "name": "Agendamentos",
    "icon": "event_note",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "56e52954.09e758",
    "type": "ui_tab",
    "z": "",
    "name": "Histórico",
    "icon": "history",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "e1bc117a.c215c",
    "type": "ui_tab",
    "z": "",
    "name": "Novo Agendamento",
    "icon": "add_alarm",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "e7a2d5c1.4b8f9a",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata liga/desliga agendamento",
    "func": "const { id, enabled } = msg.payload || {};\nconst value = enabled === true || Number(enabled) === 1 ? 1 : 0;\n\nmsg.payload = `${id},${value}`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1210,
    "y": 620,
    "wires": [
      [
        "f3c91a2b.6d4e8f"
      ]
    ]
  },
  {
    "id": "f3c91a2b.6d4e8f",
    "type": "exec",
    "z": "33af9e8a.0fb3f2",
    "command": "/opt/irrigation/bin/irrigation schedule enabled",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Liga/desliga agendamento",
    "x": 1510,
    "y": 620,
    "wires": [
      [
        "a4d7e9c2.18b6f3"
      ],
      [
        "d2b6f7a8.9e1c4d"
      ],
      []
    ]
  },
  {
    "id": "a4d7e9c2.18b6f3",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Confirma liga/desliga agendamento",
    "func": "const output = String(msg.payload || \"\").trim();\n\nif (!output) {\n    return null;\n}\n\nmsg.topic = \"schedule_enabled\";\ntry {\n    msg.payload = JSON.parse(output);\n} catch (err) {\n    msg.payload = output;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1810,
    "y": 620,
    "wires": [
      [
        "25072c26.808454",
        "7c602e02.7e8c7"
      ]
    ]
  },
  {
    "id": "d2b6f7a8.9e1c4d",
    "type": "function",
    "z": "33af9e8a.0fb3f2",
    "name": "Formata erro liga/desliga agendamento",
    "func": "if (!msg.payload) {\n    return null;\n}\n\nmsg.topic = \"schedule_enabled_error\";\nmsg.payload = String(msg.payload).replace(/^Error:\\s*/, \"\").trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1830,
    "y": 660,
    "wires": [
      [
        "25072c26.808454"
      ]
    ]
  }
]
